body
{
	/*font-family:Georgia;*/
	padding:14px;
	text-align:center;
}

h1
{
	padding-left:15px;
}

label
{
	padding-left:15px;
}

#wrapper {
	margin: 0 auto;
	width: 950px;
	text-align:left;
}

#logo
{
	padding-bottom:7px;
	padding-left:10px;
}

#main
{
	width:950px;
}

#sharedItems
{
	border: grey 1px solid;
	padding:10px;
	float: left;
	width: 220px;
	height: 100%;
	background-color: whitesmoke;
	display:none;
}

#contents
{
	padding-left:10px;
	width:100%;
	height:100%;
	padding:10px;
}

#sortDocument
{
	float: left;
	font-size:11px;	
	font-weight:bold;
	width:450px;
	padding-left:30px;
	padding-bottom:3px;
	padding-top:3px;
	background:#ddd url(../images/bg-button.gif) repeat-x 0 0;
	border-bottom: lightgrey 1px solid;
	border-top: lightgrey 1px solid;
	border-left: lightgrey 1px solid;
} 

#sortSize
{
	font-size:11px;	
	font-weight:bold;
	float: left;
	width:400px;
	padding-bottom:3px;
	padding-top:3px;
	background:#ddd url(../images/bg-button.gif) repeat-x 0 0;
	border-bottom: lightgrey 1px solid;
	border-top: lightgrey 1px solid;
} 

#sortDate
{
	font-size:11px;	
	font-weight:bold;
	text-align:right;
	padding-right:10px;
	padding-bottom:3px;
	padding-top:3px;
	background:#ddd url(../images/bg-button.gif) repeat-x 0 0;
	border-bottom: lightgrey 1px solid;
	border-top: lightgrey 1px solid;
	border-right: lightgrey 1px solid;
}

.resultDocument
{
	float: left;
	width:410px;
	padding-left:20px;
	padding-bottom:5px;
	padding-top:5px;
} 

.resultSize
{
	font-size:13px;	
	padding-top:0px;
	float: left;
	width:345px;
	overflow:visible;
} 

.resultDate
{
	font-size:12px;	
	padding-top:10px;
	text-align:right;
	white-space:nowrap;
	width:120px;
	float: left;
}

.resultRow
{
	margin-top:5px;
	margin-bottom:0px;
	float:left;	
	padding:5px;
	background-color: #FFFFCC;
	border: grey 1px solid;
}

.docType
{
	font-size:14px;	
	font-weight:bold;
	padding-bottom:4px;
}

.title
{
	font-size:12px;	
	padding-left:7px;
	padding-bottom:4px;
}

.desc
{
	font-size:12px;	
	padding-left:7px;
}

.filename
{
	padding-left: 7px;
	font-size: 14px;
	color: #bd0000;
	font-weight:bold;
	padding-bottom:4px;
}

.filename img
{
	background-color:Transparent;
	height:16px;
	width:16px;
	padding-right:7px;
}

.attributes
{
	margin-left:10px;
	float:right;
	width:850px;
}

.attributeItem
{
	margin-left:15px;
	float:left;
	width:250px;
}

.attributeName
{
	float:left;
	font-size: 13px;
	font-weight:bold;
	padding-right:5px;
	padding-bottom:4px;
}

.attributeValue
{
	font-size: 13px;
	padding-bottom:4px;
}

.alternateRow
{
	background-color: red;
}

.dlbutton
{
	width:28px;
	float:left;
}

.hidden
{
	display:none;
}

.visible
{
	display:inline;
}
