@charset "iso-8859-1";
/* CSS Document */

/* Text Styles*/
body {
	background-image: url(../images/background.gif);
	font-family: "Trebuchet MS",/*"Formata",*/ Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.welcome {
	font-family: "Trebuchet MS",/*"Formata",*/ Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
p {
	display: block;
	margin: 0px 0px 7px 0px;
	text-indent: 7px;
}
h1 {
	font-size: 24px;
	font-weight: bold;
	color: #BE0000;
}
h2 {
	font-size: 16px;
	font-weight: bold;
	color: #BE0000;
}
h3 {
	font-size: 14px;
	color: #BE0000;
}
span#announce {
	display: block;
	margin: 0px 0px 3px 0px;
	font-size: 22px;
	font-weight: bold;
	color: #000000;
}
.price {
	font-weight: bold;
	color: #be0000;
}
div#tourtext {
	/*display: block;
	margin: 0px 30px 0px 30px;*/
}
div#tourtext h1 {
	display: block;
	margin: 0px -5px 5px -5px;
	padding: 10px 5px 10px 5px;
	border-top: 1px dashed #be0000;
	border-bottom: 1px dashed #be0000;
	background-color: #f7f7f7;
	font-size: 16px;
	font-weight: bold;
	font-variant: small-caps;
	text-align:center;
	color: #000;
}

div#coretext h1 {
	display: block;
	font-size: 18px;
	font-weight: bold;
	color: #000;
}	
div#tourtext h2 {
	font-size: 11px;
	font-weight: normal;
	color: #666;
}
div#coretext .subhead {
	font-size: 12px;
	font-style:italic;
	color: #be0000;
}
div#coretext h2 {
	display: block;
	margin: 10px 0px 0px 0px;
	font-size: 11px;
	font-weight: bold;
	font-style:italic;
	color: #BE0000;
}

div#coretext p {
	font-size: 11px;
	color: #333;
}
div#coretext blockquote {
	display: block;	
	background-color: #EEE;
	padding: 12px;
	margin: 0px 0px 12px 12px;
	width: 50%;
	text-align:center;
	font-size: 13px;
	font-style:italic;
	color: #000;
}
div#footertext {
	clear: both;
	font-size: 10px;
	color: #999999;
	text-align: center;
	margin: 20px;
}
	
/* default Link Styles */
a:link {
	color: #333;
}

a:visited {
	color:	#666;
}

a:hover {
	color: #BE0000;
}

a:active {
	color: #666;
}



table#imagebuttons {
	font-weight: bold;
	color: #000;
	text-align: center;
}

table .content  {
	background-color: #fff;
	border: 2px solid #ccc;
	text-align: left;
}

table .content caption {
	text-align:left;
	font-size: 14px;
	color: #be0000;
	padding: 20px 0px 10px 10px;
	font-variant:small-caps;
}

table .content th {
	font-size: 12px;
	font-weight: bold;
	background-color: #f7f7f7;
}

table .content tr {
}

table .content td {
	vertical-align:top;
}

table .related  {
	background-color: #f7f7f7;
}

table .related caption {
	text-align:left;
	font-size: 12px;
	color: #666;
	padding: 20px 0px 10px 10px;
	font-variant:small-caps;
}

table .related th {
	font-size: 10px;
	font-weight: bold;
	background-color: #f7f7f7;
}

table .related tr {
	background-color: #fff;
}

table .related td {
	font-size: 9px;
	text-align: center;
}

.matrix  {
	background-color: #f7f7f7;
	border: 2px solid #be0000;
}

.matrix caption {
	text-align:left;
	background-color: #be0000;
	font-size: 14px;
	color: #fff;
	padding: 20px 0px 10px 10px;
	font-variant:small-caps;
}

.matrix th {
	font-size: 12px;
	font-weight: bold;
	background-color: #f7f7f7;
}

.matrix tr {
	background-color: #fff;
}

.matrix td {
	text-align: center;
}

.quote li {
	display: block;
	position: relative;
	float: right;
	clear: both;
	margin: 0px 5px 0px 0px; 
	padding: 4px 8px 4px 8px;
	width: 145px;
	color: #666;
	list-style: none;
	font-size: 14px;
	background-color: #f7f7f7;
	border-left: 2px solid #ddd;
	border-right: 2px solid #ddd;
	text-align: center;
}
.quote li#startquote {
	text-align:left;
	font-size: 300%;
	color: #666;
	background-color: #f7f7f7;
	border-bottom: 0px solid #f7f7f7;
	border-left: 2px solid #ddd;
	border-right: 2px solid #ddd;
	border-top: 2px solid #ddd;	
	margin: 0px 5px -20px 0px; 
}
.quote li#endquote {
	text-align:right;
	font-size: 300%;
	color: #666;
	background-color: #f7f7f7;
	border-bottom: 2px solid #ddd;
	border-left: 2px solid #ddd;
	border-right: 2px solid #ddd;
	border-top: 0px solid #f7f7f7;
	margin: 0px 5px -10px 0px; 
}
.quote li#byline {
	text-align:right;
	font-size: 10px;
	font-style: italic;
	color: #fff;
	background-color: #999;
	border-bottom: 2px solid #ddd;
	border-left: 2px solid #ddd;
	border-right: 2px solid #ddd;
	border-top: 0px solid #999;
	
}table .alert {

	background-color: #fff;
	border: 2px solid #be0000;
	text-align: left;
}
table .alert th {
	font-size: 12px;
	font-weight: bold;
	background-color: #be0000;
	color: #ffffff;
	font-variant: small-caps;
}

table .alert, table .select {
	margin: 0px 0px 4px 0px;
}
table .select td#borders{

	background-color: #fff;
	border: 2px solid #CCCCCC;
	text-align: left;
}
table .select th {
	font-size: 14px;
	font-weight: bold;
	background-color: #D8E4EF;
	background-image: url(../Application/images/bar.png);
	background-position: 100% 100% top left;
	background-repeat: repeat-x;
	border: 1px solid #D8E4EF;
}

table .menu {
}

table .menu th{
	display:block;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	background-color: #D8E4EF;
	background-image: url(../Application/images/bar.png);
	background-position: top left;
	background-repeat: repeat-x;
	text-align: left;
	padding: 4px;
	border: 2px solid #CCC;
	
}

table .menu td{

	background-color: #EAF0F7;
	
}

table .menu td.roll{

	background-color: #D8E4EF;
	
}

table .menu td.disabled{

	background-color: #f7f7f7;
	
}

table td#tree {
	border: 1px solid #D8E4EF;
}

table td#girl {
	background-color: #ffffff;
	background-image: url(../Application/images/backgroundGrad.gif);
	background-position: bottom left;
	background-repeat: repeat-x;
}