/*
Copyright (c) 2008, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.5.2
*/
.ygtvitem
{
}
.ygtvitem table
{
	margin-bottom: 0;
	border: none;
}
.ygtvitem td
{
	border: none;
	padding: 0;
}
.ygtvtn
{
	background: url(./Images/treeview-sprite.gif) no-repeat 0px -5600px;
	width: 18px;
	height: 22px;
}
.ygtvtm
{
	width: 18px;
	height: 22px;
	cursor: pointer;
	background: url(./Images/treeview-sprite.gif) no-repeat 0px -5600px;
}
.ygtvtmh
{
	width: 18px;
	height: 22px;
	cursor: pointer;
	background: url(./Images/treeview-sprite.gif) no-repeat 0px -5600px;
}
.ygtvtp
{
	width: 18px;
	height: 22px;
	cursor: pointer;
	background: url(./Images/treeview-sprite.gif) no-repeat 0px -5600px;
}
.ygtvtph
{
	width: 18px;
	height: 22px;
	cursor: pointer;
	background: url(./Images/treeview-sprite.gif) no-repeat 0px -5600px;
}
.ygtvln
{
	width: 18px;
	height: 22px;
	background: url(./Images/treeview-sprite.gif) no-repeat 0px -5600px;
}
.ygtvlm
{
	width: 18px;
	height: 22px;
	cursor: pointer;
	background: url(./Images/treeview-sprite.gif) no-repeat 0px -5600px;
}
.ygtvlmh
{
	width: 18px;
	height: 22px;
	cursor: pointer;
	background: url(./Images/treeview-sprite.gif) no-repeat 0px -5600px;
}
.ygtvlp
{
	width: 18px;
	height: 22px;
	cursor: pointer;
	background: url(./Images/treeview-sprite.gif) no-repeat 0px -5600px;
}
.ygtvlph
{
	width: 18px;
	height: 22px;
	cursor: pointer;
	background: url(./Images/treeview-sprite.gif) no-repeat 0px -5600px;
}
.ygtvloading
{
	width: 18px;
	height: 22px;
	background: url(./Images/treeview-sprite.gif) no-repeat 0px -5600px;
}
.ygtvdepthcell
{
	width: 18px;
	height: 22px;
	background: url(./Images/treeview-sprite.gif) no-repeat 0px -5600px;
}
.ygtvblankdepthcell
{
	width: 18px;
	height: 22px;
}
.ygtvchildren
{
}
* html .ygtvchildren
{
	height: 2%;
}
.ygtvlabel, .ygtvlabel:link, .ygtvlabel:visited, .ygtvlabel:hover
{
	margin-left: 2px;
	text-decoration: none;
	background-color: white;
}
.ygtvspacer
{
	height: 22px;
	width: 12px;
}
