body
{
	margin:0;
	font-family: Helvetica;
	font-size:1em;
}

input, select
{
	height:20px;
	font-size:.7em;
	width:100%;
	padding:1px;
	/*border:1px solid gray;*/
	margin:0 0 4 0;
}

/* Dialogs */
.dialog { font-size: 0.8em;width:100%;height:100%;overflow:auto; }
.dialog fieldset { padding:0; border:0; margin-top:25px; }
.dialog h1 { font-size: 1.1em; margin: .6em 0;float:left;padding-bottom:5px; }
.dialog fieldset { padding:0; border:0; margin-top:25px; }
.dialog input { float:left;text-align:left;width:50px; }
.dialog div { float:left; }
.inputRow { font-size: 1.0em;width:100%;height:30px;float:left;vertical-align:bottom;margin-left:20px; }
.err { color:Red;margin-left:30px;padding-top:12px;font-weight:bold; }

/* rotate */
#beginPage, #endPage { height:20px;float:none;text-align:left;width:50px;margin:0 0 4 0;font-size:.7em; }

#ddlDocuments
{
	height:25px;
	font-size:.7em;
	width:100%;
	padding:0px;
	margin-left:0px;
	/*border:1px solid gray;
	margin:0 0 0 4;*/
}

#txtFolder
{
	width:172px;	
}

label
{
	color:Gray;
	font-size:11px;
	font-weight:bold;
	width:100%;
	margin-top:3px;
}

#topControls
{
	/*height:25px;*/
	padding-left:1px;
}

#topControls img
{
	margin-left:-1px;
}

#save
{
	width:100%;
	height:25px;
	text-align:right;
}

#bottomContainer
{
	width:100%;
	height:96%;
	margin-top:-4;
}

#thumbnails
{
	width:200px;
	border:1px solid black;	
	vertical-align:top;
}

#thumbHeader
{
	height:22px;
	width:200px;
}

#thumbHeader img
{
	float:right;
	padding-top:4px;
	padding-right:3px;
}

#thumbs
{
	background-color:#fffff;
	width:100%;
	float:left;
	text-align:center;
	overflow:auto;
	list-style-type:none;
}

#thumbs ul, li
{
	margin-left:-10px;
}

#thumbs div, iframe
{
	margin:5 0 3 0;
}

.selectedThumb
{
	border:3px solid red;	
}

.preload
{
	width:170px;
	height:180px;	
	border:1px solid black;
	/*background-position: center;
	background-image: url(../Images/loader.gif);
	background-repeat: no-repeat;*/
	cursor:default;
}

.loading
{
	width:160px;
	height:180px;	
	border:1px solid black;
	background-position: center;
	background-image: url(../Images/loader.gif);
	background-repeat: no-repeat;
	cursor:wait;
}

.load
{
	background-position: center;
	background-image: url(../Images/loader.gif);
	background-repeat: no-repeat;
}

.loading img
{
	visibility:hidden;
	cursor:wait;
}

.loaded
{
	/*width:160px;
	height:200px;	
	border:1px solid black;
	background-repeat: no-repeat;*/
	overflow:hidden;
	cursor:hand;
}

.loaded img
{
	width:160px;
	height:180px;	
	border:1px solid black;
	background-repeat: no-repeat;
	overflow:hidden;
	visibility:visible;
}

.pageNumber
{
	font-size:12px;	
}

#fileViewer
{
	/*border:1px solid black;*/
	vertical-align:top;
}

#viewerContainer
{
	border:1px solid black;	
	vertical-align:top;
}

#sideToolbar
{
	width:25px;	
	vertical-align:top;
}

#sideToolbar img
{
	padding-bottom:3px;
}

#attributes
{
	width:240px;
	border:1px solid black;	
	vertical-align:top;
	overflow: auto;
}

#attributeContainer
{
	width:100%;
	padding-left:5px;
	padding-right:5px;
}

#attributesHeader
{
	height:22px;
	width:100%;
}

#attributesHeader img
{
	float:right;
	padding-top:4px;
	padding-right:3px;
}

#attributeToolbar
{
	margin-top:10px;
	padding-left:0px;
}

#grid
{
	width:100%;
}

#grid select
{
	font-size:.7em;
	width:115px;
	margin:0;
	padding:0;
}

#grid input
{
	margin:0;
	padding:0;
	font-size:.7em;
	width:100px;
	height:20px;
}

#grid tr, td
{
	margin:0;
	padding:0;
}

#workflowContainer
{
	height:200px;
	padding-left:5px;
	padding-right:5px;
	bottom:0;
	width:100%;
}

#wfHistory
{
	font-size:.7em;
	height:176px;
	overflow:auto;
}

.wfName
{
	font-size:1.1em;
	margin-bottom:5px;	
	font-weight:bold;	
}

.routedTo
{
	margin-bottom:4px;
	border-bottom:solid 1px grey;	
}

.action
{
	font-weight:bold;	
}

#wfHistory table
{
	font-size:1em;
}

#workflowContainer input.text, select, textarea
{
	height:25px;
	font-size:14px;
	padding:2px;
	margin:0 0 0 0;
	font-size:.7em;
}

#urgent
{
	float:left;
	width:25px;
	margin:0;
}

#urgentSection
{
	font-size:.7em;
	float:none;
	vertical-align:bottom;
}

#workflowContent
{
	overflow: auto;
	padding-bottom:0;
}

#workflow, #queue
{
	height:25px;
	font-size:.7em;
	width:100%;
	padding:0px;
	margin-left:0px;
}

#workflowHeader
{
	height:22px;
	width:100%;
}

textarea
{
	font-size:.7em;
	padding:0px;
	height:65px;
	width:100%;
	float:left;
	font-family:Helvetica;
}

#workflowHeader img
{
}

.hidden
{
	display:none;	
}

.visible
{
	display:block;	
}

.vsplitbar {
	width: 5px;
	background: #aaa;
}

.docNo
{
	font-size:20px;
	font-weight:bold;
	float:left;
	width:100%;
	padding-left:3px;
}

#pageInfo
{
	float:left;
	font-size:10px;
	margin-right:3px;
	vertical-align:bottom;
	height:20px;
	overflow: hidden;
	white-space:nowrap;
}

#pagesSection
{
	float:none;
	width:92px;
}

#pages
{
	font-size:10px;
	padding-top:4px;
	float:right;
}

#tCurrentPage
{
	width:25px;	
	font-size:9px;
	height:16px;
	padding:0;
}

#versionSection
{
	vertical-align:middle;
	font-size:10px;
	width:84px;
	float:none;
	padding-left:10px;	
}

#versionLabel
{
	float:left;
	vertical-align:bottom;
}

#versions
{
	width:32px;	
	float:right;
	font-size:9px;
}

#qualitySection
{
	vertical-align:middle;
	font-size:10px;
	width:110px;
	float:none;
	padding-left:10px;	
}

#qualityLabel
{
	float:left;
	vertical-align:bottom;
}

#dQuality
{
	width:62px;	
	float:right;
	font-size:10px;
}

.text-label {
	color: #cdcdcd;
	/*font-weight: bold;*/
}

/* css sprites */
.sprite {background: url(../Images/viewer/toolbar_sprite.png) no-repeat left top;cursor:hand;}
.btn-history {background-position: 0 -1362px; width: 25px; height: 22px; } 
.btn-add-page { background-position: 0 0; width: 25px; height: 22px; } 
.btn-clear-folder { background-position: 0 -72px; width: 17px; height: 16px; } 
.btn-cursor-off { background-position: 0 -138px; width: 25px; height: 22px; } 
.btn-cursor-on { background-position: 0 -210px; width: 25px; height: 22px; } 
.btn-delete-page { background-position: 0 -282px; width: 25px; height: 22px; } 
.btn-doc-text { background-position: 0 -354px; width: 25px; height: 22px; } 
.btn-email { background-position: 0 -426px; width: 25px; height: 22px; } 
.btn-first-off { background-position: 0 -498px; width: 25px; height: 22px; } 
.btn-first-on { background-position: 0 -570px; width: 25px; height: 22px; } 
.btn-fitbest-off { background-position: 0 -642px; width: 25px; height: 22px; } 
.btn-fitbest-on { background-position: 0 -714px; width: 25px; height: 22px; } 
.btn-fitheight-off { background-position: 0 -786px; width: 25px; height: 22px;margin-right:3px; } 
.btn-fitheight-on { background-position: 0 -858px; width: 25px; height: 22px;margin-right:3px; } 
.btn-fitwidth-off { background-position: 0 -930px; width: 25px; height: 22px; } 
.btn-fitwidth-on { background-position: 0 -1002px; width: 25px; height: 22px; } 
.btn-flip { background-position: 0 -1074px; width: 25px; height: 22px; } 
.btn-hand-off { background-position: 0 -1146px; width: 25px; height: 22px;margin-right:3px; } 
.btn-hand-on { background-position: 0 -1218px; width: 25px; height: 22px;margin-right:3px; } 
.btn-highlighter { background-position: 0 -1290px; width: 25px; height: 22px; } 
.btn-last-off { background-position: 0 -1434px; width: 25px; height: 22px;margin-right:3px; } 
.btn-last-on { background-position: 0 -1506px; width: 25px; height: 22px;margin-right:3px; } 
.btn-move-pages { background-position: 0 -1578px; width: 25px; height: 22px; } 
.btn-next-off { background-position: 0 -1650px; width: 25px; height: 22px; } 
.btn-next-on { background-position: 0 -1722px; width: 25px; height: 22px; } 
.btn-next-result-off { background-position: 0 -1794px; width: 25px; height: 22px;margin-right:3px; } 
.btn-next-result-on { background-position: 0 -1866px; width: 25px; height: 22px;margin-right:3px; } 
.btn-notes { background-position: 0 -1938px; width: 25px; height: 22px; } 
.btn-pan-off { background-position: -75px 0; width: 25px; height: 22px; } 
.btn-pan-on { background-position: -75px -72px; width: 25px; height: 22px; } 
.btn-pencil { background-position: -75px -144px; width: 25px; height: 22px; } 
.btn-prev-off { background-position: -75px -216px; width: 25px; height: 22px; } 
.btn-prev-on { background-position: -75px -288px; width: 25px; height: 22px; } 
.btn-previous-off { background-position: -75px -360px; width: 25px; height: 22px; } 
.btn-previous-on { background-position: -75px -432px; width: 25px; height: 22px; } 
.btn-previous-result-off { background-position: -75px -504px; width: 25px; height: 22px; } 
.btn-previous-result-on { background-position: -75px -576px; width: 25px; height: 22px; } 
.btn-print { background-position: -75px -648px; width: 25px; height: 22px; } 
.btn-rotate-left { background-position: -75px -720px; width: 25px; height: 22px; } 
.btn-rotate-right { background-position: -75px -792px; width: 25px; height: 22px; } 
.btn-rotateleft { background-position: -75px -864px; width: 25px; height: 22px; } 
.btn-rotateright { background-position: -75px -936px; width: 25px; height: 22px; } 
.btn-save_small { background-position: -75px -1008px; width: 80px; height: 17px; } 
.btn-split { background-position: -75px -1075px; width: 25px; height: 22px; } 
.btn-sticky { background-position: -75px -1147px; width: 25px; height: 22px; } 
.btn-text { background-position: -75px -1219px; width: 25px; height: 22px; } 
.btn-zoom-in-off { background-position: -75px -1291px; width: 25px; height: 22px; } 
.btn-zoom-in-on { background-position: -75px -1363px; width: 25px; height: 22px; } 
.btn-zoom-out-off { background-position: -75px -1435px; width: 25px; height: 22px; } 
.btn-zoom-out-on { background-position: -75px -1507px; width: 25px; height: 22px; } 
.btn-zoom-section-off { background-position: -75px -1579px; width: 25px; height: 22px; } 
.btn-zoom-section-on { background-position: -75px -1651px; width: 25px; height: 22px; } 

/* context menu */
.contextMenu {
	position: absolute;
	width: 120px;
	z-index: 99999;
	border: solid 1px #CCC;
	background: #EEE;
	padding: 0px;
	margin: 0px;
	display: none;
}

.contextMenu LI {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.contextMenu A {
	color: #333;
	text-decoration: none;
	display: block;
	line-height: 20px;
	height: 20px;
	background-position: 6px center;
	background-repeat: no-repeat;
	outline: none;
	padding: 1px 5px;
	padding-left: 28px;
}

.contextMenu LI.hover A {
	color: #FFF;
	background-color: #3399FF;
}

.contextMenu LI.disabled A {
	color: #AAA;
	cursor: default;
}

.contextMenu LI.hover.disabled A {
	background-color: transparent;
}

.contextMenu LI.separator {
	border-top: solid 1px #CCC;
}

/*
	Adding Icons
	
	You can add icons to the context menu by adding
	classes to the respective LI element(s)
*/

.contextMenu LI.edit A { background-image: url(images/page_white_edit.png); }
.contextMenu LI.cut A { background-image: url(images/cut.png); }
.contextMenu LI.copy A { background-image: url(images/page_white_copy.png); }
.contextMenu LI.paste A { background-image: url(images/page_white_paste.png); }
.contextMenu LI.delete A { background-image: url(images/page_white_delete.png); }
.contextMenu LI.quit A { background-image: url(images/door.png); }

#myDiv {
	width: 150px;
	border: solid 1px #2AA7DE;
	background: #6CC8EF;
	text-align: center;
	padding: 4em .5em;
	margin: 1em;
	float: left;
}

#myList {
	margin: 1em;
	float: left;
}

#myList UL {
	padding: 0px;
	margin: 0em 1em;
}

#myList LI {
	width: 100px;
	border: solid 1px #2AA7DE;
	background: #6CC8EF;
	padding: 5px 5px;
	margin: 2px 0px;
	list-style: none;
}

#options {
	clear: left;
}

#options INPUT {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 150px;
}
