body {
	font:normal 76%/150% "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #000;
}

table {
	/*font:normal 76%/150% "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;*/
	font-size:.9em;
	border-collapse:separate;
	border-spacing:0;
	margin:0 0 1em;
	color:#000;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	border-right: 1px solid #999;
	border-left: 1px solid #999;
	}

table#sub {	
	border-top: 0px;
	border-bottom: 0px;
	border-right: 0px;
	border-left: 0px;
}

table a {
	color:#BE0000;
	text-decoration:none;
	}
table a:visited {
	color:#444;
	font-weight:normal;
	}
table a:visited:after {
	content:"\00A0\221A";
	}
table a:hover {
	color: #333;
	}
tfoot th,
tfoot td {
	background: url(../images/footerbar.gif) repeat-x;
	font-size:.8em;
	border-top: 1px solid #DDD;
	color: #666;
	}
tfoot th.searchResults{
	background: url(../images/headerbar.gif) repeat-x;
	font-size:.8em;
	border-top: 1px solid #DDD;
	color: #666;
	}
thead th#redbar {
	background-image:url(../images/red_menu_bar.gif);
	color: #ddd;
	font-size:1.1em;
	font-weight: bold;
}
thead th#redbar a {
	color: #fff;
	font-weight: bold;
}
thead th#redbar a:visited {
	color: #eee;
}
thead th#redbar a:visited:after {
	color:#ddd;
}
thead th#redbar a:hover {
	color:#ddd;
	border-bottom:1px solid #fff;
}
thead th#bar {
	background-image:url(../images/headerbar.gif);
	font-weight: bold;
	border:1px dotted #fff;
}
th {
	font-weight:bold;
	line-height:normal;
	padding:0.25em 0.5em;
	text-align:left;
	}
tbody th,
td {
	padding:0.25em 0.5em;
	text-align:left;
	vertical-align:top;
	}
tbody th {
	font-weight:normal;
	white-space:nowrap;
	}
tbody th a:link,
tbody th a:visited {
	font-weight:bold;
	}
tbody td,
tbody th {
	border: 1px solid #fff;
	border-width: 1px 0;
	}
tbody tr.odd th,
tbody tr.odd td {
	border-color:#EBE5D9;
	background:#F7F7F7;
	}
tbody tr.queue th,
tbody tr.queue td {
	border-color:#999;
	background:#CCFFFF url(../images/dividerbar.gif);
	}
tbody tr.oddsub th,
tbody tr.oddsub td{
	border-color:#F7F7F7;
	background:#F7F7F7;
	}
tbody tr:hover td,
tbody tr:hover th {
	background:#ffffee;
	border-color:#523A0B;
	}
td#urgent {
	background: #FFFFFF url(../images/urgent.gif) center no-repeat;
}
.icon {
	text-align: center;
	vertical-align: middle;
}
.odd td#urgent {
	background: #F7F7F7 url(../images/urgent.gif) center no-repeat;
}
.hlt td#urgent {
	background: #E8EFF3 url(../images/urgent.gif) center no-repeat;
}
caption {
	font-weight:normal;
	font-size:1.6em;
	text-align:left;
	margin:0;
	padding:0.5em 0.25em;
	color:#BE0000;
	}
.hlt td,
.hlt th {
	background: #E8EFF3; /*#E8E8E8;*/
	border-color:#523A0B;
		}
.queueName {
	font-weight:bold;
}
.queueNameMonitor {
	color: #666;
	font-weight:bold;
}
.viewOnly {
	font-style:italic;
	color: #666;
}
.viewOnly a {
	color:#666;
	text-decoration:none;
	}
.viewOnly a:visited {
	color:#444;
	font-weight:normal;
	}
.viewOnly a:visited:after {
	content:"\00A0\221A";
	}
.viewOnly a:hover {
	/*border-bottom:1px solid #BE0000;
	border-top:1px solid #BE0000;
	background-color: #ccc;*/
	color: #BE0000;
	}
div#masminus img{
	float: left;
	padding-top: 1px;
	padding-right: 5px;
	vertical-align: middle;
}
div#masminus img{
	float: left;
	padding-top: 1px;
	padding-right: 5px;
	vertical-align: middle;
}
.title {
	font-weight: bold;
	color: #000;
}
