<%@ Page Language="vb" AutoEventWireup="false" Codebehind="Index.aspx.vb" Inherits="docAssistWeb._Index._Index" EnableSessionState="True" enableViewState="True"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<BODY id="page_body" runat="server">
		<FORM id="Form1" method="post" runat="server">

		</FORM>
	</BODY>
</HTML>
