<%@ Page Language="vb" AutoEventWireup="false" Codebehind="Notes.aspx.vb" Inherits="docAssistWeb.Notes"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>Notes</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
	</HEAD>
	<body>
		<form id="Form1" method="post" runat="server">
			<asp:Label id="lblNotes" runat="server" Font-Names="Verdana" Font-Size="8pt" Height="100%"
				Width="100%">Label</asp:Label>
		</form>
	</body>
</HTML>
