/* docAssist Style Sheet */

body
{
	font-size: 12px;
	margin: 0px;
	color: #000000;
	font-family: "Trebuchet MS" , Verdana, Arial, Helvetica, sans-serif;
}

h1
{
	font-size: 24px;
	font-weight: bold;
	color: #BE0000;
}

h2
{
	font-size: 16px;
	font-weight: bold;
	color: #BE0000;
}

h3
{
	font-size: 14px;
	color: #666;
}

A
{
	color: #bd0000;
	font-family: 'Trebuchet MS';
}

TFOOT, THEAD
{
	font-size: 1em;
	word-spacing: normal;
	letter-spacing: normal;
	text-transform: none;
	font-family: Arial, Helvetica, sans-serif;
}

TH
{
	vertical-align: baseline;
	font-size: 1em;
	font-weight: bold;
	word-spacing: normal;
	letter-spacing: normal;
	text-transform: none;
	font-family: Arial, Helvetica, sans-serif;
}

P
{
	font-size: 10px;
	
}

SMALL
{
	font-size: .7em;
}

BIG
{
	font-size: 1.17em;
}

BLOCKQUOTE, PRE
{
	font-family: Courier New, monospace;
}

UL LI
{
	list-style-type: square;
}

UL LI LI
{
	list-style-type: disc;
}

UL LI LI LI
{
	list-style-type: circle;
}

OL LI
{
	list-style-type: decimal;
}

OL OL LI
{
	list-style-type: lower-alpha;
}

OL OL OL LI
{
	list-style-type: lower-roman;
}

INPUT
{
	font-size: 11px;
	color: #000000;
	font-family: "Trebuchet MS" , Verdana, Arial, Helvetica, sans-serif;
}

.Calendar
{
	font-weight: normal;
	font-size: 8pt;
	z-index: 2;
	background: white;
	left: 50px;
	visibility: hidden;
	position: absolute;
	top: 50px;
}

.Calendar .Heading
{
	font-weight: bold;
	font-size: 8pt;
	color: #ffffff;
	background-color: #cccccc;
}

.Calendar .SelectedDate
{
	font-weight: bold;
}

.Calendar .Today
{
	background-color: whitesmoke;
	font-weight: bold;
}

.ErrorMessage
{
	z-index: 1;
	left: 0px;
	position: absolute;
	top: 28px;
}

.PageHeader
{
	background-color: #ffffff;
}

.PageFooter
{
	padding-right: 4px;
	padding-left: 4px;
	font-size: 8pt;
	background-color: #c0c0c0;
	text-decoration: none;
}

.PageLink
{
	padding-right: 4px;
	padding-left: 4px;
	font-weight: normal;
	font-size: 8pt;
	padding-bottom: 4px;
	word-spacing: normal;
	vertical-align: baseline;
	color: #bd0000;
	padding-top: 4px;
	background-repeat: repeat-x;
	font-family: Verdana, Helvetica, sans-serif;
	letter-spacing: normal;
	background-color: white;
	text-align: left;
}

.ResultAttributes
{
	font-weight: normal;
	font-size: 8pt;
	word-spacing: normal;
	vertical-align: top;
	font-family: 'Trebuchet MS';
	letter-spacing: normal;
	background-color: transparent;
	text-align: left;
	padding-top: 2px;
	padding-bottom: 2px;
}

.dtIndent
{
	text-align:right;
	padding-right: 15px;
}

.ResultDetail TD
{
	font-weight: normal;
	font-size: 8pt;
	padding-bottom: 0px;
	word-spacing: normal;
	vertical-align: top;
	padding-top: 0px;
	font-family: 'Trebuchet MS';
	letter-spacing: normal;
	background-color: transparent;
	text-align: left;
	/*text-indent: 15px;*/
	border-left: transparent 1px solid;
	border-bottom: transparent 1px solid;
	border-right: transparent 1px solid;
	border-top: transparent 1px solid;
	padding-right: 15px;
	/*set an unused color to be index color*/
	_border-color:tomato; /*For IE6-*/
	/*then remove this indexed color*/
	_filter:chroma(color=tomato);/*For IE6-*/	
}

.ResultDetail .DropDownList
{
	padding-right: 15px;
	BACKGROUND-POSITION-X: right;
	background-image: url(Images/drop_down.GIF);
	border-left: darkgray 1px solid;
	border-top: darkgray 1px solid;
	border-right: darkgray 1px solid;
	border-bottom: darkgray 1px solid;
	background-repeat: no-repeat;
}

.DropDownList
{
	padding-right: 15px;
	BACKGROUND-POSITION-X: right;
	background-image: url(Images/drop_down.GIF);
	background-repeat: no-repeat;
	border-left: darkgray 1px solid;
	border-top: darkgray 1px solid;
	border-right: darkgray 1px solid;
	border-bottom: darkgray 1px solid;
}

.SearchPopup TABLE
{
	border-right: darkgray 1px solid;
	font-size: 8pt;
	border-left: darkgray 1px solid;
	cursor: hand;
	color: black;
	border-bottom: darkgray 1px solid;
	font-family: 'Trebuchet MS';
	letter-spacing: normal;
	background-color: gainsboro;
	text-align: left;
	text-indent: 5px;
}


.SearchPopup:hover {font-size: 33pt;}   /* mouse over link */


.SearchPopup TD
{
	padding-right: 3px;
	padding-left: 3px;
	border-bottom: white 1px solid;
}

.FolderPath
{
	font-weight: normal;
	font-size: 7pt;
	padding-bottom: 4px;
	word-spacing: normal;
	vertical-align: top;
	font-family: 'Trebuchet MS';
	letter-spacing: normal;
	background-color: transparent;
	text-align: left;
}

.ResultGridAttributes
{
	font-weight: normal;
	font-size: 8pt;
	padding-bottom: 4px;
	word-spacing: normal;
	vertical-align: top;
	color: dimgray;
	font-family: 'Trebuchet MS';
	letter-spacing: normal;
	background-color: transparent;
	text-align: left;
}

.PageContent
{
	padding-right: 4px;
	padding-left: 4px;
	font-weight: normal;
	font-size: 8pt;
	padding-bottom: 0px;
	word-spacing: normal;
	vertical-align: baseline;
	padding-top: 0px;
	background-repeat: repeat-x;
	font-family: Verdana, Helvetica, sans-serif;
	letter-spacing: normal;
	background-color: transparent;
	text-align: left;
}

.PageContent .Heading
{
	font-weight: bold;
	font-size: 16px;
	margin: 0px;
	color: gray;
	font-family: "Trebuchet MS" , Verdana, Arial, Helvetica, sans-serif;
}

.PageContent .FolderName
{
	font-weight: bold;
	font-size: 11px;
	margin: 0px;
	color: gainsboro;
	font-family: "Trebuchet MS" , Verdana, Arial, Helvetica, sans-serif;
}

.PageContent .SearchSubHeading
{
	font-weight: bold;
	font-size: 13px;
	margin: 0px;
	color: #000000;
	font-style: italic;
	font-family: "Trebuchet MS" , Verdana, Arial, Helvetica, sans-serif;
}

.PageContent .Info
{
	font-style: italic;
	padding-left: 16px;
}

/*
.PageContent .SmartFolderGrids
{
	scrollbar-highlight-color:#808080; 
	scrollbar-shadow-color:#DEDEDE; 
	scrollbar-track-color:#E8E8E8; 
	scrollbar-face-color:#DCDCDC; 
	scrollbar-arrow-color:#808080; 
	scrollbar-darkshadow-color:#DEDEDE; 
	scrollbar-3dlight-color:#A3A3A3; 
}
*/

.PageContent .Input
{
	color: #000000;
	font-size: 11px;
	font-family: "Trebuchet MS";
	background-color: white;
}

.PageContent .InputBox
{
	padding-right: 0px;
	padding-left: 0px;
	font-weight: normal;
	font-size: 8pt;
	padding-bottom: 0px;
	word-spacing: normal;
	vertical-align: baseline;
	color: #000000;
	padding-top: 0px;
	background-repeat: repeat-x;
	font-family: Verdana, Helvetica, sans-serif;
	letter-spacing: normal;
	background-color: #ffffff;
	text-align: left;
}

.PageContent .InputBoxError
{
	padding-right: 0px;
	padding-left: 0px;
	font-weight: normal;
	font-size: 8pt;
	padding-bottom: 0px;
	word-spacing: normal;
	vertical-align: baseline;
	padding-top: 0px;
	background-repeat: repeat-x;
	font-family: Verdana, Helvetica, sans-serif;
	letter-spacing: normal;
	background-color: white;
	text-align: left;
	background-color: #d00000;
	color: #ffffff;
}

.PageContent .Link
{
	padding-right: 10px;
	margin-top: 1px;
	font-weight: bold;
	font-size: 10pt;
	margin-bottom: 1px;
	margin-left: 10px;
	color: #ffffff;
	text-decoration: none;
}

.PageContent .Text
{
	padding-right: 0px;
	padding-left: 0px;
	font-size: 11px;
	padding-bottom: 0px;
	color: #000000;
	padding-top: 0px;
	font-family: "Trebuchet MS" , Verdana, Arial, Helvetica, sans-serif;
	background-color: transparent;
}

.PageContent .ErrorText
{
	font-size: 11px;
	color: red;
	font-family: "Trebuchet MS" , Verdana, Arial, Helvetica, sans-serif;
	background-color: transparent;
}

.PageContent .DisabledTextbox
{
	background-color: whitesmoke;
}

.PageContent .Error
{
	font-size: 11px;
	color: red;
	font-family: "Trebuchet MS" , Verdana, Arial, Helvetica, sans-serif;
	background-color: transparent;
}

.PageContent .SearchText
{
	font-weight: bold;
	font-size: 14px;
	color: #000000;
	font-family: "Trebuchet MS" , Verdana, Arial, Helvetica, sans-serif;
	background-color: transparent;
}

.PageContent .TableHeader
{
	background: #cccccc;
	font-weight: bold;
}

.PageContent .TableAlternateItem
{
	background-color: #cccccc;
}

.PageContent .Transparent
{
	background-color: Transparent;
	background-image: none;
	font-weight: normal;
	font-size: 8pt;
	word-spacing: normal;
	vertical-align: baseline;
	font-family: Verdana, Helvetica, sans-serif;
	letter-spacing: normal;
	text-align: left;
	padding: 4px;
}

.PageContent .TransparentNoPadding
{
	background-color: Transparent;
	background-image: none;
	font-weight: normal;
	font-size: 8pt;
	word-spacing: normal;
	vertical-align: baseline;
	font-family: Verdana, Helvetica, sans-serif;
	letter-spacing: normal;
	text-align: left;
}

.PageContent .Red
{
	color: #bd0000;
}

.PageContent .Highlight
{
	font-weight: bold;
}

.PageContent .SearchResults
{
	font-weight: normal;
	color: #000000;
}

.PageContent .SearchRestuls:Hover
{
}

.PageContent TEXTAREA
{
	font-size: 8pt;
	font-family: Arial;
}

.SignOn
{
	font-size: 8pt;
}

.Thumbnail
{
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
}

.Thumbnailhover
{
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
}

.Transparent
{
	padding-right: 0px;
	padding-left: 0px;
	font-weight: normal;
	font-size: 8pt;
	background-attachment: fixed;
	padding-bottom: 0px;
	margin: 0px;
	word-spacing: normal;
	vertical-align: baseline;
	text-transform: none;
	padding-top: 0px;
	background-repeat: repeat-x;
	font-family: Verdana, Helvetica, sans-serif;
	letter-spacing: normal;
	background-color: white;
	text-align: left;
}

.Link
{
	color: blue;
}

.Link:Hover
{
	text-decoration: underline;
	cursor: hand;
}

.Navigation1
{
	padding-right: 1px;
	padding-left: 1px;
	font-size: 8pt;
	background-attachment: fixed;
	padding-bottom: 0px;
	padding-top: 0px;
	background-repeat: repeat-x;
	background-color: white;
	text-align: left;
}

.Navigation1 .Transparent
{
	background-color: Transparent;
	background-image: none;
}

.Navigation1 .Link
{
	color: #d00000;
	font-weight: bold;
	text-decoration: underline;
}

.Navigation1 .Link:Hover
{
	text-decoration: underline;
	cursor: hand;
}

.Navigation1 .LinkHover
{
	color: #d00000;
	font-weight: bold;
	text-decoration: underline;
	cursor: hand;
}

.Navigation1 .Link2
{
	color: #d00000;
	font-weight: normal;
	text-decoration: none;
}

.Navigation1 .Link2:Hover
{
	text-decoration: underline;
	cursor: hand;
}

.NavigationTop
{
	color: #ffffff;
	background-color: #cccccc;
	margin-left: 10px;
}


.NavigationTop .Link
{
	padding-right: 10px;
	margin-top: 1px;
	font-weight: bold;
	font-size: 10pt;
	margin-bottom: 1px;
	margin-left: 10px;
	color: #ffffff;
	text-decoration: none;
}

.NavigationTop .Link:Hover
{
	padding-right: 10px;
	font-size: 10pt;
	margin-bottom: 10px;
	color: #bd0000;
	padding-top: 10px;
	text-decoration: none;
}

.NavigationTop .LastLink
{
	padding-right: 10px;
	font-weight: bold;
	font-size: 10pt;
	margin-left: 10px;
	color: #d3d3d3;
	text-decoration: none;
}

.NavigationTop .LastLink:Hover
{
	padding-right: 10px;
	font-size: 10pt;
	margin-left: 10px;
	color: #d3d3d3;
	text-decoration: none;
}

.selectedTab
{
	border-right: #6382ad 1px solid;
	border-top: #6382ad 1px solid;
	font-weight: bold;
	font-size: 12px;
	border-left: #6382ad 1px solid;
	cursor: hand;
	line-height: normal;
	font-family: "Trebuchet MS";
	background-color: #f4f8fb;
}

.unselectedTab
{
	font-size: 11px;
	cursor: hand;
	border-bottom: #6382ad 1px solid;
	background-color: #d8e4ef;
}

.SearchGrid
{
	padding-right: 0px;
	padding-left: 0px;
	font-size: 11px;
	padding-bottom: 0px;
	color: #000000;
	padding-top: 0px;
	font-family: "Trebuchet MS" , Verdana, Arial, Helvetica, sans-serif;
	background-color: transparent;
}

.UnSelectedColumn
{
	padding-right: 0px;
	padding-left: 0px;
	font-weight: bold;
	font-size: 11px;
	padding-bottom: 0px;
	color: #000000;
	padding-top: 0px;
	font-family: "Trebuchet MS" , Verdana, Arial, Helvetica, sans-serif;
	background-color: gainsboro;
}


.SelectedColumn
{
	padding-right: 0px;
	padding-left: 0px;
	font-weight: bold;
	font-size: 11px;
	padding-bottom: 0px;
	color: #ffffff;
	padding-top: 0px;
	font-family: "Trebuchet MS" , Verdana, Arial, Helvetica, sans-serif;
	background-color: darkgray;
}

.PageContent A
{
	padding-right: 1px;
	padding-left: 1px;
	font-weight: normal;
	padding-bottom: 1px;
	color: #BD0000;
	padding-top: 1px;
	text-decoration: none;
}
.PageContent A:Hover
{
	text-decoration: underline;
	color: Black;
}

.SmartFolders A
{
	padding-right: 1px;
	padding-left: 1px;
	font-weight: normal;
	font-size: 8pt;
	padding-bottom: 1px;
	color: #000000;
	padding-top: 1px;
	font-family: 'Trebuchet MS';
	text-decoration: none;
}
.SmartFolders A:Hover
{
	padding-right: 1px;
	padding-left: 1px;
	font-weight: normal;
	font-size: 8pt;
	padding-bottom: 1px;
	color: #bd0000;
	padding-top: 1px;
	font-family: 'Trebuchet MS';
	text-decoration: underline;
}


.PageContentLink
{
	border-right: black 1px solid;
	padding-right: 4px;
	border-top: black 1px solid;
	padding-left: 4px;
	font-weight: bold;
	padding-bottom: 4px;
	border-left: black 1px solid;
	color: #BD0000;
	padding-top: 4px;
	border-bottom: black 1px solid;
	text-decoration: none;
}

.PageContentLinkHover
{
	background-color: Gray;
	text-decoration: none;
	color: Black;
}

SELECT
{
	border-right: none;
	border-top: thin solid;
	border-left: thin solid;
	border-bottom: thin solid;
	background-color: transparent;
	font-size: 8pt;
}
.ResultsHeader
{
	font-weight: bold;
	font-size: 10pt;
	margin-left: 8px;
	color: white;
	margin-right: 8px;
	background-color: darkgray;
	text-align: center;
}
.LabelHighlight
{
	font-size: 8pt;
	color: black;
	border-top-style: ridge;
	border-right-style: ridge;
	border-left-style: ridge;
	background-color: transparent;
	border-bottom-style: ridge;
}
.Navigation
{
	padding: 0;
	font-size: 8pt;
}
.NavigationLink
{
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	border-bottom-style: none;
}
.NavigationLinkHover
{
	background-color: #bd0000;
	cursor: hand;
}
.PageContentHighlight
{
	padding-right: 8px;
	padding-left: 8px;
	font-weight: bold;
	font-size: 10pt;
	color: white;
	background-color: black;
}

.RightContent
{
	background-attachment: fixed;
	background-repeat: repeat-x;
	background-color: white;
}

.SelectedItem
{
	background-color: #bd0000;
}

.Thumbnails
{
	font-size: 8pt;
	font-family: Arial, Helvetica, tahoma;
	background-color: #ffffff;
}
.Thumbnails .Page
{
	font-weight: bold;
	color: #db0000;
	position: relative;
}

.HeaderBar
{
	background-image: url(Images/toolbar_grey.gif);
	background-repeat: repeat-x;
}

.UserPrefs
{
	font-size: 9pt;
	font-family: Verdana;
}

.WorkFlow
{
	font-family: Verdana, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 8pt;
	word-spacing: normal;
	vertical-align: baseline;
	letter-spacing: normal;
	background-color: white;
	text-align: left;
	padding: 4px;
}

.WorkFlow .Buttons
{
	border-right: black 1px solid;
	margin-right: 4px;
	border-top: black 1px solid;
	margin-left: 4px;
	font-size: 10pt;
	margin-bottom: 4px;
	border-left: black 1px solid;
	margin-top: 4px;
	border-bottom: black 1px solid;
	font-family: Arial, Tahoma, 'Microsoft Sans Serif' , Verdana;
	background-color: silver;
}

.WorkFlow .Navigation
{
	background-color: White;
}

.WorkFlow .Navigation A
{
	color: #d80000;
	text-decoration: none;
	padding: 4px;
}

.WorkFlow .Navigation A:HOVER
{
	text-decoration: underline;
}

.WorkFlow .Selected
{
	background-color: #d80000;
}

.WorkFlow .Selected A
{
	color: Black;
	text-decoration: none;
}

/* Rounded Corner Boxes - Promo Area - Octopus Engine */
.helpContainer
{
	margin: 8px;
	clear: both;
	background: #F7F7F7;
}

.Container
{
	margin: 2px;
	clear: both;
	background: #F7F7F7;
	width: 100%;
}

.north
{
	background: url(images/Search/north.gif) repeat-x top;
}
.east
{
	background: url(images/Search/east.gif) repeat-y right;
}
.south
{
	background: url(images/Search/south.gif) repeat-x bottom;
}
.west
{
	background: url(images/Search/west.gif) repeat-y left;
}
.ne
{
	background: url(images/Search/ne.gif) no-repeat top right;
}
.se
{
	background: url(images/Search/se.gif) no-repeat bottom right;
}
.sw
{
	background: url(images/Search/sw.gif) no-repeat bottom left;
}
.nw
{
	background: url(images/Search/nw.gif) no-repeat top left;
}

.nw
{
	padding: 17px;
}
/* Controls padding.  Increase to make text further away from edges; decrease to bring closer.  */

caption
{
	font-weight: normal;
	font-size: 1.6em;
	text-align: left;
	margin: 0;
	padding: 0.5em 0.25em;
	color: #BE0000;
}

.hlt td, .hlt th
{
	background: #e8eff3;
}

.selected td
{
	font-weight: normal;
	font-size: 8pt;
	background: lemonchiffon;
	font-family: 'Trebuchet MS';
	padding-top: 2px;
	padding-bottom: 2px;
}

.selected td .ResultDetail TD
{
	font-weight: normal;
	font-size: 8pt;
	padding-bottom: 0px;
	word-spacing: normal;
	vertical-align: top;
	padding-top: 0px;
	font-family: 'Trebuchet MS';
	letter-spacing: normal;
	background-color: transparent;
	text-align: left;
	border-left: transparent 1px solid;
	border-bottom: transparent 1px solid;
	border-right: transparent 1px solid;
	border-top: transparent 1px solid;
	/*set an unused color to be index color*/
	_border-color:tomato; /*For IE6-*/
	/*then remove this indexed color*/
	_filter:chroma(color=tomato);/*For IE6-*/	

}


.selectederror td, .hlt th
{
	background: red;
}

.LoadingMessage
{
	padding-right: 2px;
	padding-left: 2px;
	font-weight: bold;
	font-size: 8pt;
	padding-bottom: 2px;
	color: black;
	border-top-style: none;
	padding-top: 2px;
	font-family: Tahoma;
	border-right-style: none;
	border-left-style: none;
	border-bottom-style: none;
}

.TreeFont
{
	font-size: 8pt;
	cursor: default;
	font-family: 'Arial';
}

.SelectedNode
{
	color: #ffffff;
	background-color: navy;
}

.NodeHover
{
	text-decoration: underline;
}

.hand
{
	cursor: hand;
}
/* CSS Document */

.Prefs .PrefNode
{
	display: block;
	font-size: x-small;
	cursor: hand;
	font-family: 'Trebuchet MS';
	padding-bottom: 1px;
	padding-top: 1px;
}


.Prefs .PrefSelectedNode
{
	border-top: #ddd 1px;
	display: block;
	font-size: x-small;
	padding-bottom: 1px;
	border-left: #ddd 1px;
	cursor: hand;
	color: #be0000;
	padding-top: 1px;
	border-bottom: #ddd 1px;
	font-family: 'Trebuchet MS';
	border-right-style: none;
}

.Prefs .PrefSelectedNodeText
{
	border-top: #ddd 1px solid;
	display: block;
	font-size: x-small;
	padding-bottom: 0px;
	border-left: #ddd 1px solid;
	cursor: hand;
	color: #be0000;
	padding-top: 0px;
	border-bottom: #ddd 1px solid;
	font-family: 'Trebuchet MS';
	background-color: #fff;
}

.Prefs .MainSection
{
	font-weight: bold;
	font-size: small;
	cursor: hand;
	color: black;
	font-family: 'Trebuchet MS';
}



.Prefs .PrefHeader
{
	font-weight: bold;
	font-size: small;
	color: #fff;
	font-family: 'Trebuchet MS';
	background-color: #666;
	padding: 20px 10px 10px 10px;
}



.Prefs .Text
{
	font-weight: normal;
	font-size: x-small;
	color: black;
	font-family: 'Trebuchet MS';
	text-align: left;
}


.Prefs .SubHeader
{
	font-weight: bold;
	font-size: small;
	color: black;
	font-family: 'Trebuchet MS';
}

.Prefs .MenuContainer
{
	padding-left: 15px;
	padding-bottom: 15px;
	padding-top: 15px;
	padding-right: 0px;
	background-color: #f7f7f7;
}

.Prefs .LabelName
{
	font-weight: bold;
	font-size: x-small;
	color: black;
	font-family: 'Trebuchet MS';
	text-align: right;
	padding: 0px 0px 0px 30px;
}

/* New Search Screen Styles */

.quote li
{
	display: block;
	position: relative;
	float: right;
	clear: both;
	margin: 0px 5px 0px 0px;
	padding: 4px 8px 4px 8px;
	width: 145px;
	color: #666;
	list-style: none;
	font-size: 14px;
	background-color: #f7f7f7;
	border-left: 2px solid #ddd;
	border-right: 2px solid #ddd;
	text-align: center;
}
.quote li#startquote
{
	text-align: left;
	font-size: 300%;
	color: #666;
	background-color: #f7f7f7;
	border-bottom: 0px solid #f7f7f7;
	border-left: 2px solid #ddd;
	border-right: 2px solid #ddd;
	border-top: 2px solid #ddd;
	margin: 0px 5px -20px 0px;
}
.quote li#endquote
{
	text-align: right;
	font-size: 300%;
	color: #666;
	background-color: #f7f7f7;
	border-bottom: 2px solid #ddd;
	border-left: 2px solid #ddd;
	border-right: 2px solid #ddd;
	border-top: 0px solid #f7f7f7;
	margin: 0px 5px -10px 0px;
}
.quote li#byline
{
	text-align: right;
	font-size: 10px;
	font-style: italic;
	color: #fff;
	background-color: #999;
	border-bottom: 2px solid #ddd;
	border-left: 2px solid #ddd;
	border-right: 2px solid #ddd;
	border-top: 0px solid #999;
}
table .alert
{
	background-color: #fff;
	border: 2px solid #be0000;
	text-align: left;
}
table .alert th
{
	font-size: 12px;
	font-weight: bold;
	background-color: #be0000;
	color: #ffffff;
	font-variant: small-caps;
}

table .alert td
{
	font-size: 12px;
	font-weight: bold;
}

table .alert, table .select
{
	margin: 0px 0px 4px 0px;
}
table .select td#borders
{
	background-color: #fff;
	border: 2px solid #CCCCCC;
	text-align: left;
}
table .select th
{
	font-family: 'Trebuchet MS';
	font-size: 14px;
	font-weight: bold;
	background-color: #D8E4EF;
	background-image: url(../Application/images/bar.png);
	background-position: 100% 100% top left;
	background-repeat: repeat-x;
	border: 1px solid #D8E4EF;
}

table .menu
{
}

table .menu th
{
	border-right: #ccc 2px solid;
	padding-right: 4px;
	background-position: left bottom;
	border-top: #ccc 2px solid;
	display: block;
	padding-left: 4px;
	font-weight: bold;
	font-size: 14px;
	background-image: url(./Images/Search/quickMenu/bar.png);
	padding-bottom: 2px;
	border-left: #ccc 2px solid;
	cursor: hand;
	color: #000000;
	padding-top: 4px;
	border-bottom: #ccc 2px solid;
	background-repeat: repeat-x;
	font-family: 'Trebuchet MS';
	background-color: transparent;
	text-align: left;
}


table .menu td
{
	padding-right: 0px;
	padding-left: 0px;
	font-size: 11px;
	padding-bottom: 0px;
	margin: 0px;
	vertical-align: top;
	cursor: hand;
	padding-top: 0px;
	font-family: 'Trebuchet MS';
	background-color: #eaf0f7;
}

table .menu a
{
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px;
}

table .menu td.roll
{
	font-family: 'Trebuchet MS';
	background-color: #D8E4EF;
	color: #BD0000;
}

table .menu td.disabled
{
	cursor: default;
	color: darkgray;
	font-style: italic;
	font-family: 'Trebuchet MS';
	background-color: #f7f7f7;
}

table td#tree
{
	border: 1px solid #D8E4EF;
}

table td#girl
{
	background-color: #ffffff;
	background-image: url(../Application/images/backgroundGrad.gif);
	background-position: bottom left;
	background-repeat: repeat-x;
}

.RecentHover A
{
	padding-right: 1px;
	padding-left: 1px;
	font-weight: normal;
	padding-bottom: 1px;
	color: black;
	padding-top: 1px;
	text-decoration: underline;
}
.RecentHover A:Hover
{
	text-decoration: underline;
	color: #BD0000;
}

.black_overlay
{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 1001; -moz-opacity:0.5;
	opacity:.50;
	filter:alpha(opacity=50);
}

.white_content
{
	border-right: #bd0000 16px solid;
	padding-right: 16px;
	border-top: #bd0000 16px solid;
	display: none;
	padding-left: 16px;
	font-size: larger;
	z-index: 1002;
	padding-bottom: 16px;
	border-left: #bd0000 16px solid;
	padding-top: 16px;
	border-bottom: #bd0000 16px solid;
	font-family: 'Trebuchet MS';
	position: absolute;
	background-color: white;
}

.Thumbnails
{
	cursor: hand;
	border-right: black thin solid;
	border-left: black thin solid;
	border-top: black thin solid;
	border-bottom: black thin solid;
	font-family: 'Trebuchet MS';
	width:162px;
	height:162px;
}

.rotate_popup
{
	border-right: #bd0000 16px solid;
	padding-right: 16px;
	border-top: #bd0000 16px solid;
	display: none;
	padding-left: 16px;
	font-size: larger;
	z-index: 6002;
	padding-bottom: 16px;
	border-left: #bd0000 16px solid;
	padding-top: 16px;
	border-bottom: #bd0000 16px solid;
	font-family: 'Trebuchet MS';
	position: absolute;
	background-color: white;
}

.rotate_popup .popup_caption
{
	font-weight: bold;
	font-size: 15pt;
}

.rotate_popup .popup_text
{
	font-size: 13pt;
}

.lb_popup
{
	border-right: #bd0000 16px solid;
	padding-right: 16px;
	border-top: #bd0000 16px solid;
	display: none;
	padding-left: 16px;
	font-size: larger;
	z-index: 6002;
	padding-bottom: 16px;
	border-left: #bd0000 16px solid;
	padding-top: 16px;
	border-bottom: #bd0000 16px solid;
	font-family: 'Trebuchet MS';
	position: absolute;
	background-color: white;
}

.lb_popup .popup_caption
{
	font-weight: bold;
	font-size: 15pt;
}

.lb_popup .popup_text
{
	font-size: 13pt;
}

.lb_popup .error
{
	font-weight: bold;
	font-size: 11pt;
	color: #bd0000;
}


.lb_related
{
	border-right: darkgray 3px solid;
	padding-right: 0px;
	border-top: darkgray 3px solid;
	display: none;
	font-size: larger;
	z-index: 6002;
	padding-bottom: 0px;
	border-left: darkgray 3px solid;
	padding-top: 0px;
	border-bottom: darkgray 3px solid;
	font-family: 'Trebuchet MS';
	position: absolute;
	background-color: white;
}

.lb_related .titlebar
{
	border-right: black 1px solid;
	padding-right: 2px;
	border-top: black 1px solid;
	padding-left: 2px;
	font-weight: bold;
	font-size: 11pt;
	padding-bottom: 2px;
	border-left: black 1px solid;
	text-indent: 7pt;
	padding-top: 2px;
	border-bottom: black 1px solid;
	font-family: 'Trebuchet MS';
	background-color: lightgrey;
}

.lb_related .popup_caption
{
	font-weight: bold;
	font-size: 15pt;
}

.lb_related .popup_text
{
	font-size: 13pt;
}

.lb_related .error
{
	font-weight: bold;
	font-size: 11pt;
	color: #bd0000;
}

.deletedHighlight
{
	background-color: #ffff33;
}

.greyResultRow
{
	background-color: #E0E0E0;
}

/* Start custom button CSS here
---------------------------------------- */
.btn 
{
	cursor:hand;
    display:inline-block;
    background:none;
    margin:0;
    padding:3px 0;
    border-width:0;
    overflow:visible;
    font:100%/1.2 Arial,Sans-serif;
    text-decoration:none;
    color:#333;
    }
* html button.btn {
    padding-bottom:1px;
    }
/* Immediately below is a temporary hack to serve the 
    following margin values only to Gecko browsers
    Gecko browsers add an extra 3px of left/right 
    padding to button elements which can't be overriden.
    Thus, we use -3px of left/right margin to overcome this. */
html:not([lang*=""]) button.btn {
    margin:0 -3px;
    }

.btn img
{
	vertical-align:middle;
	}

.btn span {
	background:#ddd url(./images/bg-button.gif) repeat-x 0 0;
    margin:0;
    padding:3px 0;
    border-left:1px solid #bbb;
    border-right:1px solid #aaa;
    }
* html .btn span {
    padding-top:0;
    }
.btn span span {
    position:relative;
    padding:3px .4em;
    border-width:0;
    border-top:1px solid #bbb;
    border-bottom:1px solid #aaa;
    }

/* pill classes only needed if using pill style buttons ( LEFT | CENTER | RIGHT ) */
button.pill-l span {
    border-right-width:0;
    }
button.pill-l span span {
    border-right:1px solid #bbb;
    }
button.pill-c span {
    border-right-style:none;
    border-left-color:#fff;
    }
button.pill-c span span {
    border-right:1px solid #bbb;
    }
button.pill-r span {
    border-left-color:#fff;
    }

/* only needed if implementing separate hover/focus/active state for buttons */
.btn:hover span, .btn:hover span span, .btn:focus span, .btn:focus span span {
    cursor:hand; /* important for any clickable/pressable element */
    border-color:#9cf !important;
    /*border-color:#bd0000 !important;*/
    color:#000;
    }
.btn:active span {
    background-position:0 -400px;
    outline:none;
    }
.btn:focus, .btn:active {
    outline:none; /* doesn't seem to be respected for <button>, only <a> */
    }

/* use if one button should be the 'primary' button */
.primary {
    font-weight:bold;
    color:#000;
    }
    
    
 /*add section*/
 .addSection
{
	border-right: goldenrod 1px solid;
	padding-right: 15px;
	border-top: goldenrod 1px solid;
	padding-left: 15px;
	font-size: 10pt;
	padding-bottom: 10px;
	margin: 7px;
	border-left: goldenrod 1px solid;
	padding-top: 10px;
	border-bottom: goldenrod 1px solid;
	font-family: Verdana;
	background-color: #ffffcc;
}

 .addSection input
 {
	font-size: 10pt;
	border-right: #b0b0b0 1px solid;
	border-top: #b0b0b0 1px solid;
	border-left: #b0b0b0 1px solid;
	border-bottom: #b0b0b0 1px solid;
 }

.addSection a
{
	text-decoration: underline;
	cursor: hand;
}

 .addSection .error
 {
	/*font-weight:bold;*/
	font-size:13px;
	color:Red;
 }

.adminHeader
{
	font-weight: bold;
	font-size: 11px;
	color: dimgray;
}

.loading
{
	width:160px;
	height:180px;	
	border:1px solid black;
	background-position: center;
	background-image: url(/Images/loader.gif);
	background-repeat: no-repeat;
	cursor:wait;
}

.load
{
	background-position: center;
	background-image: url(/Images/loader.gif);
	background-repeat: no-repeat;
}

.loading img
{
	visibility:hidden;
	cursor:wait;
}

.redbar
{
	background-color:#BD0000;
	color:#ffffff;
	display:none;
	padding:1 5 1 5;
	/*margin:0 0 0 2;*/
	font-size: 11px;
	font-weight: bold;	
	font-family: Arial, Helvetica, sans-serif;
}

.glbar
{
	background-color:#BD0000;
	color:#ffffff;
	display:inline;
	height:150px;
	padding:1 5 1 5;
	/*margin:0 0 0 2;*/
	font-size: 11px;
	font-weight: bold;	
	font-family: Arial, Helvetica, sans-serif;
}

#indexMenu
{
	font-family: Arial, Verdana;
	font-size:12px;
	background:whitesmoke;
	color:black;
	position:absolute;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

#indexAttributes
{
	margin:0;
	list-style-type:none;	
}

#indexAttributes li
{
	padding:2 7 2 7;
	margin:4 2 2 4;
	border-top: 1px solid black;
	margin:0;
	cursor:hand;
}


#indexAttributes a
{
	font-family: Arial, Verdana;
	font-size:12px;
	text-decoration:none;
	color:black;
}

#indexAttributes a:hover
{
	color:#BD0000;
}

.divide
{
	border-top: 1px solid black;
}

.topNav
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}

.resultGradient
{
	/*
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#818285', endColorstr='#818285');
*/
	background-color: #818285;
}