<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Getting Help</title>

<!--(Meta)==========================================================-->

<meta name="template" content="Copyright.htt">
<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=date content="11 15, 2001 6:17:18 PM">
<meta name=MS-HAID content="Using this Help system">
<meta name=topic-status content="In Progress">
<meta name=topic-priority content=0>
<meta name=topic-time-estimate content=0>
<meta name=topic-comment content>
<meta name=topic-id content="New Topic">
<meta name=generator content="Adobe RoboHelp - www.adobe.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=428>
<meta name=layout-width content=658>


<!--(Links)=========================================================-->

<link rel="StyleSheet" href="..\Application Help.css">



</head>

<!--(Body)==========================================================-->


<body>

<h1>Getting Help</h1>

<p style="margin-left: 0px;">There are various ways to get Help on docAssist:</p>

<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p><p style="margin-bottom: 6pt; margin-left: -6pt;"><a 
 href="../Using_this_Help_system/Accessing_the_Help.htm">Online application 
 Help</a><br>
	From the docAssist web page, click the <span style="font-weight: bold;">H</span><span 
 style="font-weight: bold;">elp</span> link. </p></li>
	
	<li class=kadov-p><p style="margin-bottom: 6pt; margin-left: -6pt;"><a 
 href="../Contacting/Technical_Support.htm">Technical Support</a><br>
	The link above takes you to our technical support information.</p></li>
</ul>

<p>&nbsp;</p>

<!--kadov_tag{{<placeholder id="footer">}}-->
</body>

</html>
