<%@ Page Language="vb" AutoEventWireup="false" Codebehind="docAssistDebug.aspx.vb" Inherits="docAssistWeb.docAssistDebug"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>docAssist - Debug</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
	</HEAD>
	<body>
		<form id="Form1" method="post" runat="server">
			<asp:Label id="lblDebug" runat="server" Height="232px" Width="536px"></asp:Label>
		</form>
	</body>
</HTML>
