<%@ Page Language="vb" AutoEventWireup="false" Codebehind="Export.aspx.vb" Inherits="docAssistWeb.Export"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>docAssist - File Export</title>
		<meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR">
		<meta content="Visual Basic .NET 7.1" name="CODE_LANGUAGE">
		<meta content="JavaScript" name="vs_defaultClientScript">
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
	</HEAD>
	<body leftMargin="0" topMargin="0" rightMargin="0" bottomMargin="0">
		<form id="Form1" method="post" runat="server">
			<iframe id="Viewer" width="100%" height="100%" runat="server"></iframe>
			<script language="javascript">
				//window.resizeTo(800,900);
				//window.resizeBy(800,1000);
				//window.moveTo(0,0);
				
			</script>
		</form>
	</body>
</HTML>
