﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="LoadTime.aspx.vb" Inherits="docAssistWeb.LoadTime" %>
<%@ Register assembly="Atalasoft.dotImage.WebControls.Annotations" namespace="Atalasoft.Imaging.WebControls.Annotations" tagprefix="cc1" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <asp:Label ID="Results" runat="server" Text="Label"></asp:Label>
    
    </div>
    <cc1:WebAnnotationViewer ID="WebAnnotationViewer1" runat="server" 
        Height="600px" Width="100%" />
    </form>
</body>
</html>
