/* Default CSS Stylesheet for a new Web Application project */

BODY
{
	padding-right: 0px;
	padding-left: 0px;
	font-weight: normal;
	font-size: 8pt;
	padding-bottom: 0px;
	margin: 0px;
	word-spacing: normal;
	vertical-align: baseline;
	text-transform: none;
	padding-top: 0px;
	font-family: Verdana, Helvetica, sans-serif;
	letter-spacing: normal;
	text-align: left;
}

H1, H2, H3, H4, H5, TH, THEAD, TFOOT
{
    COLOR: #003366;
}
H1	{	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:	2em;
	font-weight:	700;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
H2	{	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:	1.75em;
	font-weight:	700;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
H3	{	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:	1.58em;
	font-weight:	500;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
H4	{	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:	1.33em;
	font-weight:	500;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
H5, DT	{	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:	1em;
	font-weight:	700;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
H6	{	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:	.8em;
	font-weight:	700;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
TFOOT, THEAD	{	
	font-size:	1em;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	font-family: Arial, Helvetica, sans-serif;
	}	
		
TH	{	
	vertical-align:	baseline;
	font-size:	1em;
	font-weight:	bold;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	font-family: Arial, Helvetica, sans-serif;
	}	

	
SMALL	{	
	font-size:	.7em;
	}	

BIG	{	
	font-size:	1.17em;
	}	

BLOCKQUOTE, PRE	{	
	font-family:	Courier New, monospace;
	}	
	

UL LI	{	
	list-style-type:	square ;
	}	

UL LI LI	{	
	list-style-type:	disc;
	}	

UL LI LI LI	{	
	list-style-type:	circle;
	}	
	
OL LI	{	
	list-style-type:	decimal;
	}	

OL OL LI	{	
	list-style-type:	lower-alpha;
	}	

OL OL OL LI	{	
	list-style-type:	lower-roman;
	}	

INPUT
{
	font-size: 11px;
	color: #000000;
	font-family: "Trebuchet MS" , Verdana, Arial, Helvetica, sans-serif;
}

.Calendar
{
	font-weight: normal;
	font-size: 8pt;
	z-index: 2;
	background: white;
	left: 50px;
	visibility: hidden;
	position: absolute;
	top: 50px;
}

.Calendar .Heading
{
	font-weight:bold;
	font-size: 8pt;
	color: #ffffff;
	background-color: #cccccc;
}

.Calendar .SelectedDate
{
	font-weight: bold;
}

.Calendar .Today
{
	background-color: whitesmoke;
	font-weight: bold;
}

.ErrorMessage
{
	z-index: 1;
	left: 0px;
	position: absolute;
	top: 28px;
}

.PageHeader
{
	background-color: #ffffff;
}

.PageFooter
{
	padding-right: 4px;
	padding-left: 4px;
	font-size: 8pt;
	background-color: #c0c0c0;
	text-decoration: none;
}



.SearchResults
{
	padding-right: 4px;
	padding-left: 4px;
	font-weight: normal;
	font-size: 9pt;
	padding-bottom: 4px;
	word-spacing: normal;
	vertical-align: baseline;
	padding-top: 4px;
	background-repeat: repeat-x;
	font-family: Verdana, Helvetica, sans-serif;
	letter-spacing: normal;
	background-color: #999999;
	text-align: left;
}

.PageContent
{
	padding-right: 0px;
	padding-left: 0px;
	font-weight: normal;
	font-size: 8pt;
	padding-bottom: 0px;
	word-spacing: normal;
	vertical-align: top;
	padding-top: 0px;
	background-repeat: repeat-x;
	font-family: Verdana, Helvetica, sans-serif;
	letter-spacing: normal;
	background-color: white;
	text-align: left;
}

.PageContent .Heading
{
	color: #ffffff;
	padding-right: 8px;
	padding-left: 8px;
	font-weight: bold;
	font-size: 10pt;
	margin-bottom: 8px;
	padding-bottom: 8px;
	padding-top: 10px;
	background-color: #bd0000;
	text-decoration: none;
}

.PageContent .Info
{
	font-style: italic;
	padding-left: 16px;
}

.PageContent .InputBox
{
	padding-right: 4px;
	padding-left: 4px;
	font-weight: normal;
	font-size: 8pt;
	padding-bottom: 0px;
	word-spacing: normal;
	vertical-align: baseline;
	color: #000000;
	padding-top: 0px;
	background-repeat: repeat-x;
	font-family: Verdana, Helvetica, sans-serif;
	letter-spacing: normal;
	background-color: #ffffff;
	text-align: left;
}

.PageContent .InputBoxError
{
	padding-right: 4px;
	padding-left: 4px;
	font-weight: normal;
	font-size: 8pt;
	padding-bottom: 0px;
	word-spacing: normal;
	vertical-align: baseline;
	padding-top: 0px;
	background-repeat: repeat-x;
	font-family: Verdana, Helvetica, sans-serif;
	letter-spacing: normal;
	background-color: white;
	text-align: left;
	background-color: #d00000;
	color: #ffffff;
}

.PageContent .Link
{
	padding-right: 10px;
	margin-top: 1px;
	font-weight: bold;
	font-size: 10pt;
	margin-bottom: 1px;
	margin-left: 10px;
	color: #ffffff;
	text-decoration: none;
}

.PageContent .TableHeader
{
	background: #cccccc;
	font-weight: bold;
}

.PageContent .TableAlternateItem
{
	background-color: #cccccc;
}

.PageContent .Transparent
{
	background-color: Transparent;
	background-image: none;
	font-weight: normal;
	font-size: 8pt;
	word-spacing: normal;
	vertical-align: baseline;
	font-family: Verdana, Helvetica, sans-serif;
	letter-spacing: normal;
	text-align: left;
	padding: 4px;
}

.PageContent .TransparentNoPadding
{
	background-color: Transparent;
	background-image: none;
	font-weight: normal;
	font-size: 8pt;
	word-spacing: normal;
	vertical-align: baseline;
	font-family: Verdana, Helvetica, sans-serif;
	letter-spacing: normal;
	text-align: left;
}

.PageContent .Red
{
	color: #bd0000;
}

.PageContent .Highlight
{
	font-weight: bold;
}

.PageContent .SearchResults 
{
	font-weight: normal;
	color: #000000;
}
.PageContent .SearchRestuls:Hover
{
}

.PageContent TEXTAREA
{
	font-size: 8pt;
	font-family: Arial;
}

.SignOn
{
	font-size: 8pt;
}

.Thumbnail
{
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
}

.Thumbnailhover
{
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
}

.Transparent
{
	padding-right: 0px;
	padding-left: 0px;
	font-weight: normal;
	font-size: 8pt;
	background-attachment: fixed;
	padding-bottom: 0px;
	margin: 0px;
	word-spacing: normal;
	vertical-align: baseline;
	text-transform: none;
	padding-top: 0px;
	background-repeat: repeat-x;
	font-family: Verdana, Helvetica, sans-serif;
	letter-spacing: normal;
	background-color: white;
	text-align: left;
}

.Link
{
	color: blue;
}

.Link:Hover
{
	text-decoration: underline;
	cursor: hand;
}

.Navigation1 
{
	padding-right: 1px;
	padding-left: 1px;
	font-size: 8pt;
	background-attachment: fixed;
	padding-bottom: 0px;
	padding-top: 0px;
	background-repeat: repeat-x;
	background-color: white;
	text-align: left;
}

.Navigation1 .Transparent
{
	background-color: Transparent;
	background-image: none;
}

.Navigation1 .Link
{
	color: #d00000;
	font-weight: bold;
	text-decoration: none;
}

.Navigation1 .Link:Hover
{
	text-decoration: underline;
	cursor: hand;
}

.Navigation1 .LinkHover
{
	color: #d00000;
	font-weight: bold;
	text-decoration: underline;
	cursor: hand;
}

.Navigation1 .Link2
{
	color: #d00000;
	font-weight: normal;
	text-decoration: none;
}

.Navigation1 .Link2:Hover
{
	text-decoration: underline;
	cursor: hand;
}

.NavigationTop
{
	color: #ffffff;
	background-color: #cccccc;
	margin-left: 10px;
}


.NavigationTop .Link
{
	padding-right: 10px;
	margin-top: 1px;
	font-weight: bold;
	font-size: 10pt;
	margin-bottom: 1px;
	margin-left: 10px;
	color: #ffffff;
	text-decoration: none;
}

.NavigationTop .Link:Hover
{
	padding-right: 10px;
	font-size: 10pt;
	margin-bottom: 10px;
	color: #bd0000;
	padding-top: 10px;
	text-decoration: none;
}

.NavigationTop .LastLink
{
	padding-right: 10px;
	font-weight: bold;
	font-size: 10pt;
	margin-left: 10px;
	color: #d3d3d3;
	text-decoration: none;
}

.NavigationTop .LastLink:Hover
{
	padding-right: 10px;
	font-size: 10pt;
	margin-left: 10px;
	color: #d3d3d3;
	text-decoration: none;
}

.dgSearchAttributes
{
	font-size: 8pt;
	padding-left: 4px;
	padding-right: 4px;
	border-style: none;	
}
.PageContent A
{
	padding-right: 1px;
	padding-left: 1px;
	font-weight: normal;
	padding-bottom: 1px;
	color: #BD0000;
	padding-top: 1px;
	text-decoration: none;
}
.PageContent A:Hover
{
	text-decoration: underline;
	color:Black;
}

.PageContentLink
{
	border-right: black 1px solid;
	padding-right: 4px;
	border-top: black 1px solid;
	padding-left: 4px;
	font-weight: bold;
	padding-bottom: 4px;
	border-left: black 1px solid;
	color: #BD0000;
	padding-top: 4px;
	border-bottom: black 1px solid;
	text-decoration: none;	
}

.PageContentLinkHover
{
	background-color: Gray;
	text-decoration: none;
	color:Black;
}

SELECT
{
	border-right: none;
	border-top: thin solid;
	border-left: thin solid;
	border-bottom: thin solid;
	background-color: transparent;
	font-size: 8pt;
}
.ResultsHeader
{
	font-weight: bold;
	font-size: 10pt;
	margin-left: 8px;
	color: white;
	margin-right: 8px;
	background-color: darkgray;
	text-align: center;

}
.LabelHighlight
{
	font-size: 8pt;
	color: black;
	border-top-style: ridge;
	border-right-style: ridge;
	border-left-style: ridge;
	background-color: transparent;
	border-bottom-style: ridge;
}
.Navigation
{
	padding: 0;
	font-size: 8pt;
}
.NavigationLink
{
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	border-bottom-style: none;
}
.NavigationLinkHover
{
	background-color: #bd0000;
	cursor: hand;
}
.PageContentHighlight
{
	padding-right: 8px;
	padding-left: 8px;
	font-weight: bold;
	font-size: 10pt;
	color: white;
	background-color: black;
}

.RightContent
{
	background-attachment: fixed;
	background-repeat: repeat-x;
	background-color: white;
}

.SelectedItem
{
	background-color: #bd0000;
}

.Thumbnails
{
	font-size: 8pt;
	font-family: Arial, Helvetica, tahoma;
	background-color: #dcdcdc;
}
.Thumbnails .Page
{
	font-weight: bold;
	color: #db0000;
	position: relative;
}

.HeaderBar
{
	background-image: url(Images/toolbar_grey.gif);
	background-repeat: repeat-x;
}

.UserPrefs
{
	font-size: 9pt;
	font-family: Verdana;
}

.WorkFlow
{
	font-family: Verdana, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 8pt;
	word-spacing: normal;
	vertical-align: baseline;
	letter-spacing: normal;
	background-color: white;
	text-align: left;
	padding: 4px;
}

.WorkFlow .Buttons
{
	border-right: black 1px solid;
	margin-right: 4px;
	border-top: black 1px solid;
	margin-left: 4px;
	font-size: 10pt;
	margin-bottom: 4px;
	border-left: black 1px solid;
	margin-top: 4px;
	border-bottom: black 1px solid;
	font-family: Arial, Tahoma, 'Microsoft Sans Serif' , Verdana;
	background-color: silver;
}

.WorkFlow .Navigation
{
	background-color: White
}

.WorkFlow .Navigation A
{
	color: #d80000;
	text-decoration: none;
	padding: 4px;
}

.WorkFlow .Navigation A:HOVER
{
	text-decoration: underline;
}

.WorkFlow .Selected
{
	background-color: #d80000;
}

.WorkFlow .Selected A
{
	color: Black;
	text-decoration: none;
}

/* Page Numbers */
.pages {
    padding: 1em;
    margin: 1em 0;
    clear: left;
    font-size: 85%;
}

.pages a, .pages span
{
	border-right: #bd0000 1px solid;
	padding-right: 0.5em;
	border-top: #bd0000 1px solid;
	display: block;
	padding-left: 0.5em;
	background: #ffffff;
	float: left;
	padding-bottom: 0.2em;
	border-left: #bd0000 1px solid;
	margin-right: 0.1em;
	padding-top: 0.2em;
	border-bottom: #bd0000 1px solid;
}

.pages span.current
{
	border-right: gray 1px solid;
	border-top: gray 1px solid;
	font-weight: bold;
	background: lightgrey;
	border-left: gray 1px solid;
	color: black;
	border-bottom: gray 1px solid;
}

.pages a
{
	border-right: darkgray 1px solid;
	border-top: darkgray 1px solid;
	border-left: darkgray 1px solid;
	border-bottom: darkgray 1px solid;
	text-decoration: none;
}

.pages a:hover
{
	border-right: gray 1px solid;
	border-top: gray 1px solid;
	border-left: gray 1px solid;
	border-bottom: gray 1px solid;
}

.pages a.nextprev {
    font-weight: bold;
}

.pages span.nextprev {
    color: #666;
}

.pages span.nextprev {
        border: 1px solid #ddd;
        color: #999;
}