<%@ Page Language="vb" AutoEventWireup="false" Codebehind="ThumbnailPreview.aspx.vb" Inherits="docAssistWeb.ThumbnailPreview"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title></title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
	</HEAD>
	<body MS_POSITIONING="GridLayout" bottomMargin="0" leftMargin="0" topMargin="0" rightMargin="0">
		<form id="frmThumbnailPreview" method="post" runat="server">
			<asp:Label id="lblThumb" runat="server"></asp:Label>
		</form>
	</body>
</HTML>
