<%@ Control Language="vb" AutoEventWireup="false" Codebehind="MenuBar.ascx.vb" Inherits="docAssistWeb.MenuBar" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" %>
<TABLE cellSpacing="0" cellPadding="0" width="100%" border="0">
	<TR height="23">
		<TD></TD>
		<TD></TD>
		<TD></TD>
		<TD></TD>
		<TD style="BACKGROUND-POSITION-X: right; BACKGROUND-IMAGE: url(./Images/docheader_bottom_26.gif); BACKGROUND-REPEAT: no-repeat"
			align="right" width="100%" bgColor="#cccccc"></TD>
	</TR>
	<TR>
		<TD colSpan="5"><IMG height="1" src="images\spacer.gif" width="1"></TD>
	</TR>
</TABLE>
