<%@ Control Language="vb" AutoEventWireup="false" Codebehind="TopRight.ascx.vb" Inherits="docAssistWeb.TopRight" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" %>
<TABLE border="0" cellpadding="0" cellspacing="0" class="PageFooter" width="100%">
	<TR>
		<TD STYLE="BORDER-RIGHT: #696969 2px solid; BORDER-TOP: #696969 2px solid" bgColor="#cccccc">&nbsp;&nbsp;
			<ASP:LABEL ID="lblUserName" Runat="server" Font-Names="Verdana" Font-Size="8pt" Height="8px"></ASP:LABEL>
		</TD>
		<TD STYLE="BORDER-TOP: #696969 2px solid" bgColor="#cccccc">&nbsp;&nbsp;&nbsp;
			<ASP:LABEL ID="lblUserType" Runat="server" Font-Names="Verdana" Font-Size="8pt"></ASP:LABEL></TD>
		<TD STYLE="BORDER-TOP: #696969 2px solid; BORDER-LEFT: #696969 2px solid" bgColor="#cccccc">
			<font face="Verdana" size="1">&nbsp; </font>
			<ASP:LABEL ID="lblAccountDesc" Runat="server" Font-Names="Verdana" Font-Size="8pt"></ASP:LABEL></TD>
	</TR>
</TABLE>
