<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Add Document Attributes</title>

<!--(Meta)==========================================================-->

<meta name="template" content="Copyright.htt">
<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=date content="11 16, 2001 6:56:45 PM">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=398>
<meta name=layout-width content=741>


<!--(Links)=========================================================-->

<link rel="StyleSheet" href="Application Help.css">



</head>

<!--(Body)==========================================================-->


<body>

<h1>Adding Document Attributes</h1>

<p style="margin-left: 0px;">Once a document has been added to docAssist 
 it is eligible to have one or more attributes associated to it. Using 
 these attributes a document can be searched or indexed. </p>

<p style="margin-left: 0px;">docAssist provides a convenient method of 
 creating attributes via its Admin tab. To find more information about 
 creating attributes refer the <a href="Adding_and_Maintaining_Attributes.htm">Adding 
 and Maintaining Attributes</a> topic and to view all the attributes of 
 all the various document types in your implementation of docAssist refer 
 the <a href="Viewing_the_Documents_and_their_Attributes.htm">View the 
 Documents and their Attributes</a> topic.</p>

<p style="margin-left: 0px;">&nbsp;</p>

<!--kadov_tag{{<placeholder id="footer">}}-->
</body>

</html>
