<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Adding and Maintaining Workflow items</title>

<!--(Meta)==========================================================-->

<meta name="template" content="Copyright.htt">
<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=date content="11 16, 2001 6:56:45 PM">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=3825>
<meta name=layout-width content=741>


<!--(Links)=========================================================-->

<link rel="StyleSheet" href="Application Help.css">



</head>

<!--(Body)==========================================================-->


<body>

<h1>Adding and Maintaining Workflow items</h1>

<p style="margin-left: 0px;">You can add, change and delete workflow items 
 such as groups, categories, workflows, queues and actions from the Workflow 
 item of the menu under the Admin tab. Unlike other items of the menu <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->all 
 the submenu items of the menu item Workflow appear on the same page for 
 convenient creation, editing and deletion. When you click an item under 
 Workflow, that item is positioned at the top of the page when it is displayed 
 in the <span style="font-weight: bold;">Details</span> pane.</p>

<p style="margin-left: 0px;"><img src="WorkflowPageMenu.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 440px;
											height: 598px;
											float: none;
											border-style: none;
											border-style: none;"
									width=440
									height=598
									border=0></p>

<p style="margin-left: 0px;">The methods of creating, editing and deleting 
 the various items on this page are the same. To add an item click the 
 <span style="font-weight: bold;">Add</span> link associated with that 
 item. To edit an item click the <span style="font-weight: bold;">Edit</span> 
 <img src="EditUserBtn.jpg"
		x-maintain-ratio=TRUE
		style="border: none;
				width: 24px;
				height: 20px;
				float: none;
				border-style: none;
				border-style: none;"
		width=24
		height=20
		border=0>symbol associated with the item. The details of the item 
 and displayed in a dialogue that you can edit and then save when done.</p>

<p style="margin-left: 0px;">To delete the item click the <span style="font-weight: bold;">Delete</span> 
 <span style="font-weight: bold;"><img src="DeleteUserBtn.jpg"
										x-maintain-ratio=TRUE
										style="border: none;
												width: 17px;
												height: 19px;
												float: none;
												border-style: none;
												border-style: none;"
										width=17
										height=19
										border=0></span>symbol associated 
 with the item. A confirmation dialog appears. Click <span style="font-weight: bold;">OK</span> 
 to delete the item.</p>

<p style="margin-left: 0px;">In the sections below you'll learn how to 
 create the various items.</p>

<h2>To add a category</h2>

<ol style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">Click the <span style="font-weight: bold;">Add</span> 
 link next to <span style="font-weight: bold;">Categories</span>. The <span 
 style="font-weight: bold;">Category</span> dialog is displayed.</p></li>
</ol>

<p style="margin-left: 40px;"><img src="CategoriesDg.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 372px;
											height: 206px;
											float: none;
											border-style: none;
											border-style: none;"
									width=372
									height=206
									border=0></p>

<ol start=2
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">Enter a name for the 
 new category in the <span style="font-weight: bold;">Category Name</span> 
 field and click <span style="font-weight: bold;">Save</span>.</p></li>
</ol>

<h2>To add a workflow</h2>

<ol style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">Click the <span style="font-weight: bold;">Add</span> 
 link next to <span style="font-weight: bold;">Workflows</span>. The add 
 workflow dialog is displayed.</p></li>
</ol>

<p style="margin-left: 40px;"><img src="AddWrkflwDg.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 555px;
											height: 674px;
											float: none;
											border-style: none;
											border-style: none;"
									width=555
									height=674
									border=0></p>

<ol start=2
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">Fill the fields of the 
 dialog as required. </p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">Check the <span style="font-weight: bold;">Enabled</span> 
 checkbox to enable the workflow.</p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">Assign submitters, documents 
 and entry queues to the workflow by selecting them from the <span style="font-weight: bold;">Available</span> 
 boxes and moving them to the <span style="font-weight: bold;">Assigned</span> 
 box. To move an item from the <span style="font-weight: bold;">Available</span> 
 box to the <span style="font-weight: bold;">Assigned</span> box select 
 the item from the <span style="font-weight: bold;">Available</span> box 
 and click <img src="MoveToAssignedBtn.jpg"
				x-maintain-ratio=TRUE
				style="border: none;
						width: 25px;
						height: 22px;
						float: none;
						border-style: none;
						border-style: none;"
				width=25
				height=22
				border=0> associated between the pair of boxes. To move 
 an item from the <span style="font-weight: bold;">Assigned</span> box 
 to the <span style="font-weight: bold;">Available</span> box select the 
 item from the <span style="font-weight: bold;">Assigned</span> box and 
 click <img src="MovToAvailbleBtn.jpg"
			x-maintain-ratio=TRUE
			style="border: none;
					width: 25px;
					height: 22px;
					float: none;
					border-style: none;
					border-style: none;"
			width=25
			height=22
			border=0> associated between the pair of boxes.</p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">Click <span style="font-weight: bold;">Save</span> 
 when done.</p></li>
</ol>

<h2>To add a Group</h2>

<ol style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">Click the <span style="font-weight: bold;">Add</span> 
 link next to <span style="font-weight: bold;">Groups</span>. The <span 
 style="font-weight: bold;">Add Group</span> dialog is displayed.</p></li>
</ol>

<p style="margin-left: 40px;"><img src="AddGrpWbDg.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 552px;
											height: 404px;
											float: none;
											border-style: none;
											border-style: none;"
									width=552
									height=404
									border=0></p>

<ol start=3
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">Enter a name for the 
 new group in the <span style="font-weight: bold;">Group Name</span> field.</p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">Check the <span style="font-weight: bold;">Enabled</span> 
 checkbox to activate Group.</p></li>
</ol>

<p class=Tip>Note: By default the <span style="font-weight: bold;">Enabled</span> 
 checkbox is checked.</p>

<ol start=5
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">Select members for the 
 group by moving names from the <span style="font-weight: bold;">Available 
 Users</span> to the <span style="font-weight: bold;">Assigned Users</span> 
 list. To move an item from the <span style="font-weight: bold;">Available 
 Users</span> box to the <span style="font-weight: bold;">Assigned Users 
 </span>box select the item from the <span style="font-weight: bold;">Available 
 Users</span> box and click <img src="MoveToAssignedBtn.jpg"
								x-maintain-ratio=TRUE
								style="border: none;
										width: 25px;
										height: 22px;
										float: none;
										border-style: none;
										border-style: none;"
								width=25
								height=22
								border=0> associated between the pair of 
 boxes. To move an item from the <span style="font-weight: bold;">Assigned 
 Users</span> box to the <span style="font-weight: bold;">Available Users</span> 
 box select the item from the <span style="font-weight: bold;">Assigned 
 Users</span> box and click <img src="MovToAvailbleBtn.jpg"
								x-maintain-ratio=TRUE
								style="border: none;
										width: 25px;
										height: 22px;
										float: none;
										border-style: none;
										border-style: none;"
								width=25
								height=22
								border=0> associated between the pair of 
 boxes.</p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">Click <span style="font-weight: bold;">Save</span> 
 when done.</p></li>
</ol>

<h2>To add a queue</h2>

<ol style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">Click the <span style="font-weight: bold;">Add</span> 
 link next to <span style="font-weight: bold;">Queues</span>. The Add Queue 
 web dialog is displayed.</p></li>
</ol>

<p style="margin-left: 40px;"><img src="AddQueueWindow.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 266px;
											height: 490px;
											float: none;
											border-style: none;"
									width=266
									height=490
									border=0></p>

<ol start=2
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">Fill in the fields as 
 required. Based on the group that you select from the <span style="font-weight: bold;">Group</span> 
 drop-down list the users of that group are listed below the name of the 
 group and for whom you can assign access rights. For each of the users 
 you can assign <span style="font-weight: bold;">None</span>, <span style="font-weight: bold;">View</span> 
 or <span style="font-weight: bold;">Review</span> access. Giving <span 
 style="font-weight: bold;">None</span> access to a user in the group will 
 give him or her no access rights on the document in the queue. <span style="font-weight: bold;">View</span> 
 access permits the user to view the document and <span style="font-weight: bold;">Review</span> 
 access provides review access. </p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">Add or remove actions 
 by selecting a <span style="font-weight: bold;">Routing Path</span> from 
 the drop-down list and clicking the <span style="font-weight: bold;">Add</span> 
 link. The new action will be added to the list of actions. You can remove 
 an action from the list by clicking the <span style="font-weight: bold;">Remove</span> 
 button of that action. </p></li>
</ol>

<p class=Tip><span style="font-weight: bold;">Note:</span> When planning 
 for actions to be added to the queue follow a logical sequences of Start 
 - Process - End, the end can be created using the <span style="font-weight: bold;">Completed</span> 
 action. Actions also have an associated property such as <span style="font-weight: bold;">Forward</span> 
 or <span style="font-weight: bold;">Backward</span>. For example the <span 
 style="font-weight: bold;">Completed</span> action has the <span style="font-weight: bold;">End</span> 
 property and the <span style="font-weight: bold;">Rejected</span> action 
 has the <span style="font-weight: bold;">Back</span> property. Additionally 
 for every action selected a related control will appear. This control 
 can be one of the following: a drop-down list as in the case of the <span 
 style="font-weight: bold;">Rejected</span> action or a pair of boxes as 
 in the case of the <span style="font-weight: bold;">Approved</span> action. 
 The <span style="font-weight: bold;">Completed</span> action has no related 
 control.</p>

<ol start=4
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">Select an option from 
 the drop-down list or if the control is a pair of boxes, move items between 
 the boxes by selecting items and using the <img src="MoveToAssignedBtn.jpg"
												x-maintain-ratio=TRUE
												style="border: none;
														width: 25px;
														height: 22px;
														float: none;"
												width=25
												height=22
												border=0> and <img src="MovToAvailbleBtn.jpg"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 25px;
			height: 22px;
			float: none;"
	width=25
	height=22
	border=0> buttons.</p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">Finally click <span 
 style="font-weight: bold;">Save</span> when done.</p></li>
</ol>

<h2>To add an action</h2>

<ol style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">Click the <span style="font-weight: bold;">Add</span> 
 link next to <span style="font-weight: bold;">Actions</span>. The add 
 Actions web dialog is displayed.</p></li>
</ol>

<p style="margin-left: 40px;"><img src="AddActionsDg.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 412px;
											height: 219px;
											float: none;"
									width=412
									height=219
									border=0></p>

<ol start=2
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">Enter the data in the 
 fields of the dialog and select an associated action from the <span style="font-weight: bold;">Route 
 Action</span> drop-down list.</p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">Click <span style="font-weight: bold;">Save</span> 
 when done.</p></li>
</ol>

<!--kadov_tag{{<placeholder id="footer">}}-->
</body>

</html>
