<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Adding and Removing Favorites</title>

<!--(Meta)==========================================================-->

<meta name="template" content="Copyright.htt">
<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=date content="11 16, 2001 6:56:45 PM">
<meta name=generator content="Adobe RoboHelp - www.adobe.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=1179>
<meta name=layout-width content=658>


<!--(Links)=========================================================-->

<link rel="StyleSheet" href="Application Help.css">



</head>

<!--(Body)==========================================================-->


<body>

<h1>Adding and Removing Favorites</h1>

<p style="margin-left: 0px;">docAssist™ provides a convenient way to access 
 frequently used folders by providing a <span style="font-weight: bold;">My 
 Favorites</span> folder located at the very top of the <span style="font-weight: bold;">Cabinets 
 and Folders Tree.</span> In this folder, shortcuts to frequently used 
 folders can be placed.</p>

<h2>To add a folder shortcut to the My Favorites folder</h2>

<ol style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p>Select the folder or subfolder you wish to add 
 to the <span style="font-weight: bold;">My Favorites</span> folder. In 
 the following example, the &quot;<span style="font-weight: bold;">Vector 
 Files&quot;</span> subfolder under &quot;<span style="font-weight: bold;">Artwork&quot;</span> 
 folder is selected:</p></li>
</ol>

<p style="margin-left: 32px;"><img src="images/AddFavorites_folderselection.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 267px;
											height: 317px;
											float: none;
											border-style: none;
											border-style: none;"
									width=267
									height=317
									border=0></p>

<ol style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p>Select the <span style="font-weight: bold;">Add 
 to Favorites</span> option on the <span style="font-weight: bold;">Folder 
 and File Actions</span> Menu.</p></li>
	
	<li class=kadov-p><p>A shortcut to the folder is added to the <span 
 style="font-weight: bold;">My Favorites</span> folder. All the contents 
 of this folder can be viewed from this shortcut by simply selecting it:</p></li>
</ol>

<p style="margin-left: 32px;"><img src="images/MyFavoritesfolderAdded.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 267px;
											height: 317px;
											float: none;
											border-style: none;
											border-style: none;"
									width=267
									height=317
									border=0></p>

<h2>To remove a folder added to the My Favorites folder</h2>

<ol style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p>To delete a shortcut in the <span style="font-weight: bold;">My 
 Favorites</span> folder, choose the shortcut to be deleted, and select 
 the <span style="font-weight: bold;">Delete Item</span> option from the 
 <span style="font-weight: bold;">Folder and File Actions</span> Menu.</p></li>
	
	<li class=kadov-p><p>A confirmation message is displayed indicating 
 the deletion of the shortcut:</p></li>
</ol>

<p style="margin-left: 32px;"><img src="images/FavoritesDeletionMsg.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 466px;
											height: 128px;
											float: none;
											border-style: none;
											border-style: none;"
									width=466
									height=128
									border=0></p>

<ol start=4
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p>Click <span style="font-weight: bold;">OK</span> 
 to delete the shortcut or <span style="font-weight: bold;">Cancel</span> 
 to abort the process.</p></li>
	
	<li class=kadov-p><p>Once the shortcut is deleted, it no longer appears 
 in the <span style="font-weight: bold;">My Favorites</span> folder.</p></li>
</ol>

<p>&nbsp;</p>

<!--kadov_tag{{<placeholder id="footer">}}-->
</body>

</html>
