<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Adding and Modifying Security Settings</title>

<!--(Meta)==========================================================-->

<meta name="template" content="Copyright.htt">
<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=date content="11 16, 2001 6:56:45 PM">
<meta name=generator content="Adobe RoboHelp - www.adobe.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=2767>
<meta name=layout-width content=719>


<!--(Links)=========================================================-->

<link rel="StyleSheet" href="Application Help.css">



</head>

<!--(Body)==========================================================-->


<body>

<h1>Adding and Modifying Security Settings</h1>

<p style="margin-left: 0px;">You can easily set security settings for cabinets 
 and folders. You can create inheritance from cabinets to folders and subfolders 
 or override the security settings of an subfolder to create just the security 
 you need.</p>

<h2>To set permissions for a cabinet</h2>

<ol style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">Select a cabinet in 
 the <span style="font-weight: bold;">Cabinets and Folders Tree</span>.</p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">Select the <span style="font-weight: bold;">Manage 
 Item</span> option in the <span style="font-weight: bold;">Folder and 
 File Actions</span> Menu.</p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">The <span style="font-weight: bold;">Permissions</span> 
 dialog for the cabinet opens:</p></li>
</ol>

<p style="margin-left: 40px;"><img src="images/CabinetPermissions.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 660px;
											height: 635px;
											float: none;
											border-style: none;
											border-style: none;"
									width=660
									height=635
									border=0></p>

<ol start=4
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">To provide <span style="x-text-underline: normal; /*begin!kadov{{*/ text-decoration: underline; /*}}end!kadov*/ ">all 
 users</span> of the application the same level of access to all folders 
 and files in this cabinet, select a security level for &quot;<span style="font-weight: bold;">Everyone&quot;</span> 
 from the <span style="font-weight: bold;">Folder Permissions</span> and 
 <span style="font-weight: bold;">File Permissions</span> drop-down lists.</p></li>
</ol>

<ol start=5
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">To provide <span style="x-text-underline: normal; /*begin!kadov{{*/ text-decoration: underline; /*}}end!kadov*/ ">a 
 specific user</span> with separate permissions, select the appropriate 
 permissions from the <span style="font-weight: bold;">Folder Permissions</span> 
 and <span style="font-weight: bold;">File Permissions</span> drop-down 
 lists for that user. Scroll the side bar if needed to view and browse 
 other users. </p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">Assign or remove administrators 
 of the Cabinets by selecting users from the <span style="font-weight: bold;">Available</span> 
 list or the <span style="font-weight: bold;">Assigned</span> list and 
 using the button of the dialog as explained in the table below.</p></li>
</ol>

<!--(Table)=========================================================-->
<table x-use-null-cells
		style="x-cell-content-align: top;
				margin-left: 40px;
				width: 66.851%;
				border-spacing: 0px;
				border-spacing: 0px;"
		cellspacing=0
		width=66.851%>
<col style="width: 13.381%;">
<col style="width: 86.619%;">

<tr style="x-cell-content-align: top;"
	valign=top>
<td style="width: 13.381%;
			border-left-width: 1px;
			border-left-color: #000000;
			border-left-style: Solid;
			border-top-style: Solid;
			border-top-color: #000000;
			border-top-width: 1px;
			border-right-width: 1px;
			border-right-color: #000000;
			border-right-style: Solid;
			border-bottom-style: Solid;
			border-bottom-color: #000000;
			border-bottom-width: 1px;
			padding-right: 10px;
			padding-left: 10px;"
	width=13.381%>
<p style="font-weight: bold; text-align: center;"
	align=center>Button</td>
<td style="width: 86.619%;
			border-top-style: Solid;
			border-top-color: #000000;
			border-top-width: 1px;
			border-right-width: 1px;
			border-right-color: #000000;
			border-right-style: Solid;
			border-bottom-style: Solid;
			border-bottom-color: #000000;
			border-bottom-width: 1px;
			padding-right: 10px;
			padding-left: 10px;"
	width=86.619%>
<p style="font-weight: bold; text-align: center;"
	align=center>Description</td></tr>

<tr style="x-cell-content-align: top;"
	valign=top>
<td style="width: 13.381%;
			border-left-width: 1px;
			border-left-color: #000000;
			border-left-style: Solid;
			border-right-width: 1px;
			border-right-color: #000000;
			border-right-style: Solid;
			border-bottom-style: Solid;
			border-bottom-color: #000000;
			border-bottom-width: 1px;
			padding-right: 10px;
			padding-left: 10px;"
	width=13.381%>
<p style="text-align: center;"
	align=center><img src="images/SelectAllToAssigned.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								border-style: none;
								width: 26px;
								height: 23px;
								float: none;
								border-style: none;"
						width=26
						height=23
						border=0></td>
<td style="width: 86.619%;
			border-right-width: 1px;
			border-right-color: #000000;
			border-right-style: Solid;
			border-bottom-style: Solid;
			border-bottom-color: #000000;
			border-bottom-width: 1px;
			padding-right: 10px;
			padding-left: 10px;"
	width=86.619%>
<p>Click this button to move all the users in the <span style="font-weight: bold;">Available</span> 
 list to the <span style="font-weight: bold;">Assigned</span> list.</td></tr>

<tr style="x-cell-content-align: top;"
	valign=top>
<td style="width: 13.381%;
			border-left-width: 1px;
			border-left-color: #000000;
			border-left-style: Solid;
			border-right-width: 1px;
			border-right-color: #000000;
			border-right-style: Solid;
			border-bottom-style: Solid;
			border-bottom-color: #000000;
			border-bottom-width: 1px;
			padding-right: 10px;
			padding-left: 10px;"
	width=13.381%>
<p style="text-align: center;"
	align=center><img src="images/SelectOnetoAssigned.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								border-style: none;
								width: 27px;
								height: 23px;
								float: none;
								border-style: none;"
						width=27
						height=23
						border=0></td>
<td style="width: 86.619%;
			border-right-width: 1px;
			border-right-color: #000000;
			border-right-style: Solid;
			border-bottom-style: Solid;
			border-bottom-color: #000000;
			border-bottom-width: 1px;
			padding-right: 10px;
			padding-left: 10px;"
	width=86.619%>
<p>Moves the selected user from the <span style="font-weight: bold;">Available</span> 
 list to the <span style="font-weight: bold;">Assigned</span> list. <!--kadov_tag{{<spaces>}}-->&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!--kadov_tag{{</spaces>}}--></td></tr>

<tr style="x-cell-content-align: top;"
	valign=top>
<td style="width: 13.381%;
			border-left-width: 1px;
			border-left-color: #000000;
			border-left-style: Solid;
			border-right-width: 1px;
			border-right-color: #000000;
			border-right-style: Solid;
			border-bottom-style: Solid;
			border-bottom-color: #000000;
			border-bottom-width: 1px;
			padding-right: 10px;
			padding-left: 10px;"
	width=13.381%>
<p style="text-align: center;"
	align=center><img src="images/RemoveonefromAssigned.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								border-style: none;
								width: 27px;
								height: 23px;
								float: none;
								border-style: none;"
						width=27
						height=23
						border=0></td>
<td style="width: 86.619%;
			border-right-width: 1px;
			border-right-color: #000000;
			border-right-style: Solid;
			border-bottom-style: Solid;
			border-bottom-color: #000000;
			border-bottom-width: 1px;
			padding-right: 10px;
			padding-left: 10px;"
	width=86.619%>
<p>Moves the selected user from the <span style="font-weight: bold;">Assigned</span> 
 list to the <span style="font-weight: bold;">Available</span> list. <!--kadov_tag{{<spaces>}}-->&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!--kadov_tag{{</spaces>}}--></td></tr>

<tr style="x-cell-content-align: top;"
	valign=top>
<td style="width: 13.381%;
			border-left-width: 1px;
			border-left-color: #000000;
			border-left-style: Solid;
			border-right-width: 1px;
			border-right-color: #000000;
			border-right-style: Solid;
			border-bottom-style: Solid;
			border-bottom-color: #000000;
			border-bottom-width: 1px;
			padding-right: 10px;
			padding-left: 10px;"
	width=13.381%>
<p style="text-align: center;"
	align=center><img src="images/RemoveAllfromAssigned.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								border-style: none;
								width: 27px;
								height: 23px;
								float: none;
								border-style: none;"
						width=27
						height=23
						border=0></td>
<td style="width: 86.619%;
			border-right-width: 1px;
			border-right-color: #000000;
			border-right-style: Solid;
			border-bottom-style: Solid;
			border-bottom-color: #000000;
			border-bottom-width: 1px;
			padding-right: 10px;
			padding-left: 10px;"
	width=86.619%>
<p>Click this button to move all the users in the <span style="font-weight: bold;">Assigned</span> 
 list to the <span style="font-weight: bold;">Available</span> list.</td></tr>
</table>

<p style="margin-left: 0px;">&nbsp;</p>

<ol start=7
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">Finally click <span 
 style="font-weight: bold;">Save</span> to save the changes and close the 
 <span style="font-weight: bold;">Permissions</span> dialog. To quit without 
 saving, click <span style="font-weight: bold;">Cancel</span> or the close 
 button <img src="images/CloseButton.jpg"
			x-maintain-ratio=TRUE
			style="border: none;
					border-style: none;
					width: 21px;
					height: 20px;
					float: none;
					border-style: none;"
			width=21
			height=20
			border=0> <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->of 
 the dialog.</p></li>
</ol>

<h2>To set permissions for a folder</h2>

<ol style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">Select a folder in the 
 <span style="font-weight: bold;">Cabinets and Folders Tree</span>.</p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">Select the <span style="font-weight: bold;">Manage 
 Item</span> option in the <span style="font-weight: bold;">Folder and 
 File Actions</span> Menu.</p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">The <span style="font-weight: bold;">Permissions</span> 
 dialog for the folder opens.</p></li>
</ol>

<p style="margin-left: 40px;"><img src="images/FolderPermissions1.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											border-style: none;
											width: 660px;
											height: 610px;
											float: none;
											border-style: none;"
									width=660
									height=610
									border=0></p>

<p class=Tip><span style="font-weight: bold;">Note:</span> The permission 
 drop-down lists and the users for the folder have been disabled. This 
 is because the permissions for the users of this folder are inherited 
 from the parent folder (ie. Accounting).</p>

<ol start=4
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">To set permissions for 
 users ignoring the permissions of the parent folder clear the <span style="font-weight: bold;">Inherit 
 permissions from parent folder</span> checkbox.</p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">The permissions drop-down 
 lists and users are enabled.</p></li>
</ol>

<p style="margin-left: 40px;"><img src="images/FolderPermissions2.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											border-style: none;
											width: 660px;
											height: 610px;
											float: none;
											border-style: none;"
									width=660
									height=610
									border=0></p>

<ol start=4
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">To provide all the users 
 of the application the same level of access to all the files and folders, 
 select a security level for <span style="font-weight: bold;">Everyone</span> 
 from the <span style="font-weight: bold;">Folder Permissions</span> and 
 <span style="font-weight: bold;">File Permissions</span> drop-down lists.</p></li>
</ol>

<ol start=5
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">To provide a specific 
 user with separate permissions, select the appropriate permissions from 
 the <span style="font-weight: bold;">Folder Permissions</span> and <span 
 style="font-weight: bold;">File Permissions</span> drop-down lists for 
 that user. Scroll the side bar if needed to view and browse other users. 
 </p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">Finally, click <span 
 style="font-weight: bold;">Save</span> to save the changes and close the 
 <span style="font-weight: bold;">Permissions</span> dialog. To quit without 
 saving, click <span style="font-weight: bold;">Cancel</span> or the close 
 button <img src="images/CloseButton.jpg"
			x-maintain-ratio=TRUE
			style="border: none;
					border-style: none;
					width: 21px;
					height: 20px;
					float: none;
					border-style: none;"
			width=21
			height=20
			border=0> <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->of 
 the dialog.</p></li>
</ol>

<p>&nbsp;</p>

<!--kadov_tag{{<placeholder id="footer">}}-->
</body>

</html>
