<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Adding Pages to a Document</title>

<!--(Meta)==========================================================-->

<meta name="template" content="Copyright.htt">
<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=date content="11 16, 2001 6:56:45 PM">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=806>
<meta name=layout-width content=741>


<!--(Links)=========================================================-->

<link rel="StyleSheet" href="Application Help.css">



</head>

<!--(Body)==========================================================-->


<body>

<h1>Adding Pages to a Document</h1>

<p style="margin-left: 0px;">You can add pages to imaged documents <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->from 
 the <span style="font-weight: bold;">Scan</span> or <span style="font-weight: bold;">Viewer</span> 
 tabs. The procedure is more or less the same. This following procedure 
 is called from within the <span style="font-weight: bold;">View</span> 
 page when the <span style="font-weight: bold;">Add Pages</span> button 
 is clicked. You are taken to the scan tab</p>

<p style="margin-left: 40px;"><img src="ScanTabAddPagesScrn.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 508px;
											height: 270px;
											float: none;
											border-style: none;
											border-style: none;"
									width=508
									height=270
									border=0></p>

<ol style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">Click the <span style="font-weight: bold;">Load 
 Documents</span> <img src="LoadDocumentsBtn.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 27px;
								height: 23px;
								float: none;
								border-style: none;"
						width=27
						height=23
						border=0> button or click the down-arrow adjacent 
 to the <span style="font-weight: bold;">Load Documents <!--kadov_tag{{<spaces>}}-->&nbsp;</span><!--kadov_tag{{</spaces>}}-->button 
 and from the menu select <span style="font-weight: bold;">Select Files</span>.</p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">Click <span style="font-weight: bold;">Save</span>.</p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">The <span style="font-weight: bold;">Add 
 Pages</span> dialog opens.</p></li>
</ol>

<p style="margin-left: 40px;"><img src="AddPagedDg.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 397px;
											height: 214px;
											float: none;
											border-style: none;
											border-style: none;"
									width=397
									height=214
									border=0></p>

<ol start=4
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">Click <span style="font-weight: bold;">OK</span>.</p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">Click <span style="font-weight: bold;">Save 
 </span>again.</p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">Takes you back to the 
 <span style="font-weight: bold;">View</span> tab from where you clicked 
 the <span style="font-weight: bold;">Add Pages</span> button.</p></li>
</ol>

<p style="margin-left: 0px;">&nbsp;</p>

<!--kadov_tag{{<placeholder id="footer">}}-->
</body>

</html>
