<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Creating Folders and Cabinets</title>

<!--(Meta)==========================================================-->

<meta name="template" content="Copyright.htt">
<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=date content="11 16, 2001 6:56:45 PM">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=398>
<meta name=layout-width content=741>


<!--(Links)=========================================================-->

<link rel="StyleSheet" href="Application Help.css">



</head>

<!--(Body)==========================================================-->


<body>

<h1>Creating Folders and Cabinets</h1>

<p style="margin-left: 0px;">docAssist lets you organize your documents 
 neatly into folders and cabinets. These can be done via the <span style="font-weight: bold;">Folders 
 and Files</span> panel in the <!--kadov_tag{{<spaces>}}-->&nbsp;<span 
 style="font-weight: bold;"><!--kadov_tag{{</spaces>}}-->Explorer</span> 
 page. For detailed instructions on how to use the <span style="font-weight: bold;">Folders 
 and Files </span>panel refer to the topics under the Folders and Files 
 panel chapter. To go to the first topic of this chapter click <a href="Creating_a_Share.htm">here</a>.</p>

<!--kadov_tag{{<placeholder id="footer">}}-->
</body>

</html>
