@charset "iso-8859-1";
/* CSS Document */
/* Used For Menu Hover Actions */
	* html a:hover {visibility:visible}

/* 
	Fix for IEWin Hide from ie Mac 
	Gets rid of funky extra spacing in the menu
*/
	* html ul#mainmenu li { float: left; height: 1%; }
	* html ul#mainmenu li a { height: 1%; }
	* html ul#tourbutton li { float: left; height: 1%; }
	* html ul#tourbutton li a { height: 1%; }
/* End */ 

/* Text Styles*/
	body {
		background-image: url(images/background.gif);
		font-family: "Trebuchet MS",/*"Formata",*/ Verdana, Arial, Helvetica, sans-serif;
		font-size: 12px;
		color: #666;
		margin-left: 0px;
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
	}
	h1 {
		font-size: 24px;
		font-weight: bold;
		color: #BE0000;
	}
	h2 {
		font-size: 16px;
		font-weight: bold;
		color: #BE0000;
	}
	h3 {
		font-size: 14px;
		color: #666;
	}
	div#tourtext h1, div#coretext h1 {
		font-size: 16px;
		font-weight: bold;
		color: #BE0000;
	}
	div#tourtext H2 {
		font-size: 14px;
		color: #666;
	}

	div#coretext h2 {
		display: block;
		margin: 20px 0px -10px 0px;
		font-size: 11px;
		font-weight: bold;
		font-style:italic;
		color: #BE0000;
	}

	div#coretext p {
		font-size: 11px;
		color: #888;
	}
	div#coretext blockquote {
		display: block;
		font-size: 13px;
		font-style:italic;
		color: #000;
		background-color: #EEE;
		padding: 12px;
		margin: 0px;
		text-align:center;
	}
	
/* Link Styles */
	a:link {
		color: #333;
	}
	
	a:visited {
		color:	#666;
	}
	
	a:hover {
		color: #BE0000;
	}
	
	a:active {
		color: #BBBBBB;
	}

/* tabs */
	td#selected_tab {
		background-image: url(images/tab_blnk_selected.gif);
	}
	td#unselected_tab {
		background-image: url(images/tab_blnk_unselected.gif);	
	}
	td#selected_tab a, td#unselected_tab a {
		text-decoration: none;
		font-size: 10px;
		font-weight: bold;
	}
	
/* Phone Bug */
	#phone {
		position: absolute;
		z-index: 1000;
		top: 5px;
		right: 0px;
	}

/* Rounded Corner Boxes - Promo Area - Octopus Engine */
	.helpContainer {
		margin: 8px;
		clear: both;
		background: #F7F7F7;
	}
	
	.promoContainer {
		margin: 8px;
		clear: both;
		background: #F7F7F7;
		width: 760px;
	}
	
		.north { background: url(images/promoAreaBox/north.gif) repeat-x top; }
		.east { background: url(images/promoAreaBox/east.gif) repeat-y right; }
		.south { background: url(images/promoAreaBox/south.gif) repeat-x bottom; }
		.west { background: url(images/promoAreaBox/west.gif) repeat-y left; }
		.ne { background: url(images/promoAreaBox/ne.gif) no-repeat top right; }
		.se { background: url(images/promoAreaBox/se.gif) no-repeat bottom right; }
		.sw { background: url(images/promoAreaBox/sw.gif) no-repeat bottom left; }
		.nw { background: url(images/promoAreaBox/nw.gif) no-repeat top left; }
		
		.nw { padding: 10px; } /* Controls padding.  Increase to make text further away from edges; decrease to bring closer.  */

/* MainMenu - CSS Image Swap Rollover using list elements */

	ul#mainmenu {
		list-style: none;
		width: 165px;
		margin: 0px; 
		padding: 0px; 
		clear: both;
	}

	ul#mainmenu li a {
		display: block;
		width: 165px;
		margin: 0px; 
		padding: 0px; 
		height: 32px;
		border: 0px;
	}
	li#bottom {
		width: 165px;
		margin: 0px; 
		padding: 0px; 
		height: 18px;
		border: 0px;
	}
	
	li#top {
		width: 165px;
		margin: 0px; 
		padding: 0px; 
		height: 12px;
		border: 0px;
	}
	
	ul#mainmenu img {width: 165px; height: 32px; border: 0; }
	ul#mainmenu li#top img { height: 12px; }
	ul#mainmenu li#bottom img { height: 18px; }
	ul#mainmenu li#keyfeathead img,
	ul#mainmenu li#MediaInfoHead img,
	ul#mainmenu li#HostingSecurity img { height: 23px; }
	
	/* Menu List Item Background Images*/
	ul#mainmenu li#top{background: url(images/menu/top.gif) no-repeat left bottom;}
	ul#mainmenu li#home{background: url(images/menu/home-over.gif) no-repeat left top;}
	ul#mainmenu li#keyFeat{background: url(images/menu/keyfeatures-over.gif) no-repeat left top;}
	ul#mainmenu li#tour{background: url(images/menu/tour-over.gif) no-repeat left top;}
	ul#mainmenu li#hosting{background: url(images/menu/hosting-over.gif) no-repeat left top;}
	ul#mainmenu li#demo{background: url(images/menu/demo-over.gif) no-repeat left top;}
	ul#mainmenu li#bottom{background: url(images/menu/bottom.gif) no-repeat left top;}
	ul#mainmenu li#company{background: url(images/menu/company-over.gif) no-repeat left top;}
	ul#mainmenu li#mediaInfo{background: url(images/menu/mediaInfo-over.gif) no-repeat left top;}
	ul#mainmenu li#contact{background: url(images/menu/contactUs-over.gif) no-repeat left top;}
	ul#mainmenu li#jobs{background: url(images/menu/jobs-over.gif) no-repeat left top;}
	ul#mainmenu li#Reseller{background: url(images/menu/reseller-over.gif) no-repeat left top;}
	ul#mainmenu li#Partner{background: url(images/menu/beapartner-over.gif) no-repeat left top;}
	ul#mainmenu li#Portal{background: url(images/menu/portal-over.gif) no-repeat left top;}
	ul#mainmenu li#FourBlank{background: url(images/menu/4blank.gif) no-repeat left top;}
	ul#mainmenu li#Blank{background: url(images/menu/blank.gif) no-repeat left top;}
	
	/* Key Features Sub Menu */
	ul#mainmenu li#keyfeathead{background: url(images/menu/kfsub/Key-Features.gif) no-repeat left bottom;}
	ul#mainmenu li#capture{background: url(images/menu/kfsub/Capture-over.gif) no-repeat left top;}
	ul#mainmenu li#index{background: url(images/menu/kfsub/Index-over.gif) no-repeat left top;}
	ul#mainmenu li#integrate{background: url(images/menu/kfsub/Integrate-over.gif) no-repeat left top;}
	ul#mainmenu li#route{background: url(images/menu/kfsub/Route-over.gif) no-repeat left top;}
	ul#mainmenu li#automate{background: url(images/menu/kfsub/Automate-over.gif) no-repeat left top;}
	
	/* Media Information Sub Menu */
	ul#mainmenu li#MediaInfoHead{background: url(images/menu/misub/Media-Information.gif) no-repeat left bottom;}
	ul#mainmenu li#media{background: url(images/menu/misub/contacts-over.gif) no-repeat left top;}
	ul#mainmenu li#PR{background: url(images/menu/misub/pr-over.gif) no-repeat left top;}
	ul#mainmenu li#Coverage{background: url(images/menu/misub/coverage-over.gif) no-repeat left top;}
	ul#mainmenu li#Events{background: url(images/menu/misub/events-over.gif) no-repeat left top;}
	
	/* Security Sub Menu */
	ul#mainmenu li#HostingSecurity{background: url(images/menu/secsub/HostingSecurity.gif) no-repeat left bottom;}
	ul#mainmenu li#Security{background: url(images/menu/secsub/security-over.gif) no-repeat left top;}
	ul#mainmenu li#Hosting{background: url(images/menu/secsub/hosting-over.gif) no-repeat left top;}
	ul#mainmenu li#Compliance{background: url(images/menu/secsub/compliance-over.gif) no-repeat left top;}
	
	ul#mainmenu a:hover img{ visibility:hidden; }
	

/* TourButton - CSS Image Swap Rollover using list elements */
	
	div#toutbuttongroup {	
		position: relative;
		left: 150px;
		margin: 15px;
		width: 145px;
	}
	ul#tourbutton {
		list-style:none;
		margin: 0px; 
		padding: 0px;
		width: 145px;
	}
	li#taketour {
		margin: 0px; 
		padding: 0px;
		width: 145px; 
	}
	ul#tourbutton li a{
		display: block;
		margin: 0px; 
		padding: 0px;
		border: 0px;
		width: 145px;
	} 
	li#shadow img {
		width: 145px;
		margin: 0px; 
		padding: 0px; 
		height: 27px;
		border: 0px;
	}
	
	ul#tourbutton img {width: 145px; height: 30px; border: 0; }
	
	/* Tour Button List Images*/
	ul#tourbutton li#taketour{background: url(images/btn_taketour_roll.gif) no-repeat left bottom;}
	
	ul#tourbutton a:hover img{ visibility:hidden; }
	/* End Tour Button Styles */

	/* Image Display and Placement Styles */
	img#homebug { margin: 3px 0px 0px 0px;}
	
	div#promo {
		position: relative;
		top: -98px;
		right: 0px;
		height: 1px;
		width: 1px;
	}
	
	img#rtpromo { 
		/* Had to place this absolute inside a relative container to make it work in IE */
		position: absolute;
		top: 0px;
		left: 0px;
		height: 295px;
	}
	
	div#tourtext {
		position: relative;
		width: 379px;
		padding: 10px;
	}
	
	div#appwindows {
		display: block;
		position: relative;
		float: right;
	}
	
	img#sagebadge {
		position: relative;
		display: block;
		float: right;
	}
	
	img#msbadge {
		position: relative;
		display: block;
		float: left;
	}
	
	td#footer {
		background: url(images/footerbar.gif) no-repeat center top;
	}
	
	div#footertext {
		font-size: 10px;
		color: #999999;
		text-align: center;
		margin: 20px;
		clear: both;
	}
