<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Downloading Files</title>

<!--(Meta)==========================================================-->

<meta name="template" content="Copyright.htt">
<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=date content="11 16, 2001 6:56:45 PM">
<meta name=generator content="Adobe RoboHelp - www.adobe.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=1082>
<meta name=layout-width content=764>


<!--(Links)=========================================================-->

<link rel="StyleSheet" href="Application Help.css">



</head>

<!--(Body)==========================================================-->


<body>

<h1>Downloading Files</h1>

<p style="margin-left: 0px;">You can download files displayed on the Explorer 
 page easily. With the use of an included toolbar <img src="images/MassAction_toolbar.jpg"
														x-maintain-ratio=TRUE
														style="border: none;
	width: 147px;
	height: 21px;
	float: none;
	border-style: none;
	border-style: none;"
														width=147
														height=21
														border=0> , multiple 
 files can be downloaded in one instance. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}--></p>

<h2>To download files</h2>

<ol style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">Select the folder or 
 subfolder in the <span style="font-weight: bold;">Cabinets and Folders 
 tree</span> whose file or files you wish to download. In the example below, 
 the &quot;Employment Policies&quot; folder of the &quot;Human Resources&quot; 
 cabinet is selected.</p></li>
</ol>

<ol start=2
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">docAssist™ reads the 
 contents of the folder and displays the files in the <span style="font-weight: bold;">Details</span> 
 pane:</p></li>
</ol>

<p style="margin-left: 40px;"><img src="images/DetailsPane2.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 705px;
											height: 87px;
											float: none;
											border-style: none;
											border-style: none;"
									width=705
									height=87
									border=0></p>

<ol start=3
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">Select the file(s) you 
 wish to download by clicking on the checkbox associated with each of them. 
 Selected files will highlight yellow and its checkbox checked:</p></li>
</ol>

<p style="margin-left: 0px;"><img src="images/DetailsPane4.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 704px;
											height: 86px;
											float: none;
											margin-left: 36px;
											border-style: none;
											border-style: none;"
									width=704
									height=86
									border=0></p>

<ol start=4>
	
	<li class=kadov-p><p style="margin-left: 0px;">If you wish to check 
 all files in the folder, <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->click 
 on the <img src="images/MassAction_all.jpg"
			x-maintain-ratio=TRUE
			style="border: none;
					width: 25px;
					height: 16px;
					float: none;
					border-style: none;
					border-style: none;"
			width=25
			height=16
			border=0> <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->button. 
 To un-check all previously selected files, <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->click 
 on the <img src="images/MassAction_None.jpg"
			x-maintain-ratio=TRUE
			style="border: none;
					width: 33px;
					height: 17px;
					float: none;
					border-style: none;
					border-style: none;"
			width=33
			height=17
			border=0> <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->button.</p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">Set download options 
 by clicking <img src="images/MassAction_downloadoptions1.jpg"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 20px;
							height: 22px;
							float: none;
							border-style: none;
							border-style: none;"
					width=20
					height=22
					border=0> <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->button. 
 You will see a small drop-down option box appear:<span style="margin-left: 0px;"><img 
 src="images/MassAction_downloadoptions2.jpg"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 170px;
			height: 76px;
			float: none;
			margin-left: 36px;
			border-style: none;
			border-style: none;"
	width=170
	height=76
	border=0></span></p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">In this option box, 
 you can select wether to download the files in <span style="font-weight: bold;">PDF</span> 
 or <span style="font-weight: bold;">TIFF</span> format. Check &quot;<span 
 style="font-weight: bold;">Download as single pages</span>&quot; if you 
 wish to download a multi-page document into separate pages. </p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">Once these options are 
 set, <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->click 
 the <img src="images/MassAction_downloadoptions3.jpg"
			x-maintain-ratio=TRUE
			style="border: none;
					width: 20px;
					height: 19px;
					float: none;
					border-style: none;
					border-style: none;"
			width=20
			height=19
			border=0> <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->button 
 to close this option box. You will not need to set download options again, 
 unless changes need to be made.</p></li>
</ol>

<ol start=8>
	
	<li style="list-style: decimal;"
		type=1
		class=kadov-p><p style="margin-left: 0px;">From the toolbar click 
 on the <img src="images/MassAction_download.jpg"
			x-maintain-ratio=TRUE
			style="border: none;
					width: 17px;
					height: 20px;
					float: none;
					border-style: none;
					border-style: none;"
			width=17
			height=20
			border=0> <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->button. 
 A <span style="font-weight: bold;">File Download</span><span> Window dialog 
 will be displayed:</span></p></li>
</ol>

<p style="margin-left: 40px;"><img src="images/FileDownloadDg2.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 404px;
											height: 273px;
											float: none;
											border-style: none;
											border-style: none;"
									width=404
									height=273
									border=0></p>

<ol start=6
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">Click <span style="font-weight: bold;">Open 
 </span>or <span style="font-weight: bold;">Save</span> to either directly 
 open or save selected file(s) as a single ZIP file.</p></li>
</ol>

<p class=Tip><span style="font-weight: bold;">Note:</span> Single file 
 or multiple file download will be packaged into a single ZIP file. The 
 ZIP filename will include the date and time of download.</p>

<p style="margin-left: 0px;">&nbsp;</p>

<!--kadov_tag{{<placeholder id="footer">}}-->
</body>

</html>
