<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Import Files</title>

<!--(Meta)==========================================================-->

<meta name="template" content="Copyright.htt">
<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=date content="11 16, 2001 6:56:45 PM">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=398>
<meta name=layout-width content=741>


<!--(Links)=========================================================-->

<link rel="StyleSheet" href="Application Help.css">



</head>

<!--(Body)==========================================================-->


<body>

<h1>Importing Files</h1>

<p style="margin-left: 0px;">Files can be imported in a variety of ways 
 into docAssist. From the simple process of uploading files from your computer 
 to creating files when being routed to printers (using the print driver) 
 files can be input into docAssist in ways suited to your working environment. 
 You can also send documents to docAssist via Fax and Ftp and Scan documents 
 using a Scanner.</p>

<p style="margin-left: 0px;">To learn more about installing the print driver 
 see the topic <a href="Getting_Started/Installing.htm">Installing docAssist 
 related components</a>.</p>

<p style="margin-left: 0px;">To learn more about scanning and uploading 
 documents refer <span style="font-weight: bold;">The Scan Page</span> 
 chapter under the <span style="font-weight: bold;">Using docAssist</span> 
 book or click <a href="Viewing_and_Adding_Applications_.htm">here</a> 
 to go to the first topic under the chapter.</p>

<!--kadov_tag{{<placeholder id="footer">}}-->
</body>

</html>
