<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Introduction to Integration</title>

<!--(Meta)==========================================================-->

<meta name="template" content="Copyright.htt">
<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=date content="11 16, 2001 6:56:45 PM">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=744>
<meta name=layout-width content=787>


<!--(Links)=========================================================-->

<link rel="StyleSheet" href="Application Help.css">



</head>

<!--(Body)==========================================================-->


<body>

<h1>Introduction to Integration</h1>

<p style="margin-left: 0px;">Integration is the process by which you can 
 import data from other applications on your computer to documents in docAssist. 
 Integration also allows searching in docAssist for documents and photos 
 from applications.</p>

<p style="margin-left: 0px;">The first step to integration is to set up 
 indexing and searching for applications and documents in docAssist via 
 the <span style="font-weight: bold;">Admin</span> page. For more information 
 see the topics <a href="Creating_and_Maintaining_Indexes.htm">Creating 
 and Maintaining Indexes</a> and <a href="Creating_and_Maintaining_Search_Lookups.htm">Creating 
 and Maintaining Search Lookups</a> topics. Once this is done you will 
 be able to integrate external applications to docAssist.</p>

<p style="margin-left: 0px;">Once a program has been setup for integration 
 the docAssist symbol will appear in its title bar as shown below for the 
 following dialog of the A/P Invoice Data Entry program..</p>

<p style="margin-left: 0px;"><img src="IndexIntegfromPrgrm.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 768px;
											height: 464px;
											float: none;
											border-style: none;
											border-style: none;"
									width=768
									height=464
									border=0></p>

<p class=Tip><span style="font-weight: bold;">Note:</span> You must be 
 logged in to docAssist for the symbol to appear in the integrated programs. 
 Note that based on your administrator set-up and application your menu 
 options will vary.</p>

<p>&nbsp;</p>

<!--kadov_tag{{<placeholder id="footer">}}-->
</body>

</html>
