<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Introduction to the Admin Page</title>

<!--(Meta)==========================================================-->

<meta name="template" content="Copyright.htt">
<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=date content="11 16, 2001 6:56:45 PM">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=453>
<meta name=layout-width content=741>


<!--(Links)=========================================================-->

<link rel="StyleSheet" href="Application Help.css">



</head>

<!--(Body)==========================================================-->


<body>

<h1>Introduction to the Admin Page</h1>

<p style="margin-left: 0px;">The Admin Page is where you can control your 
 users, the groups, configure document attributes, manage integration (indexing 
 and searching) and maintain workflows.</p>

<p style="margin-left: 0px;">Click the <span style="font-weight: bold;">Admin</span> 
 tab to take you to the Admin page. By default the page displays information 
 related to the current users of the installation.</p>

<p style="margin-left: 0px;"><img src="AdminIntroPage.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 508px;
											height: 270px;
											float: none;
											border-style: none;"
									width=508
									height=270
									border=0></p>

<p style="margin-left: 0px;">The page is divided into two parts with a 
 menu on the left and a <span style="font-weight: bold;">Details</span> 
 pane on the right. Subsequent topics will discuss the various objects 
 of the menu.</p>

<!--kadov_tag{{<placeholder id="footer">}}-->
</body>

</html>
