<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Opening the Workflow page</title>

<!--(Meta)==========================================================-->

<meta name="template" content="Copyright.htt">
<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=date content="11 16, 2001 6:56:45 PM">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=622>
<meta name=layout-width content=741>


<!--(Links)=========================================================-->

<link rel="StyleSheet" href="Application Help.css">



</head>

<!--(Body)==========================================================-->


<body>

<h1>Opening the Workflow page</h1>

<p style="margin-left: 0px;">Workflows are the channels through which documents 
 <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->are passed 
 and processed for a variety of reasons. Workflows give documents their 
 due role in a company where they have to pass through several hands and 
 processes. Workflows are accessed via the Workflow tab. </p>

<p style="margin-left: 0px;">To open the Workflow page click the <span 
 style="font-weight: bold;">Workflow</span> tab. The Workflow page is displayed 
 below.</p>

<p style="margin-left: 0px;"><img src="WorkflwPage.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 508px;
											height: 269px;
											float: none;"
									width=508
									height=269
									border=0></p>

<p style="margin-left: 0px;">The Workflow page comes fully expanded i.e 
 all the documents in all the sections and categories are fully displayed. 
 You collapse the entire page by clicking the <span style="font-weight: bold;">Collapse 
 All</span> <img src="CollapseAllLink.jpg"
				x-maintain-ratio=TRUE
				style="border: none;
						width: 63px;
						height: 23px;
						float: none;"
				width=63
				height=23
				border=0> <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->link 
 located on the top right of the page, just below the <span style="font-weight: bold;">Admin</span> 
 tab. When the page is completely collapsed the link changes to a <span 
 style="font-weight: bold;">Expand All</span> link. You can also collapse 
 the categories by clicking the collapse button <img src="CollapseBtn.jpg"
													x-maintain-ratio=TRUE
													style="border: none;
															width: 17px;
															height: 16px;
															float: none;"
													width=17
													height=16
													border=0> of the category 
 and expand the same using the expand <img src="ExpandBtn.jpg"
											x-maintain-ratio=TRUE
											style="border: none;
													width: 17px;
													height: 16px;
													float: none;"
											width=17
											height=16
											border=0> button.</p>

<p style="margin-left: 0px;">The Workflow page basically contains two types 
 of workflow documents. </p>

<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p><p style="margin-left: 0px;">Documents on which some 
 action is to be taken by you. Some of these are of high priority and are 
 indicated by the red exclamation priority <img src="PriorityButn.jpg"
												x-maintain-ratio=TRUE
												style="border: none;
														width: 18px;
														height: 19px;
														float: none;"
												width=18
												height=19
												border=0> <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->button 
 beside them.</p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">Documents that can only 
 be viewed by you and on which no action can be taken by you.</p></li>
</ul>

<p style="margin-left: 0px;">The two types of documents are listed under 
 their respective sections. </p>

<!--kadov_tag{{<placeholder id="footer">}}-->
</body>

</html>
