<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Performing a Search Integration</title>

<!--(Meta)==========================================================-->

<meta name="template" content="Copyright.htt">
<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=date content="11 16, 2001 6:56:45 PM">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=1098>
<meta name=layout-width content=898>


<!--(Links)=========================================================-->

<link rel="StyleSheet" href="Application Help.css">



</head>

<!--(Body)==========================================================-->


<body>

<h1>Performing a Search Integration</h1>

<p style="margin-left: 0px;">You <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->will 
 now look at an example where you can see a search integration being done 
 from an external program. It is assumed that the external program has 
 already been setup for integration. In the example from the <span style="font-weight: bold;">A/P 
 Invoice Data Entry</span> program screen <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->we 
 will search for a particular vendor from a particular Vendor Invoice number.</p>

<h2>To perform a search integration from the program</h2>

<ol style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">Ensure you are logged 
 in to docAssist.</p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">Open the <span style="font-weight: bold;">A/P 
 Invoice Data Entry</span> program screen and click the docAssist symbol 
 on the top right corner (title bar) of the program.</p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">A drop-down menu is 
 displayed.</p></li>
</ol>

<ol start=4
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">Point to <span style="font-weight: bold;">Search</span> 
 from the menu, then from the submenu displayed point to the vendor invoice 
 <span style="font-weight: bold;">MA-S90 Vendor Invoice </span>and finally<span 
 style="font-weight: bold;"> Vendor Name</span>.</p></li>
</ol>

<p style="margin-left: 40px;"><img src="SearchIntgSrchMenu.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 353px;
											height: 123px;
											float: none;
											border-style: none;
											border-style: none;"
									width=353
									height=123
									border=0></p>

<ol start=4
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">On Clicking on the <span 
 style="font-weight: bold;">Vendor Name</span> the invoice of the Vendor 
 is opened and displayed in docAssist.</p></li>
</ol>

<p style="margin-left: 40px;"><img src="SearchIntgRslts.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											border-style: none;
											width: 839px;
											height: 651px;
											float: none;
											border-style: none;"
									width=839
									height=651
									border=0></p>

<p style="margin-left: 0px;">&nbsp;</p>

<!--kadov_tag{{<placeholder id="footer">}}-->
</body>

</html>
