BODY { 
      font-family:Arial; 
      background-color:#ffffff;  }
H1 { 
    font-weight:bold; 
    font-family:Verdana, sans-serif; 
    color:#5151ff; 
    margin-top:0pt; 
    margin-bottom:5.5pt; 
    font-size:10pt;  }
LI.kadov-H1 { 
             font-weight:bold; 
             font-family:Verdana, sans-serif; 
             color:#5151ff; 
             font-size:10pt;  }
H2 { 
    font-weight:bold; 
    color:#a82384; 
    margin-top:0pt; 
    margin-bottom:6pt; 
    font-family:Verdana, sans-serif; 
    font-size:8.5pt;  }
LI.kadov-H2 { 
             font-weight:bold; 
             color:#a82384; 
             font-family:Verdana, sans-serif; 
             font-size:8.5pt;  }
H3 { 
    font-weight:bold; 
    color:#4848ff; 
    margin-top:0pt; 
    margin-bottom:6pt; 
    font-size:8.5pt;  }
LI.kadov-H3 { 
             font-weight:bold; 
             color:#4848ff; 
             font-size:8.5pt;  }
H4 { 
    font-weight:bold; 
    font-size:8.5pt;  }
LI.kadov-H4 { 
             font-weight:bold; 
             font-size:8.5pt;  }
P { 
   margin-top:0pt; 
   font-family:Verdana, sans-serif; 
   font-size:8.5pt; 
   margin-bottom:6pt; 
   margin-left:-6pt;  }
LI.kadov-P { 
            font-family:Verdana, sans-serif; 
            font-size:8.5pt;  }
A.expandspot { 
              color:#008000; 
              cursor:hand; 
              x-text-underline:off; 
              x-text-overline:off; 
              x-text-line-through:off; 
              font-weight:bold; 
              font-style:italic; 
              text-decoration:none none none;  }
SPAN.expandtext { 
                 color:#000000; 
                 font-weight:normal; 
                 font-style:normal;  }
A.dropspot { 
            cursor:hand; 
            x-text-underline:off; 
            x-text-overline:off; 
            x-text-line-through:off; 
            font-weight:bold; 
            font-style:normal; 
            font-family:Verdana, sans-serif; 
            font-size:8pt; 
            color:#a82384; 
            text-decoration:none none none;  }
A.glossterm { 
             color:#800000; 
             cursor:hand; 
             font-style:italic; 
             x-text-underline:off; 
             x-text-overline:off; 
             x-text-line-through:off; 
             text-decoration:none none none;  }
SPAN.glosstext { 
                font-style:italic; 
                font-weight:normal; 
                color:#0000ff;  }
OL { 
    margin-top:0px; 
    margin-bottom:0px;  }
UL { 
    margin-top:0px; 
    margin-bottom:0px;  }
P.Tip { 
       x-next-type:P; 
       color:#0000ff; 
       margin-right:18pt; 
       margin-bottom:4.5pt; 
       margin-left:9pt; 
       background-color:#ccccff; 
       margin-top:8pt;  }
LI.kadov-P-CTip { 
                 color:#0000ff;  }
A:hover { 
         color:#a82384;  }
A:visited { 
           color:#a82384;  }
A:active { 
          color:#a82384;  }
H3.Style1 { 
           margin-left:0pt;  }
LI.kadov-H3-CStyle1 {  }
