<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Advanced Power Search</title>

<!--(Meta)==========================================================-->

<meta name="template" content="Copyright.htt">
<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=date content="11 16, 2001 6:56:45 PM">
<meta name=generator content="Adobe RoboHelp - www.adobe.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=1802>
<meta name=layout-width content=1007>


<!--(Links)=========================================================-->

<link rel="StyleSheet" href="Application Help.css">



</head>

<!--(Body)==========================================================-->


<body>

<h1>Advanced Search </h1>

<p style="margin-left: 0px;">If Quick Search does not produce the satisfactory 
 results then the Advanced Search is sure to fetch you the details you 
 wanted.</p>

<h2>To perform an advanced power search (Basic example)</h2>

<ol style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p>Select a document under the <span style="font-weight: bold;">Document 
 Types</span> folder by checking the checkbox associated with that document 
 you would like to search. In the example the A/P Aging Report is selected. 
 </p></li>
</ol>

<p class=Tip><span style="font-weight: bold;">Note: </span>It is important 
 to remember that document types are user-definable, so the document types 
 available in your tree will differ from the ones in these examples.</p>

<ol start=2
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p>The <span style="font-weight: bold;">Advanced 
 Search</span> panel is displayed in the <span style="font-weight: bold;">Details</span> 
 pane displaying the relevant fields associated with the document selected.</p></li>
</ol>

<p style="margin-left: 32px;"><img src="images/AdvancedSearch1.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											border-style: none;
											width: 956px;
											height: 316px;
											float: none;
											border-style: none;"
									width=956
									height=316
									border=0></p>

<ol start=3
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p><!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Create 
 simple or complex searches by combining criteria. To create a rule with 
 the <span style="font-weight: bold;">Month End Date</span> field select 
 a condition from the drop-down list and enter a value in the related field 
 . For example to select a month end date equal to &quot;January 31 2007&quot; 
 select <span style="font-weight: bold;">Equals</span> from the drop-down 
 list and enter &quot;January 31 2007&quot; in the field.</p></li>
</ol>

<p class=Tip><span style="font-weight: bold;">Note:</span> Ensure the correct 
 format of the date is entered.</p>

<ol start=4
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p>Suppose you want to extract all documents that 
 contained the word &quot;Aging&quot; in the memo field, select <span style="font-weight: bold;">Contains</span> 
 from the drop-down list of the memo field and enter &quot;Aging&quot; 
 in the associated field.</p></li>
	
	<li class=kadov-p><p>You can further refine the search by searching 
 within the document. For example if you would like to search inside all 
 the document text for the word &quot;Aging&quot; select <span style="font-weight: bold;">Contains</span> 
 from the Document Text drop-down list and enter &quot;Aging&quot; in the 
 field.</p></li>
</ol>

<p class=Tip><span style="font-weight: bold;">Note:</span> As in the <span 
 style="font-weight: bold;">Quick Search</span> wildcards and multiple 
 attributes can be used. </p>

<ol start=6
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p>If you wish to select documents created by a particular 
 user select that user from the <span style="font-weight: bold;">Filter 
 by Created/Modified User</span> drop-down list.</p></li>
	
	<li class=kadov-p><p>Check the <span style="font-weight: bold;">Include 
 Un-indexed Documents</span> checkbox to facilitate searching of those 
 documents too. This is useful if you have un-indexed documents coming 
 into the system through docAssistís automated fax and FTP services.</p></li>
	
	<li class=kadov-p><p>Click <span style="font-weight: bold;">Search</span>.</p></li>
	
	<li class=kadov-p><p>docAssist <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->searches 
 for documents matching your criteria and displays the results in the <span 
 style="font-weight: bold;">Details</span> pane.</p></li>
	
	<li class=kadov-p><p>If no results match your search criteria docAssist 
 displays the following results in the <span style="font-weight: bold;">Details</span> 
 pane.</p></li>
</ol>

<p style="margin-left: 32px;"><img src="images/NegativeSearchResults.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											border-style: none;
											width: 706px;
											height: 184px;
											float: none;
											border-style: none;"
									width=706
									height=184
									border=0></p>

<ol start=11
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p>Click the <img src="images/AdvancedSearchModifySearch.jpg"
										x-maintain-ratio=TRUE
										style="border: none;
												border-style: none;
												width: 20px;
												height: 19px;
												float: none;"
										width=20
										height=19
										border=0> <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->button 
 to refine your search.</p></li>
</ol>

<h2>To perform an advanced power search (Complex example)</h2>

<ol style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p>Select a document type from the Document Types 
 folder as explained in the previous example.</p></li>
	
	<li class=kadov-p><p>You can also select multiple document types by 
 checking the associated checkboxes for those document types. In the example 
 document types A/P Aging Report, ACCPAC - Customer Invoice and Billing 
 Form document types are selected. In this case all the associated fields 
 of the three documents are populated in the <span style="font-weight: bold;">Advanced 
 Search </span>Panel in the <span style="font-weight: bold;">Details</span> 
 pane.</p></li>
</ol>

<p style="margin-left: 32px;"><img src="images/AdvancedSearch2.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											border-style: none;
											width: 948px;
											height: 435px;
											float: none;"
									width=948
									height=435
									border=0></p>

<p class=Tip><span style="font-weight: bold;">Note:</span> You can select 
 All Documents but this will populate all the associated fields of all 
 the documents in the <span style="font-weight: bold;">Advanced Search</span> 
 panel.</p>

<ol start=3
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p>Create the rules and conditions as explained in 
 the previous section and click <span style="font-weight: bold;">Search</span>.</p></li>
</ol>

<p>&nbsp;</p>

<!--kadov_tag{{<placeholder id="footer">}}-->
</body>

</html>
