<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Taking Action on Action Required Documents</title>

<!--(Meta)==========================================================-->

<meta name="template" content="Copyright.htt">
<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=date content="11 16, 2001 6:56:45 PM">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=632>
<meta name=layout-width content=741>


<!--(Links)=========================================================-->

<link rel="StyleSheet" href="Application Help.css">



</head>

<!--(Body)==========================================================-->


<body>

<h1>Taking Action on Action Required documents</h1>

<p style="margin-left: 0px;">Using the Workflow tab you can access documents 
 that need action on your part to be taken for their processing. </p>

<h2>To take action on Action Required documents</h2>

<ol style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">Click on the <span style="font-weight: bold;">Workflow</span> 
 tab.</p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">Under the section where 
 you can see documents listed with the remark (Action Required) click a 
 document. </p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">The document opens in 
 the <span style="font-weight: bold;">Viewer</span> tab. Notice the <span 
 style="font-weight: bold;">workflow console </span>panel located at the 
 bottom right of the page.</p></li>
</ol>

<p style="margin-left: 40px;"><img src="WorkflowConsoles.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 274px;
											height: 251px;
											float: none;"
									width=274
									height=251
									border=0></p>

<ol start=4
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">Select an action from 
 the <span style="font-weight: bold;">Select a review action</span> drop-down 
 list. Based on the selection made an appropriate and associated list is 
 populated for the <span style="font-weight: bold;">Next Queue</span> drop-down 
 list. </p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">Select the next queue 
 from the Next Queue drop-down list.</p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">Check the <span style="font-weight: bold;">Urgent</span> 
 checkbox if the next queue or step in the workflow is to be urgently looked 
 into.</p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">Enter any notes that 
 you may wish to enter into the <span style="font-weight: bold;">Notes</span> 
 box.</p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">Click <span style="font-weight: bold;">Save</span>.</p></li>
</ol>

<p class=Tip><span style="font-weight: bold;">Note:</span> Click the <span 
 style="font-weight: bold;">History</span> tab to see the history of actions 
 performed on this document.</p>

<p style="margin-left: 0px;">&nbsp;</p>

<!--kadov_tag{{<placeholder id="footer">}}-->
</body>

</html>
