<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>The Toolbars (Scan Page)</title>

<!--(Meta)==========================================================-->

<meta name="template" content="Copyright.htt">
<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=date content="11 16, 2001 6:56:45 PM">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=1030>
<meta name=layout-width content=741>


<!--(Links)=========================================================-->

<link rel="StyleSheet" href="Application Help.css">



</head>

<!--(Body)==========================================================-->


<body>

<h1>The Toolbars and the View panel</h1>

<p style="margin-left: 0px;">We have already seen in the previous topic 
 that the view panel is used to display the contents of the scanned or 
 uploaded document. The Scan page provides three toolbars one each for 
 Navigating, for Editing and Redacting the scanned or uploaded document. 
 </p>

<p style="margin-left: 0px;">Below you will find descriptions for a some 
 tools specific to the scan tab. For a complete description of the function 
 of each button on the navigate toolbar, edit toolbar and the redact toolbar 
 refer <a href="The_Toolbars_(View_Tab).htm">The Toolbars and <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->the 
 View panel</a> topic of the <span style="font-weight: bold;">View</span> 
 page.</p>

<h2>The Navigate toolbar</h2>

<p style="margin-left: 0px;"><img src="NavToolbarScanPage.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 502px;
											height: 26px;
											float: none;
											border-style: none;
											border-style: none;"
									width=502
									height=26
									border=0><img src="PageSelectionBx2.jpg"
													x-maintain-ratio=TRUE
													style="border: none;
															width: 85px;
															height: 26px;
															float: none;
															border-style: none;
															border-style: none;"
													width=85
													height=26
													border=0></p>

<p style="margin-left: 0px;">For a description of the function of each 
 of the buttons of the navigate toolbar, edit toolbar and the redact toolbar 
 refer The <a href="The_Toolbars_(View_Tab).htm">Toolbars and <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->the 
 View panel</a> topic of the <span style="font-weight: bold;">View</span> 
 page. The buttons not explained in the hyperlink topic are explained below.</p>

<p style="margin-left: 0px;"><img src="BarcodeBtn.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 25px;
											height: 22px;
											float: none;"
									width=25
									height=22
									border=0></p>

<p style="margin-left: 0px;">The <span style="font-weight: bold;">Barcode</span> 
 button. Use it to capture barcodes in your document.</p>

<p style="margin-left: 0px;"><img src="DocumentSplitterBtn.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 25px;
											height: 24px;
											float: none;"
									width=25
									height=24
									border=0></p>

<p style="margin-left: 0px;">The <span style="font-weight: bold;">Document 
 Splitter</span> button. Click to split documents displayed in the View 
 panel.</p>

<p style="margin-left: 0px;"><img src="ExpandMiddlePanel.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 27px;
											height: 23px;
											float: none;
											border-style: none;
											border-style: none;"
									width=27
									height=23
									border=0></p>

<p style="margin-left: 0px;">The expand button. This button expands the 
 view panel and hides the <span style="font-weight: bold;">Scanning and 
 Uploading</span> panel. This also brings the Templates panel to the right. 
 See the topic <a href="The_Templates_Panel.htm">The Templates Panel</a> 
 for more information on the Templates panel.</p>

<h2>The Edit toolbar</h2>

<p style="margin-left: 0px;"><img src="DeskewButton.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 27px;
											height: 24px;
											float: none;
											border-style: none;
											border-style: none;"
									width=27
									height=24
									border=0></p>

<p style="margin-left: 0px;">The <span style="font-weight: bold;">Deskew</span> 
 button. Click this button to automatically rotate images that appear skewed 
 due to improper feeding or placement during scanning.</p>

<p style="margin-left: 0px;"><img src="UpBtn.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 28px;
											height: 24px;
											float: none;
											border-style: none;
											border-style: none;"
									width=28
									height=24
									border=0></p>

<p style="margin-left: 0px;">The <span style="font-weight: bold;">Move 
 Page Up</span> button. Click this button to move the current page of the 
 document, one page up. For example, clicking this button will make the 
 current page (i.e page 2) become the first page and original first page 
 will be pushed to the page 2 position.</p>

<p style="margin-left: 0px;"><img src="DownBtn.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 28px;
											height: 23px;
											float: none;
											border-style: none;
											border-style: none;"
									width=28
									height=23
									border=0></p>

<p style="margin-left: 0px;">The <span style="font-weight: bold;">Move 
 Page Down</span> button. Click this button to move the current page of 
 the document, one page down. For example suppose you are at page 1, clicking 
 this button will push the current page (i.e page 1) to the second page's 
 position and the Page 2 will be pushed up to the page 1 position.</p>

<h2>To add pages to a document</h2>

<ol style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">Click the <span style="font-weight: bold;">Add 
 Pages</span> <img src="AddPagesBtn.jpg"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 26px;
							height: 24px;
							float: none;
							border-style: none;
							border-style: none;"
					width=26
					height=24
					border=0> button. The <span style="font-weight: bold;">Add 
 Pages</span> dialog opens. Select the file or document to add and click 
 <span style="font-weight: bold;">OK</span>.</p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">The <span style="font-weight: bold;">Add 
 Pages</span> dialog opens.</p></li>
</ol>

<p style="margin-left: 40px;"><img src="AddPagedDg.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 397px;
											height: 214px;
											float: none;
											border-style: none;
											border-style: none;"
									width=397
									height=214
									border=0></p>

<ol start=4
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">Click <span style="font-weight: bold;">OK</span>.</p></li>
</ol>

<p style="margin-left: 0px;">&nbsp;</p>

<!--kadov_tag{{<placeholder id="footer">}}-->
</body>

</html>
