<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Viewing Workflow related Documents</title>

<!--(Meta)==========================================================-->

<meta name="template" content="Copyright.htt">
<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=date content="11 16, 2001 6:56:45 PM">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=510>
<meta name=layout-width content=741>


<!--(Links)=========================================================-->

<link rel="StyleSheet" href="Application Help.css">



</head>

<!--(Body)==========================================================-->


<body>

<h1>Viewing Workflow related Documents</h1>

<p style="margin-left: 0px;">These are documents that can only be viewed. 
 No other action can be taken on them.</p>

<h2>To view a workflow related document</h2>

<ol style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">Click the <span style="font-weight: bold;">Workflow</span> 
 tab.</p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">The Workflow page opens.</p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">Under the section where 
 it reads (View Only) click a document to open and view.</p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">The document opens in 
 the <span style="font-weight: bold;">Viewer</span> page for you to view. 
 Note in particular the Workflow console panel to the bottom of the right 
 of the page.</p></li>
</ol>

<p style="margin-left: 40px;"><img src="WorkflowConsole.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 274px;
											height: 250px;
											float: none;"
									width=274
									height=250
									border=0></p>

<p class=Tip><span style="font-weight: bold;">Note:</span> The <span style="font-weight: bold;">Save</span> 
 button is automatically disabled.</p>

<!--kadov_tag{{<placeholder id="footer">}}-->
</body>

</html>
