<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Viewing Documents</title>

<!--(Meta)==========================================================-->

<meta name="template" content="Copyright.htt">
<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=date content="11 16, 2001 6:56:45 PM">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=2297>
<meta name=layout-width content=753>
<meta name=x-ignored-words content=E-mailing>


<!--(Links)=========================================================-->

<link rel="StyleSheet" href="Application Help.css">



</head>

<!--(Body)==========================================================-->


<body>

<h1>Viewing Documents</h1>

<p style="margin-left: 0px;">docAssist offers you easy viewing of documents 
 and also offers extensive control of handling documents such as moving, 
 and e-mailing documents. Documents are stored in the folders and files 
 of the <span style="font-weight: bold;">Folders and Files</span> panel.</p>

<h2>To view documents</h2>

<ol style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">Click the <span style="font-weight: bold;">Explorer</span> 
 tab.</p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">Click a folder or a 
 subfolder from the <span style="font-weight: bold;">Folders and Files</span> 
 panel.</p></li>
</ol>

<ol start=3
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">docAssist gathers data 
 of the selected folder and the following progress image is displayed.</p></li>
</ol>

<p style="margin-left: 40px;"><img src="docAssistWorking.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 352px;
											height: 81px;
											float: none;
											border-style: none;
											border-style: none;"
									width=352
									height=81
									border=0></p>

<ol start=4
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">Once the process is 
 complete the image disappears and <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->docAssist 
 displays the files of the folder or subfolder in the <span style="font-weight: bold;">Details</span> 
 pane.</p></li>
</ol>

<p style="margin-left: 40px;"><img src="DetailsPane3.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 694px;
											height: 406px;
											float: none;
											border-style: none;
											border-style: none;"
									width=694
									height=406
									border=0></p>

<ol start=5
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">You can sort the display 
 the documents by selecting the document type from the <span style="font-weight: bold;">Sort 
 By</span> drop-down list.</p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">To sort the displayed 
 documents in the ascending or descending order select the <span style="font-weight: bold;">Ascending</span> 
 or <span style="font-weight: bold;">Descending</span> radio button.</p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">If the contents that 
 are being viewed is from a subfolder, to go back to the parent folder 
 click the parent folder's symbol in the details pane beside the subfolder 
 name <img src="ParentFolderButton.jpg"
			x-maintain-ratio=TRUE
			style="border: none;
					width: 57px;
					height: 27px;
					float: none;
					border-style: none;
					border-style: none;"
			width=57
			height=27
			border=0>.</p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">To view the document 
 in a thumbnail position the mouse cursor over the document's tiny symbol 
 in the <span style="font-weight: bold;">Details</span> pane beside the 
 Title of the document and hold the position for a few seconds. The thumbnail 
 will begin loading and finally appear as shown below.</p></li>
</ol>

<p style="margin-left: 40px;"><img src="ThumbnailView.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 179px;
											height: 233px;
											float: none;
											border-style: none;
											border-style: none;"
									width=179
									height=233
									border=0></p>

<p class=Tip><span style="font-weight: bold;">Note:</span> Thumbnails will 
 not appear for all types of files. But they do appear for imaged documents 
 added to the application via the scan page such as imported tifs, .pdfs 
 and documents captured using the twain scan interface.</p>

<h2>To view a document in detail under the View tab</h2>

<ol style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p>Click the document name or the document symbol 
 adjacent to the name of the document <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->in 
 the <span style="font-weight: bold;">Details</span> pane. In the example 
 a word document (.doc) is opened.</p></li>
	
	<li class=kadov-p><p>The document is opened in the <span style="font-weight: bold;">Viewer</span> 
 <img src="ViewerTab.jpg"
		x-maintain-ratio=TRUE
		style="border: none;
				width: 83px;
				height: 24px;
				float: none;
				border-style: none;
				border-style: none;"
		width=83
		height=24
		border=0> tab.</p></li>
</ol>

<p style="margin-left: 32px;"><img src="ViewerTab2.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 499px;
											height: 270px;
											float: none;
											border-style: none;
											border-style: none;"
									width=499
									height=270
									border=0></p>

<p style="margin-left: 0px;">The page under the <span style="font-weight: bold;">Viewer</span> 
 tab is divided into three panels. The first panel on the left, the <span 
 style="font-weight: bold;">document Thumbnails</span> panel displays the 
 various pages of the document at thumbnails. The panel in the middle displays 
 the document in more detail and allows viewing, editing, e-mailing, printing 
 and other functions to be performed. The third panel on the right titled 
 <span style="font-weight: bold;">document attributes</span> displays the 
 document's attributes. where you can save a copy of the document in a 
 folder of your choice and even clear an existing folder. </p>

<h2><span>Opening a .pdf or .tif file clicking the document symbols</span></h2>

<p style="margin-left: 0px;">Clicking the document symbols of a .tif (image 
 file) or a .pdf file opens them in the <span style="font-weight: bold;">View</span> 
 panel in the <span style="font-weight: bold;">Check Out</span> in mode. 
 </p>

<p style="margin-left: 0px;"><img src="ViewerTab3.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 508px;
											height: 270px;
											float: none;"
									width=508
									height=270
									border=0></p>

<h2>Opening a .pdf or .tif file clicking the document name</h2>

<p style="margin-left: 0px;">Opening a .tif (image file) or .pdf file will 
 prompt for the file to be saved on your computer or opened by the default 
 program that opens the file.</p>

<p style="margin-left: 0px;"><img src="FileDownloadDg.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 404px;
											height: 273px;
											float: none;"
									width=404
									height=273
									border=0></p>

<p style="margin-left: 0px;">Refer the subsequent topics under this Chapter 
 for details on the three panels and the toolbars.</p>

<h2>&nbsp;</h2>

<!--kadov_tag{{<placeholder id="footer">}}-->
</body>

</html>
