<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Viewing the Documents and their Attributes</title>

<!--(Meta)==========================================================-->

<meta name="template" content="Copyright.htt">
<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=date content="11 16, 2001 6:56:45 PM">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=466>
<meta name=layout-width content=741>


<!--(Links)=========================================================-->

<link rel="StyleSheet" href="Application Help.css">



</head>

<!--(Body)==========================================================-->


<body>

<h1>Viewing the Documents and their Attributes</h1>

<p style="margin-left: 0px;">docAssist provides an option of viewing all 
 the documents in the system and their attributes. </p>

<h2>To view all the documents and their attributes in the system</h2>

<ol style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">Click <span style="font-weight: bold;">View</span> 
 under <span style="font-weight: bold;">Configuration</span> on the menu 
 on the left of the <span style="font-weight: bold;">Admin</span> Page.</p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">The documents of the 
 system and their associated attributes are displayed. </p></li>
</ol>

<p style="margin-left: 40px;"><img src="ViewPage.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 271px;
											height: 270px;
											float: none;"
									width=271
									height=270
									border=0></p>

<ol start=3
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">Scroll the page down 
 to view all results.</p></li>
</ol>

<!--kadov_tag{{<placeholder id="footer">}}-->
</body>

</html>
