<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Quick Search</title>

<!--(Meta)==========================================================-->

<meta name="template" content="Copyright.htt">
<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=date content="11 15, 2001 6:37:18 PM">
<meta name=topic-status content="In Progress">
<meta name=topic-priority content=0>
<meta name=topic-time-estimate content=0>
<meta name=topic-comment content>
<meta name=topic-id content="Backing up">
<meta name=generator content="Adobe RoboHelp - www.adobe.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=428>
<meta name=layout-width content=658>


<!--(Links)=========================================================-->

<link rel="StyleSheet" href="..\Application Help.css">



</head>

<!--(Body)==========================================================-->


<body>

<h1>Quick Search</h1>

<p style="margin-left: 0px;">Use Quick Search panel to search across all 
 documents, attributes, and tags or to quickly search for folders, document 
 number, filenames.</p>

<h2><span style="font-weight: bold;">To perform a quick search</span></h2>

<ol style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">Enter search criteria 
 (a word or phrase) in the empty field.</p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">Select a mode of search 
 from the drop-down list. You can choose to perform a search by Filename, 
 by Document No., in a particular Folder or All of these.</p></li>
</ol>

<p style="margin-left: 40px;"><img src="../images/QuickSearch.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											border-style: none;
											width: 277px;
											height: 88px;
											float: none;"
									width=277
									height=88
									border=0></p>

<ol start=3
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">Check the <span style="font-weight: bold;">Search 
 Document Text</span> checkbox to search for the phrase within the text 
 of a document.</p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">Click <span style="font-weight: bold;">Search 
 Now!</span>.</p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">The results are displayed 
 in the <span style="font-weight: bold;">Details</span> pane.</p></li>
</ol>

<p class=Tip><span style="font-weight: bold;">Note:</span> Wildcard searching 
 is possible. For instance to search all documents related to Vendors such 
 as Invoices, Quotations and Orders you could do a search with &quot;<span 
 style="font-weight: bold;">*Vendors*</span>&quot; as search criteria. 
 You can also enter multiple attributes by seperating them with a semicolon 
 &quot;;&quot;, for example &quot;Invoice; Order&quot;</p>

<!--kadov_tag{{<placeholder id="footer">}}-->
</body>

</html>
