<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>End-user License Agreement</title>

<!--(Meta)==========================================================-->

<meta name="template" content="Copyright.htt">
<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=date content="11 15, 2001 6:20:05 PM">
<meta name=topic-status content="In Progress">
<meta name=topic-priority content=0>
<meta name=topic-time-estimate content=0>
<meta name=topic-comment content>
<meta name=topic-id content="End-user License Agreement">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=398>
<meta name=layout-width content=741>
<meta name=x-ignored-words content="termsofservice.html;www.docassist.com">


<!--(Links)=========================================================-->

<link rel="StyleSheet" href="..\Application Help.css">



</head>

<!--(Body)==========================================================-->


<body>

<h1>End-user License Agreement</h1>

<p style="margin-left: 0px;">It is highly recommended that you read the 
 End-user License Agreement and familiarize yourself with it. This will 
 help you understand your rights as the owner of the software and also 
 learn the rules and limitations of the license.</p>

<p style="margin-left: 0px;">The End-user license agreement can be found 
 at the following link on the Internet.</p>

<p style="margin-left: 0px;"><!--kadov_tag{{<spaces>}}-->&nbsp;<a href="http://www.docassist.com/termsofservice.html"><!--kadov_tag{{</spaces>}}-->http://www.docassist.com/termsofservice.html</a></p>

<p style="margin-left: 0px;">Should you have any questions concerning these 
 terms and conditions, or if you desire to contact us for any reason, please 
 email to:support@docassist.com. </p>

<p style="margin-left: 0px;">&nbsp;</p>

<!--kadov_tag{{<placeholder id="footer">}}-->
</body>

</html>
