<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Basic steps </title>

<!--(Meta)==========================================================-->

<meta name="template" content="Copyright.htt">
<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=date content="11 15, 2001 6:35:44 PM">
<meta name=topic-status content="In Progress">
<meta name=topic-priority content=0>
<meta name=topic-time-estimate content=0>
<meta name=topic-comment content>
<meta name=topic-id content="Basic steps">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=398>
<meta name=layout-width content=741>


<!--(Links)=========================================================-->

<link rel="StyleSheet" href="..\Application Help.css">



</head>

<!--(Body)==========================================================-->


<body>

<h1>Basic steps to use docAssist</h1>

<p style="margin-left: 0px;">This topic provides a high-level, overview 
 of steps describing how to use docAssistt. This will give you the big 
 picture on the steps you will have to take. These are the steps in order 
 that you must perform to input, store and retrieve data in docAssist. 
 </p>

<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p><p style="margin-bottom: 6pt; margin-left: -6pt;">Creating 
 shares</p></li>
	
	<li class=kadov-p><p style="margin-bottom: 6pt; margin-left: -6pt;">Creating 
 folders and subfolders</p></li>
	
	<li class=kadov-p><p style="margin-bottom: 6pt; margin-left: -6pt;">Adding 
 files to folders and subfolders by uploading or scanning</p></li>
	
	<li class=kadov-p><p style="margin-bottom: 6pt; margin-left: -6pt;">Involving 
 workflows in the file storage process</p></li>
	
	<li class=kadov-p><p style="margin-bottom: 6pt; margin-left: -6pt;">Searching, 
 Viewing and Downloading files</p></li>
</ul>

<p>&nbsp;</p>

<!--kadov_tag{{<placeholder id="footer">}}-->
</body>

</html>
