<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Installing</title>

<!--(Meta)==========================================================-->

<meta name="template" content="Copyright.htt">
<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=date content="11 15, 2001 6:35:07 PM">
<meta name=topic-status content="In Progress">
<meta name=topic-priority content=0>
<meta name=topic-time-estimate content=0>
<meta name=topic-comment content>
<meta name=topic-id content="Installing _Product_">
<meta name=generator content="Adobe RoboHelp - www.adobe.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=5213>
<meta name=layout-width content=658>


<!--(Links)=========================================================-->

<link rel="StyleSheet" href="..\Application Help.css">



</head>

<!--(Body)==========================================================-->


<body>

<h1>Installing the docAssist components</h1>

<p style="margin-left: 0px;">You will need a valid docAssist user ID and 
 password to login and install docAssist. </p>

<h2>To install the docAssist on your computer</h2>

<ol style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-bottom: 6pt;">Visit my.docassist.com 
 by typing the URL http://my.docassist.com in the URL address bar of your 
 browser.</p></li>
	
	<li class=kadov-p><p style="margin-bottom: 6pt;">Login using your user 
 ID and password.</p></li>
	
	<li class=kadov-p><p style="margin-bottom: 6pt;">The system will check 
 the status of the docAssist software on your computer and install the 
 necessary components.</p></li>
	
	<li class=kadov-p><p style="margin-bottom: 6pt;">Follow the on-screen 
 instructions.</p></li>
</ol>

<h2>Installing the docAssist virtual printer</h2>

<p style="margin-left: 0px;">The docAssist virtual printer allows you to 
 print directly to docAssist from any standard windows application. No 
 need to print and scan documents, just print them directly in one easy 
 step.</p>

<h2>To install the docAssist virtual printer on your computer</h2>

<ol style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p>Remove any existing docAssist Output/Capture printers. 
 </p></li>
	
	<li class=kadov-p><p>Launch the <span style="font-weight: bold;">Add 
 New Printer Wizard</span>.</p></li>
</ol>

<p style="margin-left: 32px;"><img src="../images/PrinterDriverWzrd1.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											border-style: none;
											width: 504px;
											height: 393px;
											float: none;"
									width=504
									height=393
									border=0></p>

<ol start=3
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p>Click <span style="font-weight: bold;">Next</span>. 
 The next page of the wizard opens.</p></li>
</ol>

<p style="margin-left: 32px;"><img src="../images/PrinterDriverWzrd2.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											border-style: none;
											width: 504px;
											height: 393px;
											float: none;"
									width=504
									height=393
									border=0></p>

<ol start=4
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p>Select the Local Printer Attached to this computer 
 radio button.</p></li>
	
	<li class=kadov-p><p>Un-Select the <span style="font-weight: bold;">Automatically 
 detect and install my Plug and Play Printer</span> checkbox. </p></li>
	
	<li class=kadov-p><p>Click <span style="font-weight: bold;">Next</span>. 
 The next page of the wizard opens.</p></li>
</ol>

<p style="margin-left: 32px;"><img src="../images/PrinterDriverWzrd3.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											border-style: none;
											width: 505px;
											height: 392px;
											float: none;"
									width=505
									height=392
									border=0></p>

<ol start=7
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p>Select the <span style="font-weight: bold;">Create 
 a New Port</span> radio button and then select <span style="font-weight: bold;">Local 
 Port</span> from the drop-down list. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}--></p></li>
	
	<li class=kadov-p><p>Click <span style="font-weight: bold;">Next</span>. 
 The Port name dialog is displayed.</p></li>
</ol>

<p style="margin-left: 32px;"><img src="../images/PortNameDg.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											border-style: none;
											width: 328px;
											height: 101px;
											float: none;"
									width=328
									height=101
									border=0></p>

<ol start=9
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p>Enter docAssistASP in the <span style="font-weight: bold;">Enter 
 a port name</span> field and Click <span style="font-weight: bold;">OK</span>. 
 The next page of the wizard opens.</p></li>
</ol>

<p style="margin-left: 32px;"><img src="../images/PrinterDriverWzrd4.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											border-style: none;
											width: 505px;
											height: 394px;
											float: none;"
									width=505
									height=394
									border=0></p>

<ol start=10
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p>Click on the <span style="font-weight: bold;">Have 
 Disk</span> button </p></li>
</ol>

<p style="margin-left: 32px;"><img src="../images/LocateFileDialog.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											border-style: none;
											width: 564px;
											height: 418px;
											float: none;"
									width=564
									height=418
									border=0></p>

<ol start=11
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p>Browse to the “PrintDriverInstallFiles” directory. 
 <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Select 
 the DocAssistOutput.inf file and click <span style="font-weight: bold;">Open</span>. 
 </p></li>
	
	<li class=kadov-p><p>The <span style="font-weight: bold;">Install From 
 Disk</span> dialog is displayed.</p></li>
</ol>

<p style="margin-left: 32px;"><img src="../images/InstallfromDiskDialog.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											border-style: none;
											width: 430px;
											height: 229px;
											float: none;"
									width=430
									height=229
									border=0></p>

<ol start=13
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p>Click <span style="font-weight: bold;">OK</span>. 
 The next page of the wizard opens.</p></li>
</ol>

<p style="margin-left: 32px;"><img src="../images/PrinterDriverWzrd5.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											border-style: none;
											width: 505px;
											height: 391px;
											float: none;"
									width=505
									height=391
									border=0></p>

<ol start=14
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p>Select the <span style="font-weight: bold;">No</span> 
 radio button for Default Printer and click <span style="font-weight: bold;">Next</span>. 
 The next page of the wizard opens.</p></li>
</ol>

<p style="margin-left: 32px;"><img src="../images/PrinterDriverWzrd6.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											border-style: none;
											width: 505px;
											height: 392px;
											float: none;"
									width=505
									height=392
									border=0></p>

<ol start=15
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p>Select the <span style="font-weight: bold;">Do 
 not share this printer</span> radio button and Click <span style="font-weight: bold;">Next</span><span>. 
 The next page of the wizard opens.</span></p></li>
</ol>

<p style="margin-left: 32px;"><img src="../images/PrinterDriverWzrd7.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											border-style: none;
											width: 505px;
											height: 394px;
											float: none;"
									width=505
									height=394
									border=0></p>

<ol start=16
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p>Select <span style="font-weight: bold;">No</span> 
 for printing a test page and Click <span style="font-weight: bold;">Next</span>. 
 The final page of the Wizard is displayed.</p></li>
</ol>

<p style="font-weight: bold; margin-left: 32px;"><img src="../images/PrinterDriverWzrd8.jpg"
														x-maintain-ratio=TRUE
														style="border: none;
	border-style: none;
	width: 505px;
	height: 394px;
	float: none;"
														width=505
														height=394
														border=0></p>

<ol start=17
	style="list-style: decimal;"
	type=1>
	
	<li style="/*begin!kadov{{*/ font-weight: normal; /*}}end!kadov*/ "
		class=kadov-p><p style="font-weight: normal;">Click <span style="font-weight: bold;">Finish</span>.</p></li>
	
	<li class=kadov-p><p>If you are prompted with the following message 
 click <span style="font-weight: bold;">Continue Anyway</span>.</p></li>
</ol>

<p style="margin-left: 32px;"><img src="../images/HardwareInstallation.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											border-style: none;
											width: 398px;
											height: 317px;
											float: none;"
									width=398
									height=317
									border=0></p>

<ol start=19
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p>Run the PRINTERINSTALL.REG File and click <span 
 style="font-weight: bold;">YES</span> when the following message is displayed.</p></li>
</ol>

<p style="margin-left: 32px;"><img src="../images/RegistryRun.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											border-style: none;
											width: 592px;
											height: 127px;
											float: none;"
									width=592
									height=127
									border=0></p>

<p>&nbsp;</p>

<!--kadov_tag{{<placeholder id="footer">}}-->
</body>

</html>
