<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Adding and Maintaining Users</title>

<!--(Meta)==========================================================-->

<meta name="template" content="Copyright.htt">
<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=date content="11 16, 2001 6:56:45 PM">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=2235>
<meta name=layout-width content=741>


<!--(Links)=========================================================-->

<link rel="StyleSheet" href="Application Help.css">



</head>

<!--(Body)==========================================================-->


<body>

<h1>Adding and Maintaining Users</h1>

<p style="margin-left: 0px;">If you are the Administrator of your company 
 use this module of docAssist to add, configure and delete users. You can 
 also place Users in groups.</p>

<h2>To add a user</h2>

<ol style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">Ensure the users and 
 the <span style="font-weight: bold;">Add User</span> button <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->are 
 displayed in the Details pane. If they aren't click <span style="font-weight: bold;">Users</span> 
 from the menu on the left.</p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">Click <span style="font-weight: bold;">Add 
 User</span>.</p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">The <span style="font-weight: bold;">User 
 Permissions</span> dialog opens.</p></li>
</ol>

<p style="margin-left: 40px;"><img src="UserPermissionsDg.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 656px;
											height: 422px;
											float: none;
											border-style: none;
											border-style: none;"
									width=656
									height=422
									border=0></p>

<ol start=4
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">Fill the fields as appropriate 
 for the new user. Most of the fields are self explanatory. The rest are 
 explained below.</p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">Select a user functionality 
 for the new user from the <span style="font-weight: bold;">User Type:</span> 
 drop-down list. </p></li>
</ol>

<p class=Tip><span style="font-weight: bold;">Note:</span> When you add 
 users above and beyond your current limit you will be automatically charged 
 for the additional users.</p>

<p style="margin-left: 40px;"><img src="UserTypeDrpDwn.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 267px;
											height: 73px;
											float: none;
											border-style: none;
											border-style: none;"
									width=267
									height=73
									border=0></p>

<ol start=6
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">Check the <span style="font-weight: bold;">Force 
 passowrd change</span> checkbox to force password change. This function 
 is useful during maintenance when you want to reset a user's password.</p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">You can also assign 
 the new user to one or more groups by selecting one or more groups from 
 the <span style="font-weight: bold;">Available Groups</span> list and 
 moving them to the <span style="font-weight: bold;">Assigned Groups</span> 
 list. This can be done by using the move buttons described in the table 
 below.</p></li>
</ol>

<!--(Table)=========================================================-->
<table x-use-null-cells
		style="x-cell-content-align: top;
				width: 58.53%;
				margin-left: 40px;
				border-spacing: 0px;
				border-spacing: 0px;"
		cellspacing=0
		width=58.53%>
<col style="width: 21.446%;">
<col style="width: 78.554%;">

<tr style="x-cell-content-align: top;"
	valign=top>
<td style="width: 21.446%;
			border-left-width: 1px;
			border-left-color: #000000;
			border-left-style: Solid;
			border-top-style: Solid;
			border-top-color: #000000;
			border-top-width: 1px;
			border-right-width: 1px;
			border-right-color: #000000;
			border-right-style: Solid;
			border-bottom-style: Solid;
			border-bottom-color: #000000;
			border-bottom-width: 1px;
			padding-right: 10px;
			padding-left: 10px;"
	width=21.446%>
<p style="margin-left: -8px;
			font-weight: bold;
			text-align: center;"
	align=center>Button</td>
<td style="width: 78.554%;
			border-top-style: Solid;
			border-top-color: #000000;
			border-top-width: 1px;
			border-right-width: 1px;
			border-right-color: #000000;
			border-right-style: Solid;
			border-bottom-style: Solid;
			border-bottom-color: #000000;
			border-bottom-width: 1px;
			padding-right: 10px;
			padding-left: 10px;"
	width=78.554%>
<p style="margin-left: -8px;
			font-weight: bold;
			text-align: center;"
	align=center>Description</td></tr>

<tr style="x-cell-content-align: top;"
	valign=top>
<td style="width: 21.446%;
			border-left-width: 1px;
			border-left-color: #000000;
			border-left-style: Solid;
			border-right-width: 1px;
			border-right-color: #000000;
			border-right-style: Solid;
			border-bottom-style: Solid;
			border-bottom-color: #000000;
			border-bottom-width: 1px;
			padding-right: 10px;
			padding-left: 10px;"
	width=21.446%>
<p style="text-align: center;"
	align=center><img src="MoveAll.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 27px;
								height: 23px;
								float: none;
								border-style: none;
								border-style: none;"
						width=27
						height=23
						border=0></td>
<td style="width: 78.554%;
			border-right-width: 1px;
			border-right-color: #000000;
			border-right-style: Solid;
			border-bottom-style: Solid;
			border-bottom-color: #000000;
			border-bottom-width: 1px;
			padding-right: 10px;
			padding-left: 10px;"
	width=78.554%>
<p>Moves all the groups from the Available Groups list to the Assigned 
 Groups list.</td></tr>

<tr style="x-cell-content-align: top;"
	valign=top>
<td style="width: 21.446%;
			border-left-width: 1px;
			border-left-color: #000000;
			border-left-style: Solid;
			border-right-width: 1px;
			border-right-color: #000000;
			border-right-style: Solid;
			border-bottom-style: Solid;
			border-bottom-color: #000000;
			border-bottom-width: 1px;
			padding-right: 10px;
			padding-left: 10px;"
	width=21.446%>
<p style="text-align: center;"
	align=center><img src="MoveSelectedBtn.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 25px;
								height: 24px;
								float: none;
								border-style: none;
								border-style: none;"
						width=25
						height=24
						border=0></td>
<td style="width: 78.554%;
			border-right-width: 1px;
			border-right-color: #000000;
			border-right-style: Solid;
			border-bottom-style: Solid;
			border-bottom-color: #000000;
			border-bottom-width: 1px;
			padding-right: 10px;
			padding-left: 10px;"
	width=78.554%>
<p>Move selected group(s) from the Available Groups list to the Assigned 
 Groups list.</td></tr>

<tr style="x-cell-content-align: top;"
	valign=top>
<td style="width: 21.446%;
			border-left-width: 1px;
			border-left-color: #000000;
			border-left-style: Solid;
			border-right-width: 1px;
			border-right-color: #000000;
			border-right-style: Solid;
			border-bottom-style: Solid;
			border-bottom-color: #000000;
			border-bottom-width: 1px;
			padding-right: 10px;
			padding-left: 10px;"
	width=21.446%>
<p style="text-align: center;"
	align=center><img src="RemoveSelectedBtn.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 26px;
								height: 24px;
								float: none;
								border-style: none;
								border-style: none;"
						width=26
						height=24
						border=0></td>
<td style="width: 78.554%;
			border-right-width: 1px;
			border-right-color: #000000;
			border-right-style: Solid;
			border-bottom-style: Solid;
			border-bottom-color: #000000;
			border-bottom-width: 1px;
			padding-right: 10px;
			padding-left: 10px;"
	width=78.554%>
<p>Move selected group(s) from the Assigned Groups list to the Available 
 Groups list.</td></tr>

<tr style="x-cell-content-align: top;"
	valign=top>
<td style="width: 21.446%;
			border-left-width: 1px;
			border-left-color: #000000;
			border-left-style: Solid;
			border-right-width: 1px;
			border-right-color: #000000;
			border-right-style: Solid;
			border-bottom-style: Solid;
			border-bottom-color: #000000;
			border-bottom-width: 1px;
			padding-right: 10px;
			padding-left: 10px;"
	width=21.446%>
<p style="text-align: center;"
	align=center><img src="RemoveAllBtn.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 25px;
								height: 22px;
								float: none;
								border-style: none;
								border-style: none;"
						width=25
						height=22
						border=0></td>
<td style="width: 78.554%;
			border-right-width: 1px;
			border-right-color: #000000;
			border-right-style: Solid;
			border-bottom-style: Solid;
			border-bottom-color: #000000;
			border-bottom-width: 1px;
			padding-right: 10px;
			padding-left: 10px;"
	width=78.554%>
<p>Moves all the groups from the Assigned Groups list to the Available 
 Groups list.</td></tr>
</table>

<p style="margin-left: 40px;">&nbsp;</p>

<p class=Tip><span style="font-weight: bold;">Note:</span> To select one 
 or more groups hold down the <span style="font-weight: bold;">Shift</span> 
 key or the <span style="font-weight: bold;">Ctrl</span> key on the keyboard 
 and select the groups of choice with your mouse.</p>

<ol start=8
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">Finally click the <span 
 style="font-weight: bold;">Enabled</span> checkbox. If you fail to enable 
 the user they will not be active in the system.</p></li>
</ol>

<ol start=9
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">Click <span style="font-weight: bold;">Save</span> 
 when done.</p></li>
</ol>

<h2>To create a user by copying the profile of another user</h2>

<ol style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">Ensure the users and 
 the <span style="font-weight: bold;">Add User</span> button <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->are 
 displayed in the Details pane. If they aren't click <span style="font-weight: bold;">Users</span> 
 from the menu on the left.</p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">Click the copy <img 
 src="CopyButton.jpg"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 21px;
			height: 19px;
			float: none;
			border-style: none;
			border-style: none;"
	width=21
	height=19
	border=0> button for the user that you wish to use duplicate. In the 
 example the profile of user Alex Barberis is being copied to create a 
 new user. </p></li>
</ol>

<p style="margin-left: 40px;"><img src="AUser.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 391px;
											height: 53px;
											float: none;
											border-style: none;
											border-style: none;"
									width=391
									height=53
									border=0></p>

<ol start=3
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">The <span style="font-weight: bold;">User 
 Permissions</span> dialog appears. Note that this time several fields 
 are already filled.</p></li>
</ol>

<p style="margin-left: 40px;"><span style="margin-left: 32px;"><img src="UserPermissionsDg2.jpg"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 656px;
			height: 422px;
			float: none;
			border-style: none;
			border-style: none;"
	width=656
	height=422
	border=0></span></p>

<ol start=4
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">Complete filling of 
 the other fields as described in the previous section and click <span 
 style="font-weight: bold;">Save</span> when done.</p></li>
</ol>

<h2>To edit a user</h2>

<ol style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">Ensure the users and 
 the <span style="font-weight: bold;">Add User</span> button <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->are 
 displayed in the Details pane. If they aren't click <span style="font-weight: bold;">Users</span> 
 from the menu on the left. </p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">Click the <span style="font-weight: bold;">Edit 
 User </span><img src="EditUserBtn.jpg"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 24px;
							height: 20px;
							float: none;
							border-style: none;
							border-style: none;"
					width=24
					height=20
					border=0> button of the user whose details you wish 
 to edit.</p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">The <span style="font-weight: bold;">User 
 Permissions</span> web dialog for that user opens. </p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">Modify the changes the 
 fields, checkboxes and lists <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->as 
 required and click <span style="font-weight: bold;">Save</span> when done.</p></li>
</ol>

<h2>To delete a user</h2>

<ol style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">Ensure the users and 
 the <span style="font-weight: bold;">Add User</span> button <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->are 
 displayed in the Details pane. If they aren't click <span style="font-weight: bold;">Users</span> 
 from the menu on the left.</p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">Click the <span style="font-weight: bold;">Delete 
 User <img src="DeleteUserBtn.jpg"
			x-maintain-ratio=TRUE
			style="border: none;
					width: 17px;
					height: 19px;
					float: none;
					border-style: none;
					border-style: none;"
			width=17
			height=19
			border=0> </span><!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->button 
 for the user whom you wish to delete.</p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">The <span style="font-weight: bold;">Delete 
 Confirmation</span> dialogs appears. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}--></p></li>
</ol>

<p style="margin-left: 40px;"><img src="DeleteUserConfDg.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 302px;
											height: 126px;
											float: none;
											border-style: none;
											border-style: none;"
									width=302
									height=126
									border=0></p>

<ol start=4
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">Click <span style="font-weight: bold;">OK</span>. 
 The Details page refreshes and the user's details are removed.</p></li>
</ol>

<p class=Tip><span style="font-weight: bold;">Note:</span> Use the <span 
 style="font-weight: bold;">Delete</span> User functionality with caution. 
 It is preferable to disable users using the enable chck box. Users that 
 are exclusively involved in certain workflow steps may not deleted. In 
 this case add another user to the review group before deleting the user. 
 </p>

<p>&nbsp;</p>

<!--kadov_tag{{<placeholder id="footer">}}-->
</body>

</html>
