<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Adding Files</title>

<!--(Meta)==========================================================-->

<meta name="template" content="Copyright.htt">
<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=date content="11 16, 2001 6:56:45 PM">
<meta name=generator content="Adobe RoboHelp - www.adobe.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=4003>
<meta name=layout-width content=756>


<!--(Links)=========================================================-->

<link rel="StyleSheet" href="Application Help.css">



</head>

<!--(Body)==========================================================-->


<body>

<h1>Adding Files</h1>

<p style="margin-left: 0px;">You can add files to a folder with a variety 
 of information such as tags, title, description, comments and so on.</p>

<h2>To add a file to a folder</h2>

<ol style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p>Select the folder or subfolder in the <span style="font-weight: bold;">Cabinets 
 and Folders</span> <span style="font-weight: bold;">tree </span>where 
 you wish to add a file. In the example the &quot;Employment Policies&quot; 
 folder of the &quot;Human Resources&quot; cabinet is selected.</p></li>
</ol>

<p style="margin-left: 32px;"><img src="images/FoldersFilesAddFile.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 267px;
											height: 318px;
											float: none;
											border-style: none;
											border-style: none;"
									width=267
									height=318
									border=0></p>

<ol start=2
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p>Select the <span style="font-weight: bold;">Add 
 New Files</span> option on the <span style="font-weight: bold;">Folder 
 and File Actions</span> Menu.</p></li>
	
	<li class=kadov-p><p>The <span style="font-weight: bold;">Add Files</span> 
 panel opens in the <span style="font-weight: bold;">Details</span> pa<span 
 style="margin-left: 32px;">ne.</span></p></li>
</ol>

<p style="margin-left: 32px;"><img src="images/AddFilesPanel.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 649px;
											height: 269px;
											float: none;
											border-style: none;
											border-style: none;"
									width=649
									height=269
									border=0></p>

<p class=Tip><span style="font-weight: bold;">Note:</span> By default, 
 four empty rows of fields are displayed. You can add one file and its 
 details using any one row. To add more rows to the panel click the <img 
 src="images/AddRowButton.jpg"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 17px;
			height: 15px;
			float: none;
			border-style: none;
			border-style: none;"
	width=17
	height=15
	border=0> <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->button. 
 To remove rows from the panel click the <img src="images/DeleteRowButton.jpg"
												x-maintain-ratio=TRUE
												style="border: none;
														width: 14px;
														height: 15px;
														float: none;
														border-style: none;
														border-style: none;"
												width=14
												height=15
												border=0> <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->button.</p>

<ol start=4
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p>Enter a filename with the exact path of its location 
 on your computer in the filename field (first empty field) or click <span 
 style="font-weight: bold;">Browse </span>in any of the rows. </p></li>
	
	<li class=kadov-p><p>The Windows <span style="font-weight: bold;">Choose 
 File</span> dialog opens.</p></li>
	
	<li class=kadov-p><p>Browse and select a file from your computer and 
 click <span style="font-weight: bold;">Open</span>. The filename is inserted 
 into the empty filename field.</p></li>
</ol>

<p style="margin-left: 32px;"><img src="images/AddFiles1.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 646px;
											height: 113px;
											float: none;
											border-style: none;
											border-style: none;"
									width=646
									height=113
									border=0></p>

<ol start=7
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p>Optionally, enter a title for the file in the 
 <span style="font-weight: bold;">Title</span> field.</p></li>
	
	<li class=kadov-p><p>Optionally, enter a description for the file in 
 the <span style="font-weight: bold;">Description</span> field. </p></li>
	
	<li class=kadov-p><p>Optionally, enter comments for the file in the 
 <span style="font-weight: bold;">Comments</span> field.</p></li>
	
	<li class=kadov-p><p>Finally, you may optionally <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->enter 
 tags related to the file in the <span style="font-weight: bold;">Tags</span> 
 field.</p></li>
</ol>

<p class=Tip><span style="font-weight: bold;">Note:</span> For the <span 
 style="font-weight: bold;">Title</span>, <span style="font-weight: bold;">Description</span>, 
 <span style="font-weight: bold;">Comments</span> and <span style="font-weight: bold;">Tags 
 </span><span>fields</span> make sure you enter relevant keywords or keyword 
 phrases related to the file into the respective fields. This will help 
 in the searching and locating of the document.</p>

<ol start=11
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p>Repeat the procedure (from Steps 4 - 10) for more 
 files, if required.</p></li>
	
	<li class=kadov-p><p>Click <span style="font-weight: bold;">Save</span>. 
 The following progress message is displayed:</p></li>
</ol>

<p style="margin-left: 32px;"><img src="images/AddingFilesProgress.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 584px;
											height: 339px;
											float: none;
											border-style: none;
											border-style: none;"
									width=584
									height=339
									border=0></p>

<ol start=13
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p>A message box confirms the addition of the file:</p></li>
</ol>

<p style="margin-left: 32px;"><img src="images/FilesAddedMsg.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 209px;
											height: 126px;
											float: none;
											border-style: none;
											border-style: none;"
									width=209
									height=126
									border=0></p>

<ol start=14
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p><span style="margin-left: 0px;">The </span><span 
 style="font-weight: bold;">Details</span><span style="margin-left: 0px;"> 
 pane refreshes to display the added file:</span><span style="margin-left: 40px;"><img 
 src="images/DetailsPane2.jpg"
	x-maintain-ratio=TRUE
	style="border: none;
			border-style: none;
			width: 705px;
			height: 87px;
			float: none;
			border-style: none;"
	width=705
	height=87
	border=0></span></p></li>
</ol>

<p class=Tip><span style="font-weight: bold;">Note:</span> The file is 
 automatically given a Document Number and Version number. </p>

<h2>To assign attributes and workflow to the files being added</h2>

<ol start=1
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p>Proceed as explained in the previous section (Steps 
 1 - 11).</p></li>
	
	<li class=kadov-p><p>Check the <span style="font-weight: bold;">Assign 
 attributes and workflows</span> checkbox.</p></li>
	
	<li class=kadov-p><p>Click <span style="font-weight: bold;">Save</span>.</p></li>
	
	<li class=kadov-p><p>The dialog opens informing you of the progress 
 of uploading in the <span style="font-weight: bold;">Details</span> pane.</p></li>
	
	<li class=kadov-p><p>The <span style="font-weight: bold;">Add Attachments</span> 
 panel opens in the <span style="font-weight: bold;">Details</span> pane:</p></li>
</ol>

<p style="margin-left: 32px;"><img src="images/AddAttachmentsPanel.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 453px;
											height: 176px;
											float: none;
											border-style: none;
											border-style: none;"
									width=453
									height=176
									border=0></p>

<ol start=6
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p>Select a document type from the <span style="font-weight: bold;">Document 
 Type</span> drop-down list. If &quot;Unassigned&quot; is selected, the 
 next step (Step 7) does not take place.</p></li>
	
	<li class=kadov-p><p>Based on the document type, fields are populated 
 and these can be optionally filled. For example, if the document type 
 selected was &quot;Employee Records&quot;. then the following fields are 
 populated:</p></li>
</ol>

<p style="margin-left: 32px;"><img src="images/AddAttachmentsPanel2.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 446px;
											height: 271px;
											float: none;
											border-style: none;
											border-style: none;"
									width=446
									height=271
									border=0></p>

<ol start=8
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p>Fill in the fields as required and click <span 
 style="font-weight: bold;">Save</span>.</p></li>
</ol>

<p class=Tip><span style="font-weight: bold;">Note:</span> If you have 
 selected multiple files, multiple fields and panels will be displayed 
 for each of the files for which you can assign a <span style="font-weight: bold;">Document 
 Type</span>.</p>

<ol start=9
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p>The file or files are added to the selected folder 
 and the confirmation message displayed.</p></li>
	
	<li class=kadov-p><p>The <span style="font-weight: bold;">Details</span> 
 pane refreshes to display the added file.</p></li>
</ol>

<h2>To perform a bulk upload</h2>

<ol style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p>Proceed as explained in the first section (Steps 
 1 - 3).</p></li>
	
	<li class=kadov-p><p>Click on <span style="font-weight: bold;">Bulk 
 Upload Mode</span>. The Add Files panel will change. If you wish the panel 
 revert back, click on <span style="font-weight: bold;">Single file mode</span>.</p></li>
</ol>

<p><img src="images/BulkUploadMode.jpg"
		x-maintain-ratio=TRUE
		style="border: none;
				width: 584px;
				height: 219px;
				float: none;
				border-style: none;
				border-style: none;
				margin-left: 36px;"
		width=584
		height=219
		border=0></p>

<ol start=3
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p>Click on <span style="font-weight: bold;">Browse</span>. 
 A Windows <span style="font-weight: bold;">Select File(s)</span> dialog 
 opens:</p></li>
</ol>

<p><img src="images/BulkUploadMode_dialog.jpg"
		x-maintain-ratio=TRUE
		style="border: none;
				width: 565px;
				height: 420px;
				float: none;
				border-style: none;
				border-style: none;
				margin-left: 36px;"
		width=565
		height=420
		border=0></p>

<ol start=4
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p>Browse and select multiple files from your computer 
 by clicking filenames and holding down Shift or Ctrl keys. Once you have 
 selected all the files you need, click <span style="font-weight: bold;">Open</span>. 
 All selected files will be inserted into the bulk upload panel:</p></li>
</ol>

<p><img src="images/BulkUploadMode2.jpg"
		x-maintain-ratio=TRUE
		style="border: none;
				width: 585px;
				height: 219px;
				float: none;
				border-style: none;
				border-style: none;
				margin-left: 36px;"
		width=585
		height=219
		border=0></p>

<p class=Tip><span style="font-weight: bold;">Note:</span> Total files 
 selected and upload size are shown at the bottom of the list. </p>

<ol start=5
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p>Click <span style="font-weight: bold;">Upload</span> 
 to upload files to the selected folder. A progress message will be displayed:</p></li>
</ol>

<p><img src="images/BulkUploadMode3.jpg"
		x-maintain-ratio=TRUE
		style="border: none;
				width: 586px;
				height: 220px;
				float: none;
				border-style: none;
				border-style: none;
				margin-left: 36px;"
		width=586
		height=220
		border=0></p>

<ol start=6
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p>Once it is finished, click the <img src="images/BackText.jpg"
															x-maintain-ratio=TRUE
															style="border: none;
	width: 45px;
	height: 18px;
	float: none;
	border-style: none;
	border-style: none;"
															width=45
															height=18
															border=0> <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->button 
 to return to the default start page.</p></li>
</ol>

<!--kadov_tag{{<placeholder id="footer">}}-->
</body>

</html>
