<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Adding and Maintaining Groups</title>

<!--(Meta)==========================================================-->

<meta name="template" content="Copyright.htt">
<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=date content="11 16, 2001 6:56:45 PM">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=1615>
<meta name=layout-width content=741>


<!--(Links)=========================================================-->

<link rel="StyleSheet" href="Application Help.css">



</head>

<!--(Body)==========================================================-->


<body>

<h1>Adding and Maintaining Groups</h1>

<p style="margin-left: 0px;">Adding and maintaining groups is very similar 
 to adding and using users. </p>

<h2>To add a new group </h2>

<ol style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">Ensure the groups and 
 the <span style="font-weight: bold;">Add Group</span> link are displayed 
 in the Details pane. If they aren't click <span style="font-weight: bold;">Groups</span> 
 from the menu on the left.</p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">Click <span style="font-weight: bold;">Add 
 Group</span>.</p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">The <span style="font-weight: bold;">Security 
 Groups</span> dialog opens.</p></li>
</ol>

<p style="margin-left: 40px;"><img src="GroupWbPg.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 452px;
											height: 369px;
											float: none;
											border-style: none;
											border-style: none;"
									width=452
									height=369
									border=0></p>

<ol start=4
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">Fill the fields, select 
 the radio buttons and check the checkboxes for the various document types 
 as per your requirement. Refer the table below for a brief description 
 of the important access controls.</p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">Choose the users that 
 need to go in the group from the <span style="font-weight: bold;">Available 
 Users</span> list. For more information on how to use the boxes refer 
 the <a href="Adding_and_Maintaining_Users.htm">Adding and Maintaining 
 Users</a> topic.</p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">Click <span style="font-weight: bold;">Save</span> 
 when done.</p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">The web page is refreshed 
 and the new group is added to the list and displayed.</p></li>
</ol>

<h2>To create a new group based on an existing group</h2>

<ol style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">Ensure the groups and 
 the <span style="font-weight: bold;">Add Group</span> link are displayed 
 in the <span style="font-weight: bold;">Details</span> pane. If they aren't 
 click <span style="font-weight: bold;">Groups</span> from the menu on 
 the left.</p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">Click the copy <img 
 src="CopyButton.jpg"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 21px;
			height: 19px;
			float: none;
			border-style: none;
			border-style: none;"
	width=21
	height=19
	border=0> button of a group's record that you wish to use to create 
 the new group. </p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">The <span style="font-weight: bold;">Security 
 Groups</span> dialog for that group opens. </p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">Fill the fields, select 
 radio buttons, check the checkboxes and select users (if necessary) and 
 click <span style="font-weight: bold;">Save</span> when done.</p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">The web page is refreshed 
 and the new group is added to the list and displayed.</p></li>
</ol>

<h2>To edit an existing group</h2>

<ol style="list-style: decimal;"
	type=1>
	
	<li style="font-weight: bold; /*begin!kadov{{*/ font-weight: normal; /*}}end!kadov*/ "
		class=kadov-p><p style="margin-left: 0px; font-weight: normal;">Ensure 
 the groups and the <span style="font-weight: bold;">Add Group</span> link 
 are displayed in the <span style="font-weight: bold;">Details</span> pane. 
 If they aren't click Groups from the menu on the left.</p></li>
	
	<li style="font-weight: bold; /*begin!kadov{{*/ font-weight: normal; /*}}end!kadov*/ "
		class=kadov-p><p style="margin-left: 0px; font-weight: normal;">Click 
 the <span style="font-weight: bold;">Edit User </span><img src="EditUserBtn.jpg"
															x-maintain-ratio=TRUE
															style="border: none;
	width: 24px;
	height: 20px;
	float: none;
	border-style: none;
	border-style: none;"
															width=24
															height=20
															border=0> button 
 of the group whose details you wish to edit.</p></li>
	
	<li style="font-weight: bold; /*begin!kadov{{*/ font-weight: normal; /*}}end!kadov*/ "
		class=kadov-p><p style="margin-left: 0px; font-weight: normal;">The 
 <span style="font-weight: bold;">Security Groups</span> dialog for the 
 group opens.</p></li>
	
	<li style="font-weight: bold; /*begin!kadov{{*/ font-weight: normal; /*}}end!kadov*/ "
		class=kadov-p><p style="margin-left: 0px; font-weight: normal;">Modify 
 the fields, selections, checks, and list of users as per your requirements.</p></li>
	
	<li style="font-weight: bold; /*begin!kadov{{*/ font-weight: normal; /*}}end!kadov*/ "
		class=kadov-p><p style="margin-left: 0px; font-weight: normal;">Click 
 <span style="font-weight: bold;">Save</span> when done.</p></li>
</ol>

<h2>To delete an existing group</h2>

<ol style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">Ensure the groups and 
 the <span style="font-weight: bold;">Add Group</span> link are displayed 
 in the Details pane. If they aren't click <span style="font-weight: bold;">Groups</span> 
 from the menu on the left.</p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">Click the <span style="font-weight: bold;">Delete 
 Group<img src="DeleteUserBtn.jpg"
			x-maintain-ratio=TRUE
			style="border: none;
					width: 17px;
					height: 19px;
					float: none;
					border-style: none;
					border-style: none;"
			width=17
			height=19
			border=0> </span>button for the group that you wish to delete.</p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">The <span style="font-weight: bold;">Delete 
 Confirmation</span> dialogs appears. </p></li>
</ol>

<p style="margin-left: 40px;"><img src="GroupDeletionCnfDg.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 302px;
											height: 126px;
											float: none;
											border-style: none;
											border-style: none;"
									width=302
									height=126
									border=0></p>

<ol start=4
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">Click <span style="font-weight: bold;">OK</span>. 
 The Details page refreshes and the group's details are removed.</p></li>
</ol>

<p class=Tip><span style="font-weight: bold;">Note:</span> Use the Delete 
 Group functionality with caution. Ensure group(s) to be deleted are not 
 involved with workflows. Groups once deleted cannot be retrieved. </p>

<h2>Access Controls and their properties</h2>

<!--(Table)=========================================================-->
<table x-use-null-cells
		style="x-cell-content-align: top;
				border-spacing: 0;
				width: 90.291%;"
		width=90.291%
		cellspacing=0>
<col style="width: 18.971%;">
<col style="width: 81.029%;">

<tr valign=top>
<td style="border-left-width: 1px;
			border-left-color: #000000;
			border-left-style: Solid;
			border-top-style: Solid;
			border-top-color: #000000;
			border-top-width: 1px;
			border-right-width: 1px;
			border-right-color: #000000;
			border-right-style: Solid;
			border-bottom-style: Solid;
			border-bottom-color: #000000;
			border-bottom-width: 1px;
			padding-right: 10px;
			padding-left: 10px;"
	width=18.971%>
<p style="margin-left: 0px;
			font-weight: bold;
			text-align: center;"
	align=center>Access Control</td>
<td style="border-top-style: Solid;
			border-top-color: #000000;
			border-top-width: 1px;
			border-right-width: 1px;
			border-right-color: #000000;
			border-right-style: Solid;
			border-bottom-style: Solid;
			border-bottom-color: #000000;
			border-bottom-width: 1px;
			padding-right: 10px;
			padding-left: 10px;"
	width=81.029%>
<p style="font-weight: bold; text-align: center;"
	align=center>Description</td></tr>

<tr valign=top>
<td style="border-left-width: 1px;
			border-left-color: #000000;
			border-left-style: Solid;
			border-right-width: 1px;
			border-right-color: #000000;
			border-right-style: Solid;
			border-bottom-style: Solid;
			border-bottom-color: #000000;
			border-bottom-width: 1px;
			padding-right: 10px;
			padding-left: 10px;"
	width=18.971%>
<p>No Access</td>
<td style="border-right-width: 1px;
			border-right-color: #000000;
			border-right-style: Solid;
			border-bottom-style: Solid;
			border-bottom-color: #000000;
			border-bottom-width: 1px;
			padding-right: 10px;
			padding-left: 10px;"
	width=81.029%>
<p>Users provided with this control cannot access the document type or 
 even see it in the system. From the users point for <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->view, 
 the document will not even exist in the system</td></tr>

<tr valign=top>
<td style="border-left-width: 1px;
			border-left-color: #000000;
			border-left-style: Solid;
			border-right-width: 1px;
			border-right-color: #000000;
			border-right-style: Solid;
			border-bottom-style: Solid;
			border-bottom-color: #000000;
			border-bottom-width: 1px;
			padding-right: 10px;
			padding-left: 10px;"
	width=18.971%>
<p>Read Only </td>
<td style="border-right-width: 1px;
			border-right-color: #000000;
			border-right-style: Solid;
			border-bottom-style: Solid;
			border-bottom-color: #000000;
			border-bottom-width: 1px;
			padding-right: 10px;
			padding-left: 10px;"
	width=81.029%>
<p>Users provided with this control can see and view documents but cannot 
 alter them in any way.</td></tr>

<tr valign=top>
<td colspan=1
	rowspan=1
	style="padding-right: 10px;
			padding-left: 10px;
			border-left-style: Solid;
			border-left-color: #000000;
			border-left-width: 1px;
			border-right-style: Solid;
			border-right-color: #000000;
			border-right-width: 1px;
			border-bottom-width: 1px;
			border-bottom-color: #000000;
			border-bottom-style: Solid;"
	width=18.971%>
<p>Change</td>
<td colspan=1
	rowspan=1
	style="padding-right: 10px;
			padding-left: 10px;
			border-right-style: Solid;
			border-right-color: #000000;
			border-right-width: 1px;
			border-bottom-width: 1px;
			border-bottom-color: #000000;
			border-bottom-style: Solid;"
	width=81.029%>
<p>Users provided with this control can see and edit document but cannot 
 delete them.</td></tr>

<tr valign=top>
<td colspan=1
	rowspan=1
	style="padding-right: 10px;
			padding-left: 10px;
			border-left-width: 1px;
			border-left-color: #000000;
			border-left-style: Solid;
			border-right-width: 1px;
			border-right-color: #000000;
			border-right-style: Solid;
			border-bottom-style: Solid;
			border-bottom-color: #000000;
			border-bottom-width: 1px;"
	width=18.971%>
<p>Delete</td>
<td colspan=1
	rowspan=1
	style="padding-right: 10px;
			padding-left: 10px;
			border-right-width: 1px;
			border-right-color: #000000;
			border-right-style: Solid;
			border-bottom-style: Solid;
			border-bottom-color: #000000;
			border-bottom-width: 1px;"
	width=81.029%>
<p>Users provided with this control can see, edit and delete documents.</td></tr>

<tr valign=top>
<td colspan=1
	rowspan=1
	style="padding-right: 10px;
			padding-left: 10px;
			border-left-style: Solid;
			border-left-color: #000000;
			border-left-width: 1px;
			border-right-style: Solid;
			border-right-color: #000000;
			border-right-width: 1px;
			border-bottom-width: 1px;
			border-bottom-color: #000000;
			border-bottom-style: Solid;"
	width=18.971%>
<p>Creator only</td>
<td colspan=1
	rowspan=1
	style="padding-right: 10px;
			padding-left: 10px;
			border-right-style: Solid;
			border-right-color: #000000;
			border-right-width: 1px;
			border-bottom-width: 1px;
			border-bottom-color: #000000;
			border-bottom-style: Solid;"
	width=81.029%>
<p>This control further limits the access option to documents that only 
 the user has created.</td></tr>

<tr valign=top>
<td colspan=1
	rowspan=1
	style="padding-right: 10px;
			padding-left: 10px;
			border-left-width: 1px;
			border-left-color: #000000;
			border-left-style: Solid;
			border-right-width: 1px;
			border-right-color: #000000;
			border-right-style: Solid;
			border-bottom-style: Solid;
			border-bottom-color: #000000;
			border-bottom-width: 1px;"
	width=18.971%>
<p>Current version</td>
<td colspan=1
	rowspan=1
	style="padding-right: 10px;
			padding-left: 10px;
			border-right-width: 1px;
			border-right-color: #000000;
			border-right-style: Solid;
			border-bottom-style: Solid;
			border-bottom-color: #000000;
			border-bottom-width: 1px;"
	width=81.029%>
<p>This control further limits the access option to the most recent version 
 of any given document of this type.</td></tr>

<tr valign=top>
<td colspan=1
	rowspan=1
	style="padding-right: 10px;
			padding-left: 10px;
			border-left-style: Solid;
			border-left-color: #000000;
			border-left-width: 1px;
			border-right-style: Solid;
			border-right-color: #000000;
			border-right-width: 1px;
			border-bottom-width: 1px;
			border-bottom-color: #000000;
			border-bottom-style: Solid;"
	width=18.971%>
<p>Print</td>
<td colspan=1
	rowspan=1
	style="padding-right: 10px;
			padding-left: 10px;
			border-right-style: Solid;
			border-right-color: #000000;
			border-right-width: 1px;
			border-bottom-width: 1px;
			border-bottom-color: #000000;
			border-bottom-style: Solid;"
	width=81.029%>
<p>Grants additional permission to the user to <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->print 
 documents of this type.</td></tr>

<tr valign=top>
<td colspan=1
	rowspan=1
	style="padding-right: 10px;
			padding-left: 10px;
			border-left-width: 1px;
			border-left-color: #000000;
			border-left-style: Solid;
			border-right-width: 1px;
			border-right-color: #000000;
			border-right-style: Solid;
			border-bottom-style: Solid;
			border-bottom-color: #000000;
			border-bottom-width: 1px;"
	width=18.971%>
<p>E-mail and Download</td>
<td colspan=1
	rowspan=1
	style="padding-right: 10px;
			padding-left: 10px;
			border-right-width: 1px;
			border-right-color: #000000;
			border-right-style: Solid;
			border-bottom-style: Solid;
			border-bottom-color: #000000;
			border-bottom-width: 1px;"
	width=81.029%>
<p>Grants additional permission to the user for email and/or export <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->documents 
 of this type.</td></tr>

<tr valign=top>
<td colspan=1
	rowspan=1
	style="padding-right: 10px;
			padding-left: 10px;
			border-left-style: Solid;
			border-left-color: #000000;
			border-left-width: 1px;
			border-right-style: Solid;
			border-right-color: #000000;
			border-right-width: 1px;
			border-bottom-width: 1px;
			border-bottom-color: #000000;
			border-bottom-style: Solid;"
	width=18.971%>
<p>Manage Annotations</td>
<td colspan=1
	rowspan=1
	style="padding-right: 10px;
			padding-left: 10px;
			border-right-style: Solid;
			border-right-color: #000000;
			border-right-width: 1px;
			border-bottom-width: 1px;
			border-bottom-color: #000000;
			border-bottom-style: Solid;"
	width=81.029%>
<p>Grants additional permission to the user to add/edit/delete annotation 
 on documents of this type</td></tr>

<tr valign=top>
<td colspan=1
	rowspan=1
	style="padding-right: 10px;
			padding-left: 10px;
			border-left-width: 1px;
			border-left-color: #000000;
			border-left-style: Solid;
			border-right-width: 1px;
			border-right-color: #000000;
			border-right-style: Solid;
			border-bottom-style: Solid;
			border-bottom-color: #000000;
			border-bottom-width: 1px;"
	width=18.971%>
<p>Manage Redactions</td>
<td colspan=1
	rowspan=1
	style="padding-right: 10px;
			padding-left: 10px;
			border-right-width: 1px;
			border-right-color: #000000;
			border-right-style: Solid;
			border-bottom-style: Solid;
			border-bottom-color: #000000;
			border-bottom-width: 1px;"
	width=81.029%>
<p>Grants additional permission to the user to add/edit/delete redactions 
 on documents of this type. Users without this right will see all redactions 
 for this document type as obscuring black boxes</td></tr>
</table>

<p>&nbsp;</p>

<p>&nbsp;</p>

<!--kadov_tag{{<placeholder id="footer">}}-->
</body>

</html>
