<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Checking Out Files</title>

<!--(Meta)==========================================================-->

<meta name="template" content="Copyright.htt">
<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=date content="11 16, 2001 6:56:45 PM">
<meta name=generator content="Adobe RoboHelp - www.adobe.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=1306>
<meta name=layout-width content=760>


<!--(Links)=========================================================-->

<link rel="StyleSheet" href="Application Help.css">



</head>

<!--(Body)==========================================================-->


<body>

<h1>Checking out files</h1>

<p style="margin-left: 0px;">docAssist™ supports full version control with 
 check-out/check-in functionality for all imported native files (.doc, 
 .xls, etc.) . Check-out/Check-in allows for safe collaboration. When a 
 document is checked-out by a team member, other users can access and view 
 the document but cannot upload a new version. Note: Imaged documents imported 
 via the scan tab support version control but not check-out/check-in.</p>

<h2>To check out files </h2>

<ol style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">Select a document in 
 the <span style="font-weight: bold;">Explorer</span> tab to access the 
 <span style="font-weight: bold;">Viewer</span> tab. To find out how to 
 view documents under the <span style="font-weight: bold;">Viewer</span> 
 tab refer the <a href="The_Toolbars_(View_Tab).htm">Toolbars</a> topic 
 under Viewing Documents chapter.</p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">You must get to the 
 <span style="font-weight: bold;">Viewer</span> tab page that displays 
 the following.</p></li>
</ol>

<p style="margin-left: 40px;"><img src="images/CheckOut.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											border-style: none;
											width: 701px;
											height: 463px;
											float: none;
											border-style: none;"
									width=701
									height=463
									border=0></p>

<ol start=3
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">Click <span style="font-weight: bold;">Check 
 Out</span>.</p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">The button changes to 
 a <span style="font-weight: bold;">Cancel Check Out</span> button and 
 a check out message is displayed in the panel.</p></li>
</ol>

<p style="margin-left: 40px;"><img src="images/CancelCheckOutBtnMsg.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 223px;
											height: 46px;
											float: none;
											border-style: none;
											border-style: none;"
									width=223
									height=46
									border=0></p>

<ol start=5
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">At this stage you can 
 terminate the check out process by clicking <span style="font-weight: bold;">Cancel 
 Check Out</span>. During this stage the file remains locked and other 
 users cannot check in or check out the file.</p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">You can also upload 
 a new version of the file by searching for the file using the <span style="font-weight: bold;">Browse</span> 
 button. Add comments if you wish in the field provided for the same and 
 click <span style="font-weight: bold;">Save</span>.</p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">The file uploading message 
 appears and a new version is saved with complete details of the person 
 who uploaded it. </p></li>
</ol>

<p style="margin-left: 40px;"><img src="images/ChkOutCnlChkOut.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											border-style: none;
											width: 700px;
											height: 369px;
											float: none;
											border-style: none;"
									width=700
									height=369
									border=0></p>

<p style="margin-left: 0px;">&nbsp;</p>

<!--kadov_tag{{<placeholder id="footer">}}-->
</body>

</html>
