<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Creating and Maintaining Indexes</title>

<!--(Meta)==========================================================-->

<meta name="template" content="Copyright.htt">
<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=date content="11 16, 2001 6:56:45 PM">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=2315>
<meta name=layout-width content=741>


<!--(Links)=========================================================-->

<link rel="StyleSheet" href="Application Help.css">



</head>

<!--(Body)==========================================================-->


<body>

<h1>Creating and Maintaining Indexes</h1>

<p style="margin-left: 0px;">Here is where you can define the inputs for 
 integration i.e what docAssist needs to pick from applications it integrates 
 into the documents it contains.</p>

<h2>To Add an index</h2>

<ol style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p>Click <span style="font-weight: bold;">Index</span> 
 under <span style="font-weight: bold;">Integration</span> of the menu 
 on the left.</p></li>
	
	<li class=kadov-p><p>The <span style="font-weight: bold;">Manage Integration</span> 
 menu appears in the <span style="font-weight: bold;">Details</span> pane.</p></li>
</ol>

<p style="margin-left: 32px;"><img src="ManageIntegrationMenu.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 564px;
											height: 68px;
											float: none;
											border-style: none;
											border-style: none;"
									width=564
									height=68
									border=0></p>

<ol start=3
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p>Click the <span style="font-weight: bold;">Create 
 Index</span> link. The following fields are displayed.</p></li>
</ol>

<p style="margin-left: 32px;"><img src="CreateIndexFlds1.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 416px;
											height: 161px;
											float: none;
											border-style: none;
											border-style: none;"
									width=416
									height=161
									border=0></p>

<ol start=4
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p>Fill in the fields for <span style="font-weight: bold;">Product 
 Manufacturer, Application, Version </span>and<span style="font-weight: bold;"> 
 Form</span> <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->by 
 selecting the required items from the drop-down lists associated with 
 the fields.</p></li>
	
	<li class=kadov-p><p>Click <span style="font-weight: bold;">Next</span> 
 when done. The next set of fields are displayed.</p></li>
</ol>

<p style="margin-left: 32px;"><img src="CreateIndexFlds2.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 421px;
											height: 97px;
											float: none;
											border-style: none;
											border-style: none;"
									width=421
									height=97
									border=0></p>

<ol start=6
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p>Select a document from the drop-down list and 
 click <span style="font-weight: bold;">Next</span>. If you select a document 
 that is already used in an existing integration you will be prompted with 
 a suitable message. You will have to select another document in this situation 
 or edit the existing index using the <span style="font-weight: bold;">Change 
 Index</span> option discussed in the next section.</p></li>
	
	<li class=kadov-p><p>The following fields are displayed if an unused 
 document is selected.</p></li>
</ol>

<p style="margin-left: 32px;"><img src="CreateIndexFlds3.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 467px;
											height: 318px;
											float: none;
											border-style: none;
											border-style: none;"
									width=467
									height=318
									border=0></p>

<ol start=6
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p>Match fields from the <span style="font-weight: bold;">Application 
 Form</span> field to those in the <span style="font-weight: bold;">Document 
 Attributes</span> by selecting them from the drop-down lists.</p></li>
	
	<li class=kadov-p><p>Click<img src="AddFieldMatchBtn.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 22px;
											height: 21px;
											float: none;
											border-style: none;
											border-style: none;"
									width=22
									height=21
									border=0> when done.</p></li>
	
	<li class=kadov-p><p>The matched pair is inserted into the <span style="font-weight: bold;">Mappings</span> 
 box.</p></li>
	
	<li class=kadov-p><p>Repeat process for more matches. </p></li>
</ol>

<p style="margin-left: 32px;"><img src="MappingsBox.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 440px;
											height: 204px;
											float: none;
											border-style: none;
											border-style: none;"
									width=440
									height=204
									border=0></p>

<ol start=10
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p>To delete a match from the <span style="font-weight: bold;">Mappings</span> 
 box click <img src="DeleteMatchFldBtn.jpg"
				x-maintain-ratio=TRUE
				style="border: none;
						width: 22px;
						height: 21px;
						float: none;
						border-style: none;
						border-style: none;"
				width=22
				height=21
				border=0>. To move a match one step up in the list of matches 
 in the <span style="font-weight: bold;">Mappings</span> box select it 
 and click <img src="MoveUpMatchBtn.jpg"
				x-maintain-ratio=TRUE
				style="border: none;
						width: 21px;
						height: 22px;
						float: none;
						border-style: none;
						border-style: none;"
				width=21
				height=22
				border=0>. To move a match one step down in the list of 
 matches in the <span style="font-weight: bold;">Mappings</span> box select 
 it and click <img src="MoveDnMatchBtn.jpg"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 21px;
							height: 21px;
							float: none;
							border-style: none;
							border-style: none;"
					width=21
					height=21
					border=0>.</p></li>
	
	<li class=kadov-p><p>Click <span style="font-weight: bold;">Finish</span> 
 when done.</p></li>
</ol>

<h2>To change an index</h2>

<ol style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p>Click the <span style="font-weight: bold;">Change 
 Index</span> link from the <span style="font-weight: bold;">Manage Integration</span> 
 menu.</p></li>
	
	<li class=kadov-p><p>The list of documents used for integration are 
 displayed.</p></li>
</ol>

<p style="margin-left: 32px;"><img src="ListofDocIntegrated.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 394px;
											height: 339px;
											float: none;
											border-style: none;
											border-style: none;"
									width=394
									height=339
									border=0></p>

<ol start=3
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p>Select the document integration to change and 
 click <span style="font-weight: bold;">Next</span>.</p></li>
	
	<li class=kadov-p><p>The <span style="font-weight: bold;">Mappings</span> 
 box along with the drop-downs for <span style="font-weight: bold;">Application 
 Form Fields</span> and <span style="font-weight: bold;">Document Attributes</span> 
 appear as it did when you added the matches.</p></li>
	
	<li class=kadov-p><p>Edit, delete or add matches and when done click 
 <span style="font-weight: bold;">Finish</span>.</p></li>
</ol>

<h2>To remove an index</h2>

<ol style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p>Click the <span style="font-weight: bold;">Remove</span> 
 <span style="font-weight: bold;">Index</span> link from the <span style="font-weight: bold;">Manage 
 Integration</span> menu.</p></li>
	
	<li class=kadov-p><p>The list of documents used for integration are 
 displayed.</p></li>
</ol>

<p style="margin-left: 32px;"><img src="ListofDocIntegrated2.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 444px;
											height: 262px;
											float: none;
											border-style: none;
											border-style: none;"
									width=444
									height=262
									border=0></p>

<ol start=3
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p>Select the documentation integration to remove 
 and click <span style="font-weight: bold;">Finish</span>.</p></li>
</ol>

<p>&nbsp;</p>

<!--kadov_tag{{<placeholder id="footer">}}-->
</body>

</html>
