<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>E-mailing Files</title>

<!--(Meta)==========================================================-->

<meta name="template" content="Copyright.htt">
<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=date content="11 16, 2001 6:56:45 PM">
<meta name=generator content="Adobe RoboHelp - www.adobe.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=1438>
<meta name=layout-width content=897>


<!--(Links)=========================================================-->

<link rel="StyleSheet" href="Application Help.css">



</head>

<!--(Body)==========================================================-->


<body>

<h1>E-mailing files</h1>

<p style="margin-left: 0px;">docAssist™ provides convenient e-mailing of 
 documents to recipients. With the use of an included toolbar <img src="images/MassAction_toolbar.jpg"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 147px;
			height: 21px;
			float: none;
			border-style: none;
			border-style: none;"
	width=147
	height=21
	border=0> , multiple files can be e-mailed in one instance.</p>

<h2>To e-mail documents </h2>

<ol style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">Select the folder or 
 subfolder in the <span style="font-weight: bold;">Cabinets and Folders 
 tree</span> whose file or files you wish to e-mail. In the example below, 
 the &quot;Employment Policies&quot; folder of the &quot;Human Resources&quot; 
 cabinet is selected.</p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">docAssist™ reads the 
 contents of the folder and displays the files in the <span style="font-weight: bold;">Details</span> 
 pane:</p></li>
</ol>

<p style="margin-left: 40px;"><img src="images/DetailsPane2.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 705px;
											height: 87px;
											float: none;
											border-style: none;
											border-style: none;"
									width=705
									height=87
									border=0></p>

<ol start=3
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">Select the file(s) you 
 wish to e-mail by clicking on the checkbox associated with each of them. 
 Selected files will highlight yellow and its checkbox checked:</p></li>
</ol>

<p style="margin-left: 0px;"><img src="images/DetailsPane4.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 704px;
											height: 86px;
											float: none;
											margin-left: 36px;
											border-style: none;
											border-style: none;"
									width=704
									height=86
									border=0></p>

<ol start=4
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">If you wish to check 
 all files in the folder, <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->click 
 on the <img src="images/MassAction_all.jpg"
			x-maintain-ratio=TRUE
			style="border: none;
					width: 25px;
					height: 16px;
					float: none;
					border-style: none;
					border-style: none;"
			width=25
			height=16
			border=0> <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->button. 
 To un-check all previously selected files, <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->click 
 on the <img src="images/MassAction_None.jpg"
			x-maintain-ratio=TRUE
			style="border: none;
					width: 33px;
					height: 17px;
					float: none;
					border-style: none;
					border-style: none;"
			width=33
			height=17
			border=0> <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->button.</p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">From the toolbar click 
 on the <img src="images/MassAction_email.jpg"
			x-maintain-ratio=TRUE
			style="border: none;
					border-style: none;
					width: 17px;
					height: 19px;
					float: none;
					border-style: none;"
			width=17
			height=19
			border=0> <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->button.</p></li>
</ol>

<ol start=6
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">The <span style="font-weight: bold;">E-mail/Download</span> 
 web dialog is displayed:</p></li>
</ol>

<p style="margin-left: 40px;"><img src="images/emailexportwebdg.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											border-style: none;
											width: 838px;
											height: 614px;
											float: none;
											border-style: none;"
									width=838
									height=614
									border=0></p>

<ol start=7
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">Fill the fields of the 
 dialog with the appropriate information. </p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">Check the <span style="font-weight: bold;">Copy 
 me on this message</span> checkbox to send a copy to the sender of the 
 e-mail.</p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">Click <span style="font-weight: bold;">Send 
 </span>to send the e-mail along with the selected files to the recipient(s) 
 in the <span style="font-weight: bold;">To</span>, <span style="font-weight: bold;">cc</span> 
 and <span style="font-weight: bold;">bcc</span> fields.</p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">If the message was sent 
 successfully a confirmation message is displayed.</p></li>
</ol>

<p style="margin-left: 40px;"><img src="images/MessSuccSentconf.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 227px;
											height: 126px;
											float: none;
											border-style: none;
											border-style: none;"
									width=227
									height=126
									border=0></p>

<ol start=11
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p style="margin-left: 0px;">Click <span style="font-weight: bold;">OK</span> 
 to return to the <span style="font-weight: bold;">Details</span> pane.</p></li>
</ol>

<p style="margin-left: 0px;">&nbsp;</p>

<!--kadov_tag{{<placeholder id="footer">}}-->
</body>

</html>
