<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Getting Started Help Page</title>

<!--(Meta)==========================================================-->

<meta name="template" content="Copyright.htt">
<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=date content="11 16, 2001 6:56:45 PM">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=585>
<meta name=layout-width content=741>


<!--(Links)=========================================================-->

<link rel="StyleSheet" href="Application Help.css">



<!--(Style Sheet)===================================================-->

<style>
<!--

body {
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	border-bottom-style: none;
}

-->
</style>


</head>

<!--(Body)==========================================================-->


<body>

<h1>Getting Started Help</h1>

<p style="margin-left: 0px;">This screen on the <span style="font-weight: bold;">Details</span> 
 pane <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->with 
 a list of easy to get started helpful topics appears every time you login 
 to docAssist. If other content is displayed scroll down the page to view 
 the Getting Started help.</p>

<p style="margin-left: 0px;"><img src="DetailsPane1.jpg"
									x-maintain-ratio=TRUE
									style="width: 703px;
											height: 416px;
											border-left-style: Solid;
											border-left-width: 1px;
											border-right-style: Solid;
											border-right-width: 1px;
											border-top-style: Solid;
											border-top-width: 1px;
											border-bottom-style: Solid;
											border-bottom-width: 1px;
											float: none;"
									width=703
									height=416
									border=1></p>

<p style="margin-left: 0px;">Additional help videos and help sources are 
 listed under the <span style="font-weight: bold;">help</span> link on 
 the top right corner of the home page.</p>

<p>&nbsp;</p>

<!--kadov_tag{{<placeholder id="footer">}}-->
</body>

</html>
