<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Scan Documents</title>

<!--(Meta)==========================================================-->

<meta name="template" content="Copyright.htt">
<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=date content="11 16, 2001 6:56:45 PM">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=398>
<meta name=layout-width content=741>


<!--(Links)=========================================================-->

<link rel="StyleSheet" href="Application Help.css">



</head>

<!--(Body)==========================================================-->


<body>

<h1>Scanning Documents</h1>

<p style="margin-left: 0px;">You can scan a variety of documents (.pdf, 
 .tif, .tiff) into docAssist using a TWAIN compliant scanner, to import 
 documents imaged on other devices like fax systems and multi-function 
 scanners. You can also import PDF and TIF images to convert them into 
 imaged pages within docAssist. </p>

<p style="margin-left: 0px;">To learn more about scanning and uploading 
 documents refer <span style="font-weight: bold;">The Scan Page</span> 
 chapter under the <span style="font-weight: bold;">Using docAssist</span> 
 book or click <a href="Viewing_and_Adding_Applications_.htm">here</a> 
 to go to the first topic under the chapter.</p>

<p style="margin-left: 0px;">Once you scan a document via the scan tab 
 they will viewable using the view tab and will support the use of the 
 annotation and redaction tools.</p>

<p style="margin-left: 0px;">&nbsp;</p>

<!--kadov_tag{{<placeholder id="footer">}}-->
</body>

</html>
