<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>The document Thumbnails panel</title>

<!--(Meta)==========================================================-->

<meta name="template" content="Copyright.htt">
<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=date content="11 16, 2001 6:56:45 PM">
<meta name=generator content="Adobe RoboHelp - www.adobe.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=612>
<meta name=layout-width content=658>


<!--(Links)=========================================================-->

<link rel="StyleSheet" href="Application Help.css">



</head>

<!--(Body)==========================================================-->


<body>

<h1>The document Thumbnails panel</h1>

<p style="margin-left: 0px;">The various parts of the <span style="font-weight: bold;">View</span> 
 page are described in the following sections below</p>

<h2>The document Tnumbnails panel</h2>

<p style="margin-left: 0px;"><img src="DocumentThumbnails.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 209px;
											height: 395px;
											float: none;
											border-style: none;
											border-style: none;"
									width=209
									height=395
									border=0></p>

<p style="margin-left: 0px;">If the document has more documents that can 
 be displayed as thumbnails in the <span style="font-weight: bold;">document 
 Thumbnails</span> panel, they can be viewed by clicking the appropriate 
 set of thumbnails from the <span style="font-weight: bold;">Jump to Page</span> 
 <img src="JumpToPageDropDwn.jpg"
		x-maintain-ratio=TRUE
		style="border: none;
				width: 149px;
				height: 22px;
				float: none;
				border-style: none;
				border-style: none;"
		width=149
		height=22
		border=0> drop-down list. </p>

<p style="margin-left: 0px;">To collapse and hide the <span style="font-weight: bold;">document 
 Thumbnails</span> panel and dock click the collapse <img src="CollapseButton.jpg"
															x-maintain-ratio=TRUE
															style="border: none;
	width: 15px;
	height: 15px;
	float: none;
	border-style: none;
	border-style: none;"
															width=15
															height=15
															border=0> <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->button 
 on the panel. Click the button again to display the panel.</p>

<!--kadov_tag{{<placeholder id="footer">}}-->
</body>

</html>
