<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Types of Documents docAssist supports</title>

<!--(Meta)==========================================================-->

<meta name="template" content="Copyright.htt">
<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=date content="11 16, 2001 6:56:45 PM">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=398>
<meta name=layout-width content=741>


<!--(Links)=========================================================-->

<link rel="StyleSheet" href="Application Help.css">



</head>

<!--(Body)==========================================================-->


<body>

<h1>Types of Document docAssist supports</h1>

<p style="margin-left: 0px;">The following files or file types are supported 
 by docAssist:</p>

<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p><p>docAssist can import, convert, and display .tif, 
 .tiff, .pdf documents as imaged documents as well as capture from any 
 TWAIN compliant scanner.</p></li>
	
	<li class=kadov-p><p>docAssist can also store any PC file (word, excel, 
 .cad, .pdf, etc.)</p></li>
</ul>

<p>&nbsp;</p>

<!--kadov_tag{{<placeholder id="footer">}}-->
</body>

</html>
