<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Introduction to Scanning and Importing documents</title>

<!--(Meta)==========================================================-->

<meta name="template" content="Copyright.htt">
<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=date content="11 16, 2001 6:56:45 PM">
<meta name=generator content="Adobe RoboHelp - www.adobe.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=629>
<meta name=layout-width content=658>


<!--(Links)=========================================================-->

<link rel="StyleSheet" href="Application Help.css">



</head>

<!--(Body)==========================================================-->


<body>

<h1>Introduction to Scanning and Importing documents</h1>

<p style="margin-left: 0px;">The scanning tab is used to scan paper documents 
 using a connected TWAIN compliant scanner, to import documents imaged 
 on other devices like fax systems and multi-function scanners. You can 
 also import PDF and TIF images to convert them into imaged pages within 
 docAssist. All documents added to the system via the scan tab will viewable 
 using the view tab and support the use of the annotation and redaction 
 tools.</p>

<h2>To scan a document</h2>

<ol style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p>Click the <span style="font-weight: bold;">Scan</span> 
 tab on the home page. The Scan page opens.</p></li>
</ol>

<p style="margin-left: 32px;"><img src="ScanPageScreenShot.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 512px;
											height: 369px;
											float: none;
											border-style: none;
											border-style: none;"
									width=512
									height=369
									border=0></p>

<p style="margin-left: 0px;">The Scan page contains three panels. A Scan 
 and Upload documents panel on the left, a middle panel that allows editing 
 and navigating the uploaded document and an attributes panel on the right.</p>

<p style="margin-left: 0px;">The panels and the toolbars are explained 
 in subsequent topics.</p>

<!--kadov_tag{{<placeholder id="footer">}}-->
</body>

</html>
