<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Welcome</title>

<!--(Meta)==========================================================-->

<meta name="template" content="Copyright.htt">
<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=date content="11 16, 2001 6:18:48 PM">
<meta name=topic-status content="In Progress">
<meta name=topic-priority content=0>
<meta name=topic-time-estimate content=0>
<meta name=topic-comment content>
<meta name=topic-id content=Welcome>
<meta name=generator content="Adobe RoboHelp - www.adobe.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=2208>
<meta name=layout-width content=658>


<!--(Links)=========================================================-->

<link rel="StyleSheet" href="Application Help.css">



</head>

<!--(Body)==========================================================-->


<body>

<h1><img src="images/docassistlogo.png"
		x-maintain-ratio=TRUE
		style="border: none;
				width: 167px;
				height: 61px;
				float: none;
				border-style: none;"
		width=167
		height=61
		border=0></h1>

<h1 style="font-family: 'Trebuchet MS', sans-serif;">Welcome to the <!--kadov_tag{{<ignored>}}-->docAssist<!--kadov_tag{{</ignored>}}--> 
 Hosted Management, <!--kadov_tag{{<ignored>}}-->Workflow<!--kadov_tag{{</ignored>}}--> 
 and Print on Demand system</h1>

<p style="margin-bottom: 6px; margin-left: 0px;">docAssist™ is an online 
 application that helps you store and retrieve documents from an online 
 repository easily and securely. With docAssist™ you can securely store 
 scans, faxes, and PC files and securely access them online. docAssist™ 
 provides seamless integration with a variety of business applications 
 making it easy to access the document you need quickly.</p>

<p style="margin-left: 12px; margin-bottom: 6px;">&nbsp;</p>

<h2 style="font-family: 'Trebuchet MS', sans-serif;">What it does - </h2>

<ul style="list-style: disc;"
	type=disc>
	
	<li style="margin-left: -20px;"
		class=kadov-p><p style="margin-left: 12px;
								margin-bottom: 6px;
								font-family: 'Trebuchet MS', sans-serif;">docAssist™ 
 is an online application that helps network administrators, developers 
 and end-users to store and retrieve documents from an online repository 
 easily and securely. The source of the documents could be in a variety 
 of formats and docAssist <!--kadov_tag{{<ignored>}}-->seamlessly<!--kadov_tag{{</ignored>}}--> 
 integrates with a variety of applications. </p></li>
</ul>

<h2 style="font-family: 'Trebuchet MS', sans-serif;">&nbsp;</h2>

<h2 style="font-family: 'Trebuchet MS', sans-serif;">Overall features and 
 benefits - </h2>

<h2>Capture and Store</h2>

<p style="margin-left: 0px; font-weight: bold;">Secure Capture, Storage, 
 &amp; Retrieval</p>

<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p><p style="margin-left: 0px;">docAssist™ makes your 
 transition from paper to digital document management easy by offering 
 flexible capture, storage and retrieval options.</p></li>
</ul>

<p style="margin-left: 0px;"><span style="font-weight: bold;">Store any 
 document with docAssist</span> </p>

<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p><p style="margin-left: 0px;">docAssist™ stores both 
 imaged documents (scans) and native windows documents like Word, Excel 
 and PDF files (with built-in version control).Now there is one easy and 
 affordable solution for all your document management needs.</p></li>
</ul>

<p style="font-weight: bold; margin-left: 0px;">Folders &amp; Cabinets</p>

<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p><p style="margin-left: 0px;">Browse documents like 
 you do on your desktop with separate security rights and favorites for 
 quick and easy access.</p></li>
</ul>

<p style="margin-left: 0px; font-weight: bold;">Scan, save, print or fax</p>

<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p><p style="margin-left: 0px;">Capture paper documents 
 with any TWAIN compliant scanner or fax machine including multi-function 
 scanners and high speed feeder machines. You can even capture digital 
 documents by printing them directly to docAssist™ with our virtual printer.</p></li>
</ul>

<p style="margin-left: 0px; font-weight: bold;">Secure and accessible</p>

<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p><p style="margin-left: 0px;">Whether your documents 
 are being viewed by your sales rep. in Tokyo or by the accounts payable 
 manager down the hall, docAssist™ ensures your security. Your hosted documents 
 are transferred using the industry standard encrypted SSL technology and 
 128-bit encryption. docAssist™ offers the flexibility to define your own 
 user security model and control document access, modification, output 
 and deletion based on document type and the individual user.</p></li>
</ul>

<h2>Index and Comment</h2>

<p style="margin-left: 0px;"><span style="font-weight: bold; font-family: 'Trebuchet MS', sans-serif;">Intelligent 
 Document Indexing</span></p>

<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p><p style="margin-left: 0px;">docAssist™ makes extracting 
 key information from your stored documents a snap. Index important data 
 like invoice numbers or vendor codes by simply choosing the attribute 
 you'd like to populate and then selecting the region of the document that 
 contains the value; no data entry required!</p></li>
</ul>

<p style="font-weight: bold; margin-left: 0px;">Full-text and parametric 
 search</p>

<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p><p style="margin-left: 0px;">docAssist™ automatically 
 scans every document you save to create full-text searchable data. This 
 means you can search for any word, in any document in your repository, 
 not just the attributes you have predefined!</p></li>
</ul>

<p style="margin-left: 0px; font-weight: bold;">SmartScan™ Automates Data 
 Entry</p>

<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p><p style="margin-left: 0px;">Reduce data entry errors 
 and increase throughput with SmartScan™. docAssist's SmartScan™ feature 
 automates data entry by allowing you to select any region of your document 
 and automatically copy the text into an attribute.</p></li>
</ul>

<p style="margin-left: 0px; font-weight: bold;">Tag documents for easy 
 single-click searches</p>

<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p><p style="margin-left: 0px;">docAssist supports tagging 
 your documents. Tagging refers to the ability to add free form keywords 
 to your document. Whenever you see one of these keywords in the Explorer 
 you can search for all related documents with one click! </p></li>
</ul>

<p style="margin-left: 0px; font-weight: bold;">Annotate and Redact documents</p>

<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p><p style="margin-left: 0px;">Use docAssist's annotation 
 tools to add valuable notes for others to see or, use the redaction engine 
 to protect sensitive information.</p></li>
</ul>

<h2>Integrate and Retrieve</h2>

<p style="margin-left: 0px;"><span style="font-weight: bold; font-family: 'Trebuchet MS', sans-serif;">Seamless 
 Application Integration</span></p>

<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p><p style="margin-left: 0px;">docAssist™ provides 
 instant compatibility with all of your existing and future business applications 
 with the power of single-click desktop integration. Imagine opening a 
 vendor record in your ERP system and, with a single click, displaying 
 every invoice the vendor has ever sent you.</p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">docAssist™ integrates 
 with virtually any windows business application in minutes and creates 
 a direct connection between your data and your documents.</p></li>
</ul>

<p style="margin-left: 0px; font-weight: bold;">Single-click data integration</p>

<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p><p style="margin-left: 0px;">Configuring integration 
 with your existing applications takes minutes and provides a cost-effective 
 solution that delivers immediate return on your investment. docAssist™ 
 integrates with many products produced by major software vendors including 
 Microsoft, Sage Software, Epicor, SAP, and Oracle just to name a few. 
 Integration provides a direct link between fields in your business applications 
 and the data in docAssist™ increasing efficiency, cutting down on data 
 entry and saving you money.</p></li>
</ul>

<p style="margin-left: 0px; font-weight: bold;">Avoid costly data entry 
 errors</p>

<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p><p style="margin-left: 0px;">docAssist™ also ingrates 
 with all your existing business software. Need to add attributes to a 
 new invoice that you just scanned? Go to your accounting package, bring 
 up the invoice record and click the docAssist™ button; your invoice number 
 and vendor code are automatically copied from your record into the correct 
 fields in docAssist™. Best of all you now have a direct link between your 
 accounting software and the documents stored in docAssist™. </p></li>
</ul>

<h2 style="font-family: 'Trebuchet MS', sans-serif;">Route and Approve</h2>

<p style="margin-left: 0px; font-weight: bold;">Flexible Workflow Engine</p>

<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p><p style="margin-left: 0px;">docAssist™ not only 
 faithfully enforces your existing business procedures, but it gives you 
 options that were out-of-reach with paper-based processes. <span style="font-family: 'Trebuchet MS', sans-serif;">Speed 
 processes, empower collaboration, and enforce compliance with docAssist™ 
 workflow!</span></p></li>
</ul>

<p style="margin-left: 0px; font-weight: bold;">Route, review and approve 
 anytime or anywhere</p>

<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p><p style="margin-left: 0px;">The docAssist™ workflow 
 engine allows you to easily map your existing paper processes to the digital 
 domain so approvals are no longer restricted by geography or time zones. 
 Complete the same approval process faster with no fear of lost documents 
 or aborted procedures. docAssist™ also allows you to set notification 
 levels for any workflow to automatically send email alerts and reminders. 
 </p></li>
</ul>

<p style="margin-left: 0px; font-weight: bold;">Control access without 
 slowing processing</p>

<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p><p style="margin-left: 0px;">Every workflow allows 
 for strict control of document access at a user and document level. Also, 
 using our redaction technology, you can black-out sensitive portions of 
 any document for one user while giving another full access.</p></li>
</ul>

<p style="font-weight: bold; margin-left: 0px;">The workflow dashboard 
 makes reviewing easy</p>

<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p><p style="margin-left: 0px;">Every document you need 
 to review is only a click away with the workflow dashboard. No more lost 
 documents or misplaced folders means faster processing and cost savings 
 for you business.</p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">Track your open workflows 
 in one window with an aging and routing overview. Each document has a 
 workflow history and comments so you never have to wonder who is sitting 
 on something or why.</p></li>
</ul>

<h2 style="font-family: 'Trebuchet MS', sans-serif;">Automate and Output</h2>

<p style="margin-left: 0px; font-weight: bold;">Automated Document Output</p>

<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p><p style="margin-left: 0px;">docAssist™ doesn't just 
 help you store and retrieve documents but also gives your company amazing 
 output options with docAssemble™, our automated document linking and output 
 system.</p></li>
</ul>

<p style="margin-left: 0px; font-weight: bold;">docAssemble™ in action</p>

<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p><p style="margin-left: 0px;">Imagine, at the time 
 of printing an order, automatically generating the regulatory documents 
 associated with each product on the order, a special addendum to one of 
 the products instructions manuals and a marketing flyer designed to cross-sell 
 a follow-up product! That's the power of docAssemble™.</p></li>
</ul>

<p style="margin-left: 0px; font-weight: bold;">Fulfillment made easy</p>

<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p><p style="margin-left: 0px;">Use docAssemble to reduce 
 document storage for pick-pack-and-ship, save time on order assembly and 
 drastically reduce errors over manually printing and assembling documents 
 by automating document creation at the time of fulfillment.</p></li>
</ul>

<p style="margin-left: 0px; font-weight: bold;">Flexible output, automatically</p>

<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p><p style="margin-left: 0px;">docAssemble uses all 
 the options of your printer to allow for incredible output flexibility.</p></li>
	
	<li class=kadov-p><p style="margin-left: 0px;">Choose which documents 
 print in color, in low resolution, with or without collating or stapling 
 options or even on another printer at a different site. docAssemble isn't 
 just about printing; you can even choose to have your documents e-mailed 
 or faxed.</p></li>
</ul>

<h2 style="font-family: 'Trebuchet MS', sans-serif;">Target </h2>

<ul style="list-style: disc;"
	type=disc>
	
	<li style="margin-left: -20px;"
		class=kadov-p><p style="margin-left: 12px;
								margin-bottom: 6px;
								font-weight: normal;
								font-family: 'Trebuchet MS', sans-serif;">Network 
 and IT Administrators, Developers, End-users and anyone who is involved 
 with file storage and retrieval online.</p></li>
</ul>

<p style="margin-left: 12px;
			margin-bottom: 6px;
			font-weight: normal;">&nbsp;</p>

<!--kadov_tag{{<placeholder id="footer">}}-->
</body>

</html>
