body
{
	font-size: 10pt;
	font-family:  Helvetica, "Lucida Grande", Verdana, sans-serif, Georgia, Arial;
	margin: 10px;
}

h1
{
	font-weight: bold;
	font-size: 14pt;
	color: #bd0000;
}

h2
{
	font-weight: normal;
	font-size: 11pt;
	color: black;
}

input
{
	padding:5px;
	height:30px;
	font-size: 14px;
	font-family:  Verdana, Georgia, "Lucida Grande", Arial, Helvetica, sans-serif;
}

select
{
	font-size: 14px;
	font-family:  Verdana, Georgia, "Lucida Grande", Arial, Helvetica, sans-serif;
	border-right: gray thin solid;
	border-top: gray thin solid;
	border-left: gray thin solid;
	border-bottom: gray thin solid;
}

label
{
	font-weight: bold;
	font-size: 14px;
	padding-bottom: 4px;
	color: #666;
	padding-top: 4px;
	vertical-align:bottom;
}

textarea
{
	font-family:  Verdana, Georgia, "Lucida Grande", Arial, Helvetica, sans-serif;
}	

.labelError
{
	font-weight: bold;
	font-size: 14px;
	padding-bottom: 4px;
	vertical-align: bottom;
	color: red;
	padding-top: 4px;
}