
body {
	background-repeat: repeat-x;
	background-image: url(../images/background.gif);
	font-family: "Trebuchet MS",/*"Formata",*/ Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.welcome {
	font-family: "Trebuchet MS",/*"Formata",*/ Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
p {
	display: block;
	margin: 0px 0px 7px 0px;
	text-indent: 7px;
}
span#announce {
	display: block;
	margin: 0px 0px 3px 0px;
	font-size: 22px;
	font-weight: bold;
	color: #000000;
}
.price {
	font-weight: bold;
	color: #be0000;
}
div#tourtext {
	/*display: block;
	margin: 0px 30px 0px 30px;*/
}
div#tourtext h1 {
	display: block;
	margin: 0px -5px 5px -5px;
	padding: 10px 5px 10px 5px;
	border-top: 1px dashed #be0000;
	border-bottom: 1px dashed #be0000;
	background-color: #f7f7f7;
	font-size: 16px;
	font-weight: bold;
	font-variant: small-caps;
	text-align:center;
	color: #000;
}

div#coretext h1 {
	display: block;
	font-size: 18px;
	font-weight: bold;
	color: #000;
}	
div#tourtext h2 {
	font-size: 11px;
	font-weight: normal;
	color: #666;
}
div#coretext .subhead {
	font-size: 12px;
	font-style:italic;
	color: #be0000;
}
div#coretext h2 {
	display: block;
	margin: 10px 0px 0px 0px;
	font-size: 11px;
	font-weight: bold;
	font-style:italic;
	color: #BE0000;
}

div#coretext p {
	font-size: 11px;
	color: #333;
}
div#coretext blockquote {
	display: block;	
	background-color: #EEE;
	padding: 12px;
	margin: 0px 0px 12px 12px;
	width: 50%;
	text-align:center;
	font-size: 13px;
	font-style:italic;
	color: #000;
}
div#footertext {
	clear: both;
	font-size: 10px;
	color: #999999;
	text-align: center;
	margin: 20px;
}
	
/* default Link Styles */
a:link {
	color: #333;
}

a:visited {
	color:	#666;
}

a:hover {
	color: #BE0000;
}

a:active {
	color: #666;
}


