BODY
{
	margin: 0;
	padding: 5;
	font-family: Helvetica, Geneva, Arial, sans-serif;
	font-size: 12pt;
}

H1
{
	font-weight: bold;
	font-size: 21pt;
	color: #bd0000;
	padding-top: 10px;
	vertical-align:middle;
}

H2
{
	font-size: 13pt;
	color: dimgray;
}

H3
{
	padding-right: 0px;
	padding-left: 10px;
	font-size: 9pt;
	padding-bottom: 0px;
	margin: 0px;
	line-height: 15px;
	padding-top: 0px;
}

.caption
{
	font-family: 'Trebuchet MS';
	font-size: 10pt;
}

label{
	font-weight: bold;
	font-size: 14px;
	padding-bottom: 4px;
	color: #666;
	padding-top: 4px;
}

A
{
	font-weight: bold;
	cursor: hand;
	color: #bd0000;
	text-decoration: none;
}

A:hover
{
	font-weight: bold;
	cursor: hand;
	color: white;
	background-color: #bd0000;
	text-decoration: none;
}

A IMG
{
	background-color: #ffffff;
}

A IMG:hover
{
	background-color: transparent;
}

INPUT
{
	/*
	font-size: 9pt;
	border-right: #b0b0b0 1px solid;
	border-top: #b0b0b0 1px solid;
	border-left: #b0b0b0 1px solid;
	border-bottom: #b0b0b0 1px solid;
*/
	font: 13px "Lucida Grande", Verdana;
	height: 25px;
	border-right: #999 1px solid;
	border-top: #999 1px solid;
	padding-right: 4px;
	padding-left: 4px;
	padding-top: 4px;
	padding-bottom: 3px;
	overflow: hidden;
	border-left: #999 1px solid;
	border-bottom: #999 1px solid;
	
}

.error
{
	font-weight: bold;
	font-size: small;
	color: #bd0000;
}

.lines
{
	border-right: #999 1px solid;
	border-top: #999 1px solid;
	border-left: #999 1px solid;
	border-bottom: #999 1px solid;
	}

TD input
{
	border:none;
}

input.checkbox
{ 
	border:0px;
}

input.radio
{ 
	border:0px;
}

.inputError
{
	border-right: #ff0033 1px solid;
	border-top: #ff0033 1px solid;
	border-left: #ff0033 1px solid;
	border-bottom: #ff0033 1px solid;
}

LI INPUT, TEXTAREA
{
	font-size: 13pt;
	border-right: #b0b0b0 1px solid;
	border-top: #b0b0b0 1px solid;
	border-left: #b0b0b0 1px solid;
	border-bottom: #b0b0b0 1px solid;
}

LI TEXTAREA
{
	font-size: 13pt;
	border-right: #b0b0b0 1px solid;
	border-top: #b0b0b0 1px solid;
	border-left: #b0b0b0 1px solid;
	border-bottom: #b0b0b0 1px solid;
}

TEXTAREA
{
	font: 13px "Lucida Grande", Verdana;
	height: 25px;
	border-right: #999 1px solid;
	border-top: #999 1px solid;
	padding-right: 4px;
	padding-left: 4px;
	padding-top: 4px;
	padding-bottom: 3px;
	overflow: auto;
	border-left: #999 1px solid;
	border-bottom: #999 1px solid;
}

TD
{
	font-size: 9pt;
}

.NoBorder
{
	border:none;
}

SELECT
{
	font-family: Helvetica, Geneva, Arial, sans-serif;
	font-size: 9pt;
	border-right: #b0b0b0 1px solid;
	border-top: #b0b0b0 1px solid;
	border-left: #b0b0b0 1px solid;
	border-bottom: #b0b0b0 1px solid;
}

TEXTAREA
{
	font-family: Helvetica, Geneva, Arial, sans-serif;
	font-size: 10pt;
	border-right: #b0b0b0 1px solid;
	border-top: #b0b0b0 1px solid;
	border-left: #b0b0b0 1px solid;
	border-bottom: #b0b0b0 1px solid;
}

.oddRow
{
	background-color: gainsboro;
}

.selected
{
	background-color: gainsboro;
}

/* step style */
#step {
	margin: 10px 0 40px;
	padding: 0;
}

#step li {
	padding: 3px 0 6px 110px;
	margin: 0 0 20px;
	list-style: none;
}

#step img
{
	/*
	border-right: #bd0000 4px solid;
	padding-right: 4px;
	border-top: #bd0000 4px solid;
	padding-left: 4px;
	padding-bottom: 4px;
	border-left: #bd0000 4px solid;
	padding-top: 4px;
	border-bottom: #bd0000 4px solid;
	*/
}


#step .item1 {
	background: url(../images/step1.png) no-repeat;
}

#step .item2 {
	background: url(../images/step2.png) no-repeat;
}

#step .item3 {
	background: url(../images/step3.png) no-repeat;
}

#step .item4 {
	background: url(../images/step4.png) no-repeat;
}

#step .item5 {
	background: url(../images/step5.png) no-repeat;
}

/* number style */
#number {
	margin: 10px 0 20px;
	padding: 0;
}
#number li {
	padding: 3px 0 6px 55px;
	margin: 0 0 0px;
	list-style: none;
}

#number .item1 {
	background: url(../images/number1.png) no-repeat;
}
#number .item2 {
	background: url(../images/number2.png) no-repeat;
}
#number .item3 {
	background: url(../images/number3.png) no-repeat;
}

#number .item4 {
	background: url(../images/number4.png) no-repeat;
}

#number .item5 {
	background: url(../images/number5.png) no-repeat;
}

/* number style */
#commentlist {
	margin: 10px 0 40px;
	padding: 0;
}
#commentlist li {
	padding: 10px 0 20px;
	list-style: none;
	border-top: solid 1px #ccc;
	position: relative;
}
#commentlist cite {
	font: bold 140%/110% Arial, Helvetica, sans-serif;
	color: #666;
}
#commentlist .time {
	color: #ccc;
	margin: 0 0 10px;
}
#commentlist .commentnumber {
	position: absolute;
	right: 0;
	top: 8px;
	font: normal 200%/100% Georgia, "Times New Roman", Times, serif;
	color: #ccc;
}

/* Start custom button CSS here
---------------------------------------- */
.btn {
    display:inline-block;
    background:none;
    margin:0;
    padding:3px 0;
    border-width:0;
    overflow:visible;
    font:100%/1.2 Arial,Sans-serif;
    text-decoration:none;
    color:#333;
    cursor:hand;
    }
* html button.btn {
    padding-bottom:1px;
    }
/* Immediately below is a temporary hack to serve the 
    following margin values only to Gecko browsers
    Gecko browsers add an extra 3px of left/right 
    padding to button elements which can't be overriden.
    Thus, we use -3px of left/right margin to overcome this. */
html:not([lang*=""]) button.btn {
    margin:0 -3px;
    }
.btn span {
	background:#ddd url(../images/bg-button.gif) repeat-x 0 0;
    margin:0;
    padding:3px 0;
    border-left:1px solid #bbb;
    border-right:1px solid #aaa;
    }
* html .btn span {
    padding-top:0;
    }
.btn span span {
    position:relative;
    padding:3px .4em;
    border-width:0;
    border-top:1px solid #bbb;
    border-bottom:1px solid #aaa;
    }

/* pill classes only needed if using pill style buttons ( LEFT | CENTER | RIGHT ) */
button.pill-l span {
    border-right-width:0;
    }
button.pill-l span span {
    border-right:1px solid #bbb;
    }
button.pill-c span {
    border-right-style:none;
    border-left-color:#fff;
    }
button.pill-c span span {
    border-right:1px solid #bbb;
    }
button.pill-r span {
    border-left-color:#fff;
    }

/* only needed if implementing separate hover/focus/active state for buttons */
.btn:hover span, .btn:hover span span, .btn:focus span, .btn:focus span span {
    cursor:pointer; /* important for any clickable/pressable element */
    border-color:#9cf !important;
    /*border-color:#bd0000 !important;*/
    color:#000;
    }
.btn:active span {
    background-position:0 -400px;
    outline:none;
    }
.btn:focus, .btn:active {
    outline:none; /* doesn't seem to be respected for <button>, only <a> */
    }

/* use if one button should be the 'primary' button */
.primary {
    font-weight:bold;
    color:#000;
}

.uploadYellow
{
	border-right: goldenrod 1px solid;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
	padding-top: 3px;
	margin: 0px;
	border-top: goldenrod 1px solid;
	font-size: 10pt;
	border-left: goldenrod 1px solid;
	border-bottom: goldenrod 1px solid;
	font-family: Verdana;
	background-color: #ffffcc;
}

.uploadGreen
{
	border-right: forestgreen 1px solid;
	padding-right: 3px;
	border-top: forestgreen 1px solid;
	padding-left: 3px;
	font-size: 10pt;
	padding-bottom: 3px;
	margin: 0px;
	border-left: forestgreen 1px solid;
	padding-top: 3px;
	border-bottom: forestgreen 1px solid;
	font-family: Verdana;
	background-color: #66cc33;
}

.uploadRed
{
	border-right: #bd0000 1px solid;
	padding-right: 3px;
	border-top: #bd0000 1px solid;
	padding-left: 3px;
	font-size: 10pt;
	padding-bottom: 3px;
	margin: 3px 0px 0px;
	border-left: #bd0000 1px solid;
	padding-top: 3px;
	border-bottom: #bd0000 1px solid;
	font-family: Verdana;
	background-color: #fef1ec;
}