body
{
	margin: 0px;
	font-size: x-small;
	font-family: 'Trebuchet MS';
}

/* Related Documents */
.relatedDocs
{
	width: 500px;
	margin: 0px;
}

.relatedDocs .docType
{
	vertical-align: bottom;
	background:#CCFFFF url(../Images/workflow_dashboard/dividerbar.gif);
	border-right: gray 1px solid;
	border-top: gray 1px solid;
	font-weight: bold;
	font-size: 9pt;
	border-left: gray 1px solid;
	text-indent: 10px;
	border-bottom: gray 1px solid;
	background-color: #d8e4ef;
}

.attributes .match
{
	color: #bd0000;
}

.relatedDocs .docRowEven
{
	font-size: 9pt;
	margin: 2px;
	vertical-align: top;
	cursor: hand;
	border-bottom: black 1px solid;
	background-color: whitesmoke;
}

.relatedDocs .docRow
{
	font-size: 9pt;
	margin: 2px;
	vertical-align: top;
	cursor: hand;
	border-bottom: black 1px solid;
	background-color: gainsboro;
}

.relatedDocs .attributes
{
	font-size: 9pt;
	vertical-align: top;
	text-indent:10px;
}

/* lightbox input forms */
.lb
{
	border-right: lightgrey 3px solid;
	border-top: lightgrey 3px solid;
	z-index: 6002;
	border-left: lightgrey 3px solid;
	border-bottom: lightgrey 3px solid;
	position: absolute;
	background-color: whitesmoke;
}

.lb body
{
	font-size: 12pt;
	margin-left: 10px;
}

.lb .title
{
	font: bold 22px Calibri, 'Gill Sans' , 'Lucida Grande' , Helvetica, sans-serif;
	color: black;
	letter-spacing: -1px;
	background-color: #eaf0f7;
}

.lb span
{
	border-right: dimgray 1px solid;
	padding-right: 3px;
	border-top: dimgray 1px solid;
	margin-top: 10px;
	padding-left: 3px;
	font-weight: bold;
	font-size: 15pt;
	border-left: dimgray 1px solid;
	cursor: hand;
	margin-right: 3px;
	border-bottom: dimgray 1px solid;
	font-family: Arial;
	background-color: #D8E4EF;
}

.lb .closeButton
{
	border-right: dimgray 1px solid;
	padding-right: 3px;
	border-top: dimgray 1px solid;
	margin-top: 10px;
	padding-left: 3px;
	font-size: 8pt;
	border-left: dimgray 1px solid;
	cursor: hand;
	margin-right: 3px;
	border-bottom: dimgray 1px solid;
	font-family: Arial;
	background-color: #D8E4EF;
}

.lb input
{
	font-size: 17pt;
}
