.textboxlist { font: 11px "Lucida Grande", Verdana; cursor: text; }
.textboxlist-bits { zoom: 1; overflow: hidden; margin: 0; padding: 3px 4px 0; border: 1px solid #999; *padding-bottom: 3px; }
.textboxlist-bit { list-style-type: none; float: left; display: block; padding: 0; margin: 0 5px 3px 0; cursor: default; }
.textboxlist-bit-editable { border: 1px solid #fff; }
.textboxlist-bit-editable-input
{
	border-right: 0px;
	padding-right: 0px;
	border-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	font: 11px "Lucida Grande" , Verdana;
	border-left: 0px;
	padding-top: 2px;
	border-bottom: 0px;
	height: 14px;
}
.textboxlist-bit-editable-input:focus { outline: 0; }
.textboxlist-bit-box { BORDER-RIGHT: #cad8f3 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #cad8f3 1px solid; PADDING-LEFT: 5px; BACKGROUND: gainsboro; PADDING-BOTTOM: 0px; BORDER-LEFT: #cad8f3 1px solid; CURSOR: default; LINE-HEIGHT: 18px; PADDING-TOP: 0px; BORDER-BOTTOM: #cad8f3 1px solid; POSITION: relative; -moz-border-radius: 9px; -webkit-border-radius: 9px; border-radius: 9px }
.textboxlist-bit-box-deletable { padding-right: 15px; }
.textboxlist-bit-box-deletebutton
{
	display: block;
	font-size: 1px;
	right: 4px;
	background: url(../Images/autocomplete_close.gif);
	width: 7px;
	position: absolute;
	top: 6px;
	height: 7px;
}
.textboxlist-bit-box-deletebutton:hover { border: none; background-position: 7px; text-decoration: none; }
.textboxlist-bit-box-hover
{
	background: darkgray;
	border-right: black 1px solid;
	border-top: black 1px solid;
	border-left: black 1px solid;
	border-bottom: black 1px solid;
}
.textboxlist-bit-box-focus
{
	background: darkgray;
	border-right: black 1px solid;
	border-top: black 1px solid;
	border-left: black 1px solid;
	border-bottom: black 1px solid;
}
.textboxlist-bit-box-focus .textboxlist-bit-box-deletebutton { background-position: bottom; }