﻿body
{
	margin: 0;
	font-family:Helvetica, Arial, Georgia;
	font-size:12px;
	color:#000000;
}

#inboxes
{
	float: left;
	width:350px;
	border: solid 1 black;
	/*padding: 5px;*/
	margin: 15 0 0 15;
}

.wf
{
	float: left;
	/*border: solid 1 black;*/
	background-color: #818285;
	width:100%;
	padding:5 3 3 15;
	font-weight:bold;
	font-size:14px;
	color:#ffffff;
}

.queue
{
	background-position: right;
	float: left;
	width: 100%; /*border: solid 1 black;*/
	background-color: LightGray;
	width: 100%;
	padding: 5 3 3 25;
	border-top: solid 1px grey;
	cursor: hand;
	background-image: 'url(' ./Images/right_arrow.png ')';
	color: #1c3c6e;
	background-repeat: repeat-x;
}

.queue3
{
	float: left;
	width: 100%;
	/*border: solid 1 black;*/
	background-color: LightGray;
	width:100%;
	padding:5 3 3 25;
	border-top:solid 1px grey;
	cursor:hand;
	background-image:'./images/right_arrow.png';
	color:#1c3c6e;
}