body {
	font:normal 76%/150% "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #000;
}

select
{
	font: x-small/150% "Trebuchet MS" , Verdana, Arial, Helvetica, sans-serif;
	color: #000;
}

.heading
{
	font-size: 10pt;
	font-family: 'Trebuchet MS' , Arial, Verdana;
}

.heading a
{
	font-size: 10pt;
	cursor: hand;
	color: #bd0000;
	font-family: 'Trebuchet MS' , Arial, Verdana;
	text-decoration: underline;
}


.workflowTable
{
	border-right: #999 1px solid;
	border-top: #999 1px solid;
	font-size: 0.7em;
	margin: 0px 0px 1em;
	border-left: #999 1px solid;
	color: #000;
	border-bottom: #999 1px solid;
	border-collapse: separate;
	border-spacing: 0;
}

.workflowTable table#sub {	
	border-top: 0px;
	border-bottom: 0px;
	border-right: 0px;
	border-left: 0px;
}
.workflowTable a {
	color:#BE0000;
	text-decoration:none;
	}
.workflowTable a:visited {
	color:#444;
	font-weight:normal;
	}
.workflowTable select
{
	font-size: 9pt;
	color: #000000;
	text-decoration: none;
}
.workflowTable a:visited:after {
	content:"\00A0\221A";
	}
.workflowTable a:hover {
	color: #333;
	}
.workflowTable tfoot th, .workflowTable tfoot td
{
	border-top: #ddd 1px solid;
	font-size: 0.8em;
	background: url(../Images/workflow_dashboard/footerbar.gif) repeat-x;
	color: #666;
}
.workflowTable tfoot th.searchResults{
	background: url(../Images/workflow_dashboard/headerbar.gif) repeat-x;
	font-size:.8em;
	border-top: 1px solid #DDD;
	color: #666;
	}
.workflowTable thead th#redbar {
	background-image:url(../Images/workflow_dashboard/red_menu_bar.gif);
	color: #ddd;
	font-size:1.1em;
	font-weight: bold;
}
.workflowTable thead th#redbar a {
	color: #fff;
	font-weight: bold;
}
.workflowTable thead th#redbar a:visited {
	color: #eee;
}
.workflowTable thead th#redbar a:visited:after {
	color:#ddd;
}
.workflowTable thead th#redbar a:hover {
	color:#ddd;
	border-bottom:1px solid #fff;
}
.workflowTable thead th#bar {
	background-image:url(../Images/workflow_dashboard/headerbar.gif);
	font-weight: bold;
	border:1px dotted #fff;
}
.workflowTable th {
	font-weight:bold;
	line-height:normal;
	padding:0.25em 0.5em;
	text-align:left;
	}
.workflowTable tbody th,
.workflowTable td {
	padding:0.25em 0.5em;
	text-align:left;
	vertical-align:top;
	}
.workflowTable tbody th {
	font-weight:normal;
	white-space:nowrap;
	}
.workflowTable tbody th a:link,
.workflowTable tbody th a:visited {
	font-weight:bold;
	}
.workflowTable tbody td,
tbody th {
	border: 1px solid #fff;
	border-width: 1px 0;
	}
.workflowTable tbody tr.odd th,
tbody tr.odd td {
	border-color:#EBE5D9;
	background:#F7F7F7;
	}
.workflowTable tbody tr.queue th,
tbody tr.queue td {
	border-color:#999;
	background:#CCFFFF url(../Images/workflow_dashboard/dividerbar.gif);
	}
.workflowTable tbody tr.oddsub th,
tbody tr.oddsub td{
	border-color:#F7F7F7;
	background:#F7F7F7;
	}

.workflowTable tbody tr:hover td,
.workflowTable tbody tr:hover th {
	background:#ffffee;
	border-color:#523A0B;
	}
	
.workflowTable tbody tr:hover td.queueNameMonitor,
tbody tr:hover td.queueName {
	border-color:#999;
	background:#CCFFFF url(../Images/workflow_dashboard/dividerbar.gif);
	}
.workflowTable tbody tr:hover td.titlebar 
{
	border-color:#fff;
	background:#fff;
	}
.workflowTable td#urgent {
	background: #FFFFFF url(../Images/workflow_dashboard/wf_urgent.gif) top center no-repeat;
}
.icon {
	text-align: center;
	vertical-align: middle;
}
.odd td#urgent {
	background: #F7F7F7 url(../Images/workflow_dashboard/wf_urgent.gif) top center no-repeat;
}

.workflowTable .hlt td#urgent {
	background: #ffffee url(../Images/workflow_dashboard/wf_urgent.gif) top center no-repeat;
	border-top: 1px solid #523A0B;  
	border-bottom: 1px solid #523A0B;  
}
caption {
	font-weight:normal;
	font-size:1.6em;
	text-align:left;
	margin:0;
	padding:0.5em 0.25em;
	color:#BE0000;
}

.workflowTable .hlt td {
	border-top: 1px solid #523A0B;  
	border-bottom: 1px solid #523A0B;  
}

	
.hlt td, .hlt th
{
	background: #ffffee;
}
         
.queueName {
	font-weight:normal;
}
.queueNameMonitor {
	color: #666;
	font-weight:normal;
	font-style:italic;
}
.viewOnly {
	font-style:italic;
	color: #666;
}
.viewOnly a {
	color:#666;
	text-decoration:none;
	}
.viewOnly a:visited {
	color:#444;
	font-weight:normal;
	}
.viewOnly a:visited:after {
	content:"\00A0\221A";
	}
.viewOnly a:hover {
	color: #BE0000;
	}
div#masminus img{
	float: left;
	padding-top: 1px;
	padding-right: 5px;
	vertical-align: middle;
}
div#masminus img{
	float: left;
	padding-top: 1px;
	padding-right: 5px;
	vertical-align: middle;
}
.title {
	font-weight: bold;
	font-size:large;
	color: #be0000;
}

.workflowDashboardMenu td, .workflowDashboardMenu tr, .workflowDashboardMenu table, .workflowDashboardMenu select, .workflowDashboardMenu input
{
	font-weight: normal;
	font-size: 8pt;
	line-height: normal;
	font-family: "Trebuchet MS";
}

.selectedTab
{
	border-right: #6382AD 1px solid;
	border-top: #6382AD 1px solid;
	font-weight: bold;
	border-left: #6382AD 1px solid;
	line-height: normal;
	font-family: "Trebuchet MS";
	background-color: #f4f8fb;
}

.unselectedTab
{
	border-bottom: #6382AD 1px solid;
	background-color: #d8e4ef;
}

.topNav
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}