<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Finding information in the Help</title>

<!--(Meta)==========================================================-->

<meta name="template" content="Copyright.htt">
<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=date content="11 16, 2001 6:56:45 PM">
<meta NAME=MS-HAID CONTENT="Using this Help system">
<meta name=topic-status content="In Progress">
<meta name=topic-priority content=0>
<meta name=topic-time-estimate content=0>
<meta name=topic-comment content>
<meta name=topic-id content="Using left-hand tabs">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=398>
<meta name=layout-width content=741>


<!--(Links)=========================================================-->

<link rel="StyleSheet" href="..\Application Help.css">



</head>

<!--(Body)==========================================================-->


<body>

<h1>Finding information in the Help</h1>

<p style="margin-left: 0px;">You can find information in the Help in several 
 ways.</p>

<h2>To find information in the online Help:</h2>

<p style="margin-left: 0px;">1. <!--kadov_tag{{<spaces>}}-->&nbsp;&nbsp;<!--kadov_tag{{</spaces>}}-->From 
 the <span style="font-weight: bold;">Help</span> menu, click the <span 
 style="font-weight: bold;">Contents &amp; Index </span><span>tab</span>.</p>

<p style="margin-left: 0px;">2. <!--kadov_tag{{<spaces>}}-->&nbsp;&nbsp;<!--kadov_tag{{</spaces>}}-->If 
 the left-hand pane isn't visible, click the <span style="font-weight: bold;">Contents</span>, 
 <span style="font-weight: bold;">Index</span>, or <span style="font-weight: bold;">Search 
 </span><span>buttons to make it visible.</span> </p>

<p style="margin-left: 0px;">3. <!--kadov_tag{{<spaces>}}-->&nbsp;&nbsp;<!--kadov_tag{{</spaces>}}-->In 
 the Help window, do the following:</p>

<!--(Table)=========================================================-->
<table x-use-null-cells
		style="x-cell-content-align: top;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;"
		cellspacing=0
		width=100%>
<col style="width: 10.686%;">
<col style="width: 89.314%;">

<tr style="x-cell-content-align: top;"
	valign=top>
<td style="width: 10.686%;
			padding-right: 10px;
			padding-left: 10px;
			border-left-style: Solid;
			border-left-color: #000000;
			border-top-color: #000000;
			border-top-style: Solid;
			border-right-style: Solid;
			border-right-color: #000000;
			border-bottom-color: #000000;
			border-bottom-style: Solid;
			border-right-width: 1px;
			border-left-width: 1px;
			border-top-width: 1px;
			border-bottom-width: 1px;
			background-color: #a3a3ff;"
	bgcolor=#A3A3FF
	width=10.686%>
<p style="font-weight: bold; color: #ffffff;">Click:</td>
<td style="width: 89.314%;
			padding-right: 10px;
			padding-left: 10px;
			border-top-color: #000000;
			border-top-style: Solid;
			border-right-style: Solid;
			border-right-color: #000000;
			border-bottom-color: #000000;
			border-bottom-style: Solid;
			border-top-width: 1px;
			border-bottom-width: 1px;
			border-right-width: 1px;
			background-color: #a3a3ff;"
	bgcolor=#A3A3FF
	width=89.314%>
<p style="font-weight: bold; color: #ffffff;">To:</td></tr>

<tr style="x-cell-content-align: top;"
	valign=top>
<td style="width: 10.686%;
			padding-right: 10px;
			padding-left: 10px;
			border-left-style: Solid;
			border-left-color: #000000;
			border-left-width: 1px;
			border-right-style: Solid;
			border-right-color: #000000;
			border-right-width: 1px;
			border-bottom-width: 1px;
			border-bottom-color: #000000;
			border-bottom-style: Solid;"
	width=10.686%>
<p>Contents</td>
<td style="width: 89.314%;
			padding-right: 10px;
			padding-left: 10px;
			border-right-style: Solid;
			border-right-color: #000000;
			border-right-width: 1px;
			border-bottom-width: 1px;
			border-bottom-color: #000000;
			border-bottom-style: Solid;"
	width=89.314%>
<p>View the table of contents for the online Help. Click each book to display 
 pages that link to topics, and click each page to display the corresponding 
 topic in the right pane.</td></tr>

<tr style="x-cell-content-align: top;"
	valign=top>
<td style="width: 10.686%;
			border-left-width: 1px;
			border-left-color: #000000;
			border-left-style: Solid;
			border-right-width: 1px;
			border-right-color: #000000;
			border-right-style: Solid;
			border-bottom-style: Solid;
			border-bottom-color: #000000;
			border-bottom-width: 1px;
			padding-right: 10px;
			padding-left: 10px;"
	width=10.686%>
<p>Index </td>
<td style="width: 89.314%;
			border-right-width: 1px;
			border-right-color: #000000;
			border-right-style: Solid;
			border-bottom-style: Solid;
			border-bottom-color: #000000;
			border-bottom-width: 1px;
			padding-right: 10px;
			padding-left: 10px;"
	width=89.314%>
<p>Search for specific words or phrases or select from a list of index 
 keywords. Click the keyword to display the corresponding topic in the 
 right pane. </td></tr>

<tr style="x-cell-content-align: top;"
	valign=top>
<td colspan=1
	rowspan=1
	style="width: 10.686%;
			padding-right: 10px;
			padding-left: 10px;
			border-left-style: Solid;
			border-left-color: #000000;
			border-left-width: 1px;
			border-right-style: Solid;
			border-right-color: #000000;
			border-right-width: 1px;
			border-bottom-width: 1px;
			border-bottom-color: #000000;
			border-bottom-style: Solid;"
	width=10.686%>
<p>Search </td>
<td colspan=1
	rowspan=1
	style="width: 89.314%;
			padding-right: 10px;
			padding-left: 10px;
			border-right-style: Solid;
			border-right-color: #000000;
			border-right-width: 1px;
			border-bottom-width: 1px;
			border-bottom-color: #000000;
			border-bottom-style: Solid;"
	width=89.314%>
<p>Locate words or phrases within the content of your topics. Type the 
 word or phrase in the text field, press <span style="font-weight: bold;">ENTER</span>, 
 and select the topic you want from the list of topics.</td></tr>

<tr style="x-cell-content-align: top;"
	valign=top>
<td colspan=1
	rowspan=1
	style="width: 10.686%;
			padding-right: 10px;
			padding-left: 10px;
			border-left-width: 1px;
			border-left-color: #000000;
			border-left-style: Solid;
			border-right-width: 1px;
			border-right-color: #000000;
			border-right-style: Solid;
			border-bottom-style: Solid;
			border-bottom-color: #000000;
			border-bottom-width: 1px;"
	width=10.686%>
<p>Glossary </td>
<td colspan=1
	rowspan=1
	style="width: 89.314%;
			padding-right: 10px;
			padding-left: 10px;
			border-right-width: 1px;
			border-right-color: #000000;
			border-right-style: Solid;
			border-bottom-style: Solid;
			border-bottom-color: #000000;
			border-bottom-width: 1px;"
	width=89.314%>
<p>Display a list of words, short phrases, and their definitions related 
 to Remote Deployment Kit. When you select a term from the <span style="font-weight: bold;">Term 
 </span>list, its corresponding definition is displayed in <span style="font-weight: bold;">Definition</span>. 
 </td></tr>
</table>

<p>&nbsp;</p>

<p>
<!--Metadata type="DesignerControl" startspan
<object CLASSID="clsid:A2F1FA63-C1E6-11d2-9140-006DC83B9955"
		ID=SeeAlso
		BORDER=0
		style="margin-top: 0px;
				margin-bottom: 0px;
				margin-left: 0px;
				margin-right: 0px;
				vertical-align: baseline;"
		align=bottom>
<param name="_Version" value="65536" >
<param name="_ExtentX" value="1640" >
<param name="_ExtentY" value="582" >
<param name="_StockProps" value="13" >
<param name="ForeColor" value="0" >
<param name="BackColor" value="11055248" >
<param name="UseButton" value="-1" >
<param name="UseText" value="0" >
<param name="ControlLabel" value="See Also" >
<param name="UseIcon" value="0" >
<param name="Items" value="Using this Help system$$**$$" >
<param name="Image" value="" >
<param name="FontInfo" value="Verdana,8,0,," >
<param name="_CURRENTFILEPATH" value="D:\ElanceProjects\RemoteDeploymentKit\Using_this_Help_system\Finding_information_in_the_Help.htm" >
<param name="_ID" value="SeeAlso" >
<param name="DialogDisplay" value="1" >
<param name="Frame" value="" >
<param name="Window" value="" >
<param name="ChmFile" value="" >
<param name="DisableJump" value="0" >
</object>-->
<OBJECT
  CLASSID="clsid:ADB880A6-D8FF-11CF-9377-00AA003B7A11"
  ID="SeeAlso"  TYPE="application/x-oleobject">
  <PARAM  NAME="Command"  VALUE="ALink,MENU">
  <PARAM  NAME="Button"  VALUE="Text:See Also">
  <PARAM  NAME="Font"  VALUE="Verdana,8,0,,">
  <PARAM  NAME="Frame"  VALUE="">
  <PARAM  NAME="Item1"  VALUE="">
  <PARAM  NAME="Item2"  VALUE="Using this Help system">
</OBJECT>

<!--Metadata type="DesignerControl" endspan-->
 </p>

<!--kadov_tag{{<placeholder id="footer">}}-->
</body>

</html>
