<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Printing the Help</title>

<!--(Meta)==========================================================-->

<meta name="template" content="Copyright.htt">
<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=date content="11 16, 2001 6:56:45 PM">
<meta NAME=MS-HAID CONTENT="Using this Help system">
<meta name=topic-status content="In Progress">
<meta name=topic-priority content=0>
<meta name=topic-time-estimate content=0>
<meta name=topic-comment content>
<meta name=topic-id content="Using full-text search">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=398>
<meta name=layout-width content=741>


<!--(Links)=========================================================-->

<link rel="StyleSheet" href="..\Application Help.css">



</head>

<!--(Body)==========================================================-->


<body>

<h1>Printing the Help</h1>

<p style="margin-left: 0px;">Since users may want to print your online 
 topics, below are some sample steps. These steps may vary depending on 
 the type of project you created, so modify them where necessary.</p>

<p style="margin-left: 0px;">While using docAssist's <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->online 
 Help, you can print topics and information right from the browser window. 
 </p>

<h2>To print a Help topic:</h2>

<ol style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p><p>Right-click in the right pane and select <span 
 style="font-weight: bold;">Print</span>. The Print dialog opens.</p></li>
	
	<li class=kadov-p><p>Click <span style="font-weight: bold;">Print</span>. 
 The topic is printed to the specified printer.</p></li>
</ol>

<p>
<!--Metadata type="DesignerControl" startspan
<object CLASSID="clsid:A2F1FA63-C1E6-11d2-9140-006DC83B9955"
		ID=SeeAlso
		BORDER=0
		style="margin-top: 0px;
				margin-bottom: 0px;
				margin-left: 0px;
				margin-right: 0px;
				vertical-align: baseline;"
		align=bottom>
<param name="_Version" value="65536" >
<param name="_ExtentX" value="1640" >
<param name="_ExtentY" value="582" >
<param name="_StockProps" value="13" >
<param name="ForeColor" value="0" >
<param name="BackColor" value="11055248" >
<param name="UseButton" value="-1" >
<param name="UseText" value="0" >
<param name="ControlLabel" value="See Also" >
<param name="UseIcon" value="0" >
<param name="Items" value="Using this Help system$$**$$" >
<param name="Image" value="" >
<param name="FontInfo" value="Verdana,8,0,," >
<param name="_CURRENTFILEPATH" value="D:\ElanceProjects\docAssist\Using_this_Help_system\Printing_the_Help.htm" >
<param name="_ID" value="SeeAlso" >
<param name="DialogDisplay" value="1" >
<param name="Frame" value="" >
<param name="Window" value="" >
<param name="ChmFile" value="" >
<param name="DisableJump" value="0" >
</object>-->
<OBJECT
  CLASSID="clsid:ADB880A6-D8FF-11CF-9377-00AA003B7A11"
  ID="SeeAlso"  TYPE="application/x-oleobject">
  <PARAM  NAME="Command"  VALUE="ALink,MENU">
  <PARAM  NAME="Button"  VALUE="Text:See Also">
  <PARAM  NAME="Font"  VALUE="Verdana,8,0,,">
  <PARAM  NAME="Frame"  VALUE="">
  <PARAM  NAME="Item1"  VALUE="">
  <PARAM  NAME="Item2"  VALUE="Using this Help system">
</OBJECT>

<!--Metadata type="DesignerControl" endspan-->
 </p>

<!--kadov_tag{{<placeholder id="footer">}}-->
</body>

</html>
